---
import Base from "../../components/BaseHead.astro";
import Services from "../components/Services.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Members from "../components/Members.astro";
import News from "../components/News.astro";
import Donators from "../components/Donators.astro";
import "../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");
---
<Base title="WiiLink - TOS"/>
<Header />

<section class="section">
    <h1 style="font-family: Gilroy; margin-bottom: 18px;">The Terms</h1>
    <div class="polka-dot"></div>
    <p class="title">
        Terms of Use
    </p>
    <p>
        These Terms of Use ("Terms") are a legal agreement between the WiiLink Team and
        its related affiliates ("us," "our," or "we") and you ("you", "your", or "users"). By using, visiting or
        browsing this website or WiiLink's Demae Domino's service, you accept and agree to be bound by these
        Terms of Use. If you do not agree to these Terms of Use, you should not use the Demae Domino's service
        or this website. These Terms of Use affect your rights, and you should read them carefully. The WiiLink Team
        reserves the right to remove and permanently delete Your Content from the Service with or without
        notice for any or no reason.

    </p>
    <br>
    <br>
    <p class="title">
        Changes to Terms of Use
    </p>
    <p>
        The WiiLink Team reserves the right to update these Terms, which we may do for reasons that include,
        but are not limited to, complying with changes to the law or reflecting enhancements to the Service. If the
        changes affect your usage of the Service or your legal rights, we'll notify you no less than seven days
        before the changes take effect. Unless we state otherwise, your continued use of the Service after we post
        modifications will constitute your acceptance of and agreement to those changes.
        If you object to the changes, your recourse shall be to cease using the Service.
    </p>
    <br>
    <br>
    <p class="title">
        What these Terms of Use apply to
    </p>
    <p>
        These Terms of Use apply to this website, and the Demae Domino's service. These Terms do not apply to our
        other services such as the <a href="https://wiilink24.com">WiiLink website</a>, Wii Room, Digicam Print Channel
        and the vanilla Demae Channel. For the Terms of Use for those services, please visit this
        <a href="/eula">link</a>
    </p>
    <br>
    <br>
    <p class="title">
        Privacy and Personal Information
    </p>
    <p>
        By agreeing to these Terms of Use, you also agree to our <a href="/privacy-policy">Privacy Policy</a>.
        Please read them as they affect your rights.
    </p>
    <br>
    <br>
    <p class="title">
        Website Access or Demae Domino's Access
    </p>
    <p>
        WiiLink hereby grants you permission to use this website and Demae Domino's site as set forth in these
        Terms of Use, provided that: (i) your use of the service is for your own personal use, (ii) you will not
        distribute the WAD generated for your own specific console, (iii) you entered correct information into the
        Set Personal Data channel, (iv) you will otherwise comply with the terms
        and conditions of these Terms of Use.
        <br>
        <br>
        You agree not to use or launch any automated system, including without limitation, "robots," "spiders,"
        "offline readers," etc., that accesses the Website or Applications in a manner that sends more request
        messages to the WiiLink servers in a given period of time than a human can reasonably produce in the
        same period by using the Demae Channel. You agree not to collect or harvest any personally identifiable
        information, including account names, from the Website or Applications, nor to use the communication
        systems provided by this website for any commercial solicitation purposes.
    </p>
    <br>
    <br>
    <p class="title">
        Limitation of Liability
    </p>
    <p>
        In no event shall WiiLink be liable to you for any direct,
        indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any (i) errors,
        mistakes, or inaccuracies of content, (ii) personal injury or property damage, of any nature whatsoever,
        resulting from your access to and use of our website or service, (iii) any unauthorized access to or
        use of our secure servers and/or any and all personal information and/or financial information stored therein,
        (iv) any interruption or cessation of transmission to or from our website or applications, (iv) any bugs,
        viruses, trojan horses, or the like, which may be transmitted to or through our website or service by
        any third party. The foregoing limitation of liability shall apply to the fullest extent permitted by law
        in the applicable jurisdiction.
    </p>
    <br>
    <br>
    <p class="title">
        Ability To Accept Terms Of Use
    </p>
    <p>
        You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental
        or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations,
        affirmations, representations, and warranties set forth in these Terms of Use, and to abide by and comply
        with these Terms of Service. In any case, you affirm that you are over the age of 14, as the
        WiiLink services are not intended for children under 14. If you are under 14 years of age,
        then please do not use WiiLink services.
        <br>
        <br>
        You also affirm that you live either in the United States of America or Canada. If you do not, you cannot
        use this website or the Demae Domino's service.
    </p>
</section>

<Footer/>

<style>
    .section{
        width:1000px;
        left:50%;
        transform: translate(-50%,50px);
        margin-bottom: 80px;
        position: relative;
        color:white;
        font-family: Cafe;
    }
    .title{
        font-family: Gilroy;
        font-size: 30px;
    }
    .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#fff 10%, transparent 11%), radial-gradient(#fff 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.05;
    rotate: 30deg;
    left:-50px;
    top:-38px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

  .notification{
    background-color: #292929;
    padding:20px;
    border-radius:8px;
    border: 2px solid #ffffff20;
    text-align:center
  }

  .is-danger{
    background-color: #db0f0f20;
    border: 4px solid #db0f0f80;
  }

  .is-warning{
    background-color: #c9b81620;
    border: 4px solid #c9b81680;
  }

  strong{
    font-family:Gilroy;
    font-size:20px;
  }

  @media (max-width:1000px) {
    .section{
        width:98%;
    }
    h1{
        font-size: 100px;
    }
  }

</style>