---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<Layout
  title={t("tos.mainTitle")}
  description={t("tos.mainDesc")}
  image="/img/branding_bg.webp">
  <Header isGuide="display:none;" />

  <div class="sectiontop">
    <section class="section" style="top:200px !important; position:relative;">
      <h1 style="font-family: Gilroy; margin-bottom: 18px;">{t("tos.title")}</h1>
      <h4
        class="update"
        style="width:270px; top:20px; right:0; padding:10px; border-radius:8px; font-size:20px; font-family:inter; background-color:#00000060; position:absolute;"
        class="updated">
        {t("tos.updated")}
      </h4>
      <div class="polka-dot"></div>
      <p
        class="title"
        style="filter:opacity(0.3); font-family:inter; transform:translate(0, -20px);">
        {t("tos.desc")}
      </p>
      <p>
        {t("tos.about")}
      </p>
      <div
        class="alert alert-warning"
        style="color:black !important; font-family:inter;"
        role="alert">
        {t("tos.agreement")}
      </div>
      <p class="cjk">
        <b
          >{t("tos.disclaimer")}
        </b>
      </p>
      <p class="cjk">
        <br />
      </p>
      <p class="cjk">
        <p class="title">{t("tos.nintendo-service")}</p>
      </p>
      <h4 class="cjk">
        <Trans i18nKey="tos.art-one-title">
        Article 1: <u>Real legal stuff from Nintendo</u>
        </Trans>
      </h4>
      <p class="cjk">{t("tos.art-one-desc")}</p>
      <p class="cjk">
        {t("tos.art-one-wii-shop-channel-service-agreement")}
      </p>
      <ul>
        <li>
          <p class="cjk">
            {t("tos.art-one-wii-network-service-coc")}
          </p>
          <li>
            <p class="cjk">
              {t("tos.art-one-wii-network-service-privacy-policy")}
            </p>
          </li>
          <p class="cjk">
            {t("tos.art-one-review-docs")}
            <a href="http://wii.nintendo-europe.com/terms">http://wii.nintendo-europe.com/terms</a>
          </p>
          <p class="cjk">
            {t("tos.art-one-accept-doc-terms")}
          </p>
          <p class="cjk">
            <br />
          </p>
          <h4 class="cjk">
          <Trans i18nKey="tos.art-two-title">
            Article 2: <u>Grant of Licence</u>
          </Trans>
          </h4>
          <p class="cjk">
            {t("tos.art-two-licence")}
          </p>
          <ul>
            <li>
              <p class="cjk">
                {t("tos.art-two-wii-network")}
              </p>
              <li>
                <p class="cjk">
                  {t("tos.art-two-no-transfer")}
                </p>
                <li>
                  <p class="cjk">
                    {t("tos.art-two-illegal-usage")}
                  </p>
                  <li>
                    <p class="cjk">
                      {t("tos.art-two-clear-content")}
                    </p>
                  </li>
                  <p class="cjk">
                    <br />
                  </p>
                  <p class="title">
                    <b>{t("tos.wiilink")}</b>
                  </p>
                  <h4 class="cjk">
                  <Trans i18nKey="tos.art-three-title">
                    Article 3: <u>WiiLink</u>
                  </Trans>
                  </h4>
                  <p class="cjk">
                    {t("tos.art-three-desc")}
                  </p>
                  <p class="cjk">
                    <br />
                  </p>
                  <h4 class="cjk">
                  <Trans i18nKey="tos.art-four-title">
                    Article 4: <u>upgrades and Changes</u>
                  </Trans>
                  </h4>
                  <p class="cjk">
                    {t("tos.art-four-desc")}
                  </p>
                  <p class="cjk">
                    <br />
                  </p>
                  <p class="title">
                    <b>{t("tos.other")}</b>
                  </p>
                  <p class="cjk"></p>
                  <h4 class="cjk">
                  <Trans i18nKey="tos.art-five-title">
                    Article 5: <u>Intellectual property</u>
                  </Trans>
                  </h4>
                  <p class="cjk">
                    {t("tos.art-five-desc")}
                    <p class="cjk">
                      <br />
                    </p>
                    <h4 class="cjk">
                    <Trans i18nKey="tos.art-six-title">
                      Article 6: <u>Protection of Personal Information</u>
                    </Trans>
                    </h4>
                    <p>
                      {t("tos.art-six-desc")}
                    </p>
                    <p class="cjk">
                      <br />
                    </p>
                    <h4 class="cjk">
                    <Trans i18nKey="tos.art-seven-title">
                      Article 7: <u>Agreement updates</u>
                    </Trans>
                    </h4>
                    <p class="cjk">
                      {t("tos.art-seven-agreement-changes")}
                    </p>
                    <p class="cjk">
                      {t("tos.art-seven-notify-changes")}
                    </p>
                    <p class="cjk">
                      <br />
                    </p>
                    <h4 class="cjk">
                    <Trans i18nKey="tos.art-eight-title">
                      Article 8: <u>Non-Assignability</u>
                    </Trans>
                    </h4>
                    <p class="cjk">
                      {t("tos.art-eight-desc")}
                    </p>
                    <p class="cjk">
                      <br />
                    </p>
                    <h4 class="cjk">
                    <Trans i18nKey="tos.art-eight-title">
                      Article 9: <u>Agreement Interpretation</u>
                    </Trans>
                    </h4>
                    <p class="cjk">
                      {t("tos.art-nine-desc")}
                    </p>
                    <p class="cjk">
                      <br />
                    </p>
                    <h4 class="cjk">
                    <Trans i18nKey="tos.art-ten-title">
                      Article 10: <u>Definitions</u>
                    </Trans>
                    </h4>
                    <p>
                      {t("tos.art-ten-content")}
                    </p>
                    </p>
                    <p>
                      {t("tos.art-ten-nintendo-ip")}
                    </p>
                    <p>
                      {t("tos.art-ten-wii-points")}
                    </p>
                    <p>
                      {t("tos.art-ten-products")}
                    </p>
                    <p class="cjk">
                      {t("tos.art-ten-wiiLink")}
                    </p>
                    <p class="cjk">
                      {t("tos.art-ten-wii-console")}
                    </p>
                    <p>
                      {t("tos.art-ten-wii-network-services")}
                    </p>
                    <p>
                      {t("tos.art-ten-wii-network-services-coc")}
                      <a href="http://wii.nintendo-europe.com/terms">http://wii.nintendo-europe.com/terms</a>
                    </p>
                    <p>
                      {t("tos.art-ten-wii-network-services-privacy-policy")}
                      <a href="http://wii.nintendo-europe.com/terms">http://wii.nintendo-europe.com/terms</a>
                    </p>
                    <p>
                      {t("tos.art-ten-wii-points-card")}
                    </p>
                    <p>
                      {t("tos.art-ten-wii-shop-account")}
                    </p>
                    <p>
                      {t("tos.art-ten-wii-shop-service")}
                    </p>
                  </p>
                </li>

                <style>
                  .section {
                    max-width: 1500px;
                    padding-left: 5px;
                    padding-right: 5px;
                    left: 50%;
                    transform: translate(-50%, 50px);
                    margin-bottom: 80px;
                    position: relative;
                    font-family: inter;
                  }
                  .title {
                    font-family: Gilroy;
                    font-size: 30px;
                  }
                  h4 {
                    font-family: Gilroy;
                  }
                  p,
                  u,
                  b {
                    font-family: inter;
                  }
                  .polka-dot {
                    width: 240px;
                    height: 240px;
                    background-image: radial-gradient(#000 10%, transparent 11%),
                      radial-gradient(#000 10%, transparent 11%);
                    background-size: 30px 30px;
                    background-position:
                      0 0,
                      30px 30px;
                    opacity: 0.1;
                    rotate: 30deg;
                    left: -50px;
                    top: -38px;
                    background-repeat: repeat;
                    animation: rotate 240s linear infinite;
                    position: absolute;
                    z-index: 0;
                  }

                  @keyframes rotate {
                    0% {
                      rotate: 0deg;
                    }
                    100% {
                      rotate: 360deg;
                    }
                  }

                  .notification {
                    background-color: #292929;
                    padding: 20px;
                    border-radius: 8px;
                    border: 2px solid #ffffff20;
                    text-align: center;
                  }

                  .is-danger {
                    background-color: #db0f0f20;
                    border: 4px solid #db0f0f80;
                  }

                  .is-warning {
                    background-color: #c9b81620;
                    border: 4px solid #c9b81680;
                  }

                  strong {
                    font-family: Gilroy;
                    font-size: 20px;
                  }

                  @media (max-width: 1000px) {
                    .update {
                      display: none;
                    }
                  }
                </style>
              </li>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
  <br /><br /><br /><br /><br />
  <Footer />
</Layout>
