---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { Icon } from "astro-icon/components";

changeLanguage("en");
---

<Layout title="Nyan Cat Easter Egg - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;" />
<div class="section no-pad-bot">
  <div class="container center">
    <h1 class="header center">
      <Icon name="lucide:cat" aria-hidden="true" style="margin-bottom:10px;" /> Nyan Help Cat
    </h1>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/pc1PWfcYlKo?rel=0"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
      style="border-radius: 8px; overflow: hidden;"></iframe>
    <br />
    <br />
  </div>
</div>

<Footer />
