---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import "../../styles/global.css";
import Footer from "../../components/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");
---

<Layout title="WiiLink - Status" description="Check our service status and its completion!" image="/img/Status_embed.png" />

<div class="symbolholder">
	<div class="backsymbol">
		<div class="square2" id="square2">
<body>
		<img class="topimg" src="./img/statustop.png" style="">
		
		<section>
			<div id="svcicons" class="svcicons"></div>
			<h1 class="servicehead">Check out what we have to <b class="color">offer</b>!</h1>
			<div class="polka-dot"></div>
			<h2 class="servicedesc">Here's an up-to date list on all the projects we're working towards <o class="color">reviving</o> and/or <o class="color">improving</o>!</h2>
			<div class="serviceshold">
				<div id="postholder"> </div>
				<div id="postholder2"></div>
			</div>

			<a href="https://status.wiilink24.com/"><div class="status">Check out the status of our servers.</div></a>
			
		</section>

		<Header/>
</div>
<div class="square"></div>
<div class="footer-holder">
			<img class="footer-logo" src="img/logo.png" style="left:50px; filter:invert(1); position:relative;" height="150px">
			<h4 class="slogan"><b style="font-family:Rubik;">WiiLink</b> is an unofficial, non-profit homebrew project. It is not affiliated with Nintendo and all trademarks are the property of their respective owners. No copyright infringement intended.</br></br>© 2020-2023 <b style="font-family:Rubik;">WiiLink</b><b style="font-family:Gilroy;"> Team</b></h4>
		
			<div class="socials">
				<a href="https://discord.gg/wiilink-750581992223146074" style="color:white;"><div>Discord<i style="margin-left:5px;" class="fa-brands fa-discord"></i></div></a>
				<a href="https://twitter.com/WiiLink24" style="color:white;"><div>Twitter<i style="margin-left:10px;" class="fa-brands fa-twitter"></i></div></a>
				<a href="https://github.com/WiiLink24" style="color:white;"><div>GitHub<i style="margin-left:10px;" class="fa-brands fa-github"></i></div></a>
				<a href="" style="color:white;"><div>Stripe<i style="margin-left:15px;" class="fa-brands fa-stripe-s"></i></div></a>
				<a href="https://www.youtube.com/@wiilink" style="color:white;"><div>YouTube<i style="margin-left:5px;" class="fa-brands fa-youtube"></i></div></a>
			</div>
		</div>
</div>
</div>
</body>

<script>
	
	const scrollableDiv = document.getElementById('square2');

scrollableDiv.addEventListener('scroll', function() {
  // Check if the user has scrolled to the bottom
  if (scrollableDiv.scrollHeight - scrollableDiv.scrollTop <= scrollableDiv.clientHeight + 30) {
    // User has scrolled to the end
    scrollableDiv.style.setProperty("height", "calc(100% - 300px)");
  } else {
	scrollableDiv.style.setProperty("height", "calc(100% - 0px)");
  }
});

	
</script>

<script is:inline>
			let rand =  [];
    document.addEventListener("DOMContentLoaded", async function () {

           fetch("json/services.json")
           .then(response => response.json())
           .then(data => showService(data));

           function showService(data) {
            let services = document.getElementById("postholder");
			let services2 = document.getElementById("postholder2");
			let svcicons = document.getElementById("svcicons");

			for(let i = 0; i < 5; i++) {
				svcicons.innerHTML += "<img style='filter:brightness(0); object-fit:contain;' src='img/" + data.services.service[i].icon + "' height='50px'>"
			}

            for(let i = 0; i < (data.services.service.length)/2; i++) {
				rand.push((Math.random() * 2)-1.5);
				console.log(rand);
                services.innerHTML += "<div onmouseover='effect("+ i + ")'  onmouseout='noEffect("+ i + ")' class='service' style='height:calc(auto + 50px); border: 4px solid" + data.services.service[i].color + "; border-radius:16px; box-shadow:0px 0px 20px " + data.services.service[i].color + "40; margin:15px; overflow:;'><div style='top:25px; align-self:center; display:flex; position:relative; left:5%;'><img src='img/" + data.services.service[i].icon + "' style='object-fit:contain;' width='50px' height='50px'><h2 style='top:-3px; left:20px; font-family:Gilroy; position:relative;'>" + data.services.service[i].name + "</h2><h3 style='left:72px; top:35px; font-size:15px; opacity:0.3; position:absolute;'>" + data.services.service[i].isArea + "</h3><div class='stat' style=' top:50%; right:70px; width:auto; transform:translate(0, -50%); font-family:Gilroy; color:white; border-radius:80px; padding:5px; padding-left:15px; padding-right:15px; position:absolute;'>" + data.services.service[i].status + "</div></div> <h3 style='top:35px; left:50%; width:90%; transform:translate(-50%, 0); font-size:25px; font-weight:200; position:relative;'>" + data.services.service[i].desc + "</h3><h3 style='top:10px; margin:40px; position:relative;'>" + data.services.service[i].todo + "</h3><div class='barhold' style='margin-bottom:30px; left:50%; transform:translate(-50%, 0); width:85%; height:20px; border-radius:20px; background-color:" + data.services.service[i].color + "20; overflow:hidden; position:relative;'><div class='bar' style='height:20px; width:" + data.services.service[i].completed + "%; background-color:" + data.services.service[i].color + "; border-radius:80px;'></div></div></div>";
				if (data.services.service[i].status == "Completed" || data.services.service[i].status == "Full Release"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-green)";
				}
				else if (data.services.service[i].status == "In development" || data.services.service[i].status == "Public Beta" || data.services.service[i].status == "Private Beta"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-blue)";
				}
				else if (data.services.service[i].status == "Halted" || data.services.service[i].status == "Planned"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-red)";
				} else {
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-gray)";
				}
           }
		   for(let i = (data.services.service.length)/2; i < data.services.service.length; i++) {
			rand.push((Math.random() * 2)-1.5);
			services2.innerHTML += "<div onmouseover='effect("+ i + ")'  onmouseout='noEffect("+ i + ")' class='service' style='height:calc(auto + 50px); border: 4px solid" + data.services.service[i].color + "; border-radius:16px; box-shadow:0px 0px 20px " + data.services.service[i].color + "40; margin:15px; overflow:;'><div style='top:25px; align-self:center; display:flex; position:relative; left:5%;'><img src='img/" + data.services.service[i].icon + "' style='object-fit:contain;' width='50px' height='50px'><h2 style='top:-3px; left:20px; font-family:Gilroy; position:relative;'>" + data.services.service[i].name + "</h2><h3 style='left:72px; top:35px; font-size:15px; opacity:0.3; position:absolute;'>" + data.services.service[i].isArea + "</h3><div class='stat' style=' top:50%; right:70px; width:auto; transform:translate(0, -50%); font-family:Gilroy; color:white; border-radius:80px; padding:5px; padding-left:15px; padding-right:15px; position:absolute;'>" + data.services.service[i].status + "</div></div> <h3 style='top:35px; left:50%; width:90%; transform:translate(-50%, 0); font-size:25px; font-weight:200; position:relative;'>" + data.services.service[i].desc + "</h3><h3 style='top:10	px; margin:40px; position:relative;'>" + data.services.service[i].todo + "</h3><div class='barhold' style='margin-bottom:30px; left:50%; transform:translate(-50%, 0); width:85%; height:20px; border-radius:20px; background-color:" + data.services.service[i].color + "20; overflow:hidden; position:relative;'><div class='bar' style='height:20px; width:" + data.services.service[i].completed + "%; background-color:" + data.services.service[i].color + "; border-radius:80px;'></div></div></div>";
			if (data.services.service[i].status == "Completed" || data.services.service[i].status == "Full Release"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-green)";
				}
				else if (data.services.service[i].status == "In development" || data.services.service[i].status == "Public Beta" || data.services.service[i].status == "Private Beta"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-blue)";
				}
				else if (data.services.service[i].status == "Halted" || data.services.service[i].status == "Planned"){
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-red)";
				} else {
					document.getElementsByClassName("stat")[i].style.backgroundColor = "var(--bs-gray)";
				}
		}

           }
    });
    
	let canChange = 0;

	async function effect(i){
			document.getElementsByClassName("service")[i].style.transform = "scale(105%) rotate(" + rand[i] + "deg)";
			document.getElementsByClassName("service")[i].style.transition = "0.3s";
			canChange=0;
	}
	async function noEffect(i){
		document.getElementsByClassName("service")[i].style.transform = "scale(100%) rotate(0deg)";
		canChange=1;
	}
    </script>

<style>
	.servicehead{
		top:230px;
		font-family: Gilroy;
		position: relative;
	}
	.servicedesc{
		position:relative;
		top:180px;
		text-align: center;
	}


	.socials{
		top:50%;
		right:50px;
		transform: translate(0, -50%);
		color:white;
		font-size: 25px;
		width:150px;
		justify-content:right;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
	}
	.slogan{
		left:80px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color:white;
		width:500px;
		position: relative;
	}
	.footer-holder{
		bottom:20px;
		left:50%;
		transform: translate(-50%, 0);
		display:flex;
		align-items: center;
		width:98%;
		height:250px;
		position: absolute;
	}

	.symbolholder{
		background-color: var(--bg-color);
		top:0;
		left:0;
		width:100%;
		height:100%;
		transition: 0.5s;
		z-index: 1;
		overflow: hidden;
		position: fixed;
	}

	.backsymbol {
		width:100%;
		height:100%;
		top:0%;
		left:50%;
		transform: translate(-50%, 0);
		z-index: 1;
		position: absolute;
	}
	.contentholder{
		left:50%;
		transform: translate(-50%,0);
		max-width:1000px;
		position: relative;
	}
	.bottomleftcorner{
		animation: changecolor 10s linear infinite;
		position: relative;
	}
	.bottomleftcornerholder{
		left:-2.6px;
		bottom:-3px;
		scale:31.6%;
		transform: translate(-106.5%, 107.3%);
		z-index: 2;
		position: absolute;
	}
	.square {
		--img-invert: 0;
		width:100%;
		height:100%;
		background: linear-gradient(41deg, rgba(0,138,255,1) 0%, rgba(255,0,59,1) 100%);
		z-index: 0;
		animation: changecolor 10s linear infinite;
		position: absolute;
	}
	#square2{
		width:100%;
		height:100%;
		left:0;
		top:0;
		background-color: #ffffff;
		transform: translate(0%, 0%);
		border-radius: 4px;
		z-index: 1;

		transition:0.5s;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
	}


	#svcicons{
		top:160px;
		left:50%;
		transform: translate(-50%, 0);
		mask-image: url("/img/header_bg.png");
		-webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
		display:flex;
		gap:15px;
		position: absolute;
	}

	h1 {
		color: var(--bg-text);
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		transition: 0.5s;
	}
	h2{
		--bg-text: #000000;

		color: var(--bg-text);
		text-align: center;
		transition: 0.5s;
		z-index: 1;
		position: relative;
	}

	.color {
        background: url("/img/header_bg.png");
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   filter:brightness(150%);
    }
	
	element {
  background-color: #787878;

  border: 2px solid #787878;

}

	.serviceshold{
		left:50%;
		transform: translate(-50%, 0);
		width: 80%;
		display: grid;
		align-items: start;
		grid-template-columns:repeat(auto-fit, minmax(540px, 1fr));
		position: relative;
	}

	.service:hover{
		opacity: 0.5;
	}

	#postholder{
		width:auto%;
		display: grid;
		align-items: start;
		grid-template-columns:repeat(auto-fit, minmax(540px, 1fr));
		gap: 0px;
		top:250px;
		position: relative;
		padding-bottom:50px;
		z-index: 10;
	}

	#postholder2{
		width:auto;
		display: grid;
		align-items: start;
		grid-template-columns:repeat(auto-fit, minmax(540px, 1fr));
		gap: 20px;
		top:250px;
		position: relative;
		padding-bottom:50px;
		z-index: 10;
	}

	.post{
		position: relative;
    	height:250px;
    	width:100%;
		margin-bottom:50px;
 		background-color:rgba(255, 255, 255, 0.041);
    	border-radius: 15px;
		font-family: Gilroy;
    	hyphens:auto;
    	border: 3px solid rgba(255, 255, 255, 0.244);
		opacity:0;
    	transition: 0.5s;
		animation-name: fadeup;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
		animation-delay:0.22s;
	}

	.post:hover{
		border: 3px solid rgba(255, 255, 255, 0.483);
	}

	.post:hover .image{
		transform: translate(0, -5px);
		filter: drop-shadow(0px 0px 18px #ffffff14);
		-webkit-filter: drop-shadow(0px 0px 18px #ffffff14);
		scale:103%;
		transition: 0.5s;
	}

	.image{
		width:250px;
		left:50px;
		top:-30px;
		position: absolute;
		transition: 0.5s;
	}

	.title{
		position: absolute;
		z-index: 11;
		font-size: 30px;
		top:30px;
		right:40px;
		width: 60%;
		text-align: right;
		font-family: Gilroy;
		transition: 0.5s;
	}

	.desc{
		position: absolute;
		font-family: Cafe;
		width:90%;
		margin-left:5%;
		margin-right:5%;
		font-size: 20px;
		left:0px;
		bottom:100px;
		transform:translate(0,50px);
		text-align: justify;
		transition: 0.5s;
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: "ellipsis";
	}

	.polka-dot {
    	width: 240px;
    	height: 240px;
		background-image:radial-gradient(#000000e5 2px,transparent 2px);
		background-size:30px 30px;
    	background-position: 0 0, 30px 30px;
    	opacity: 0.1;
    	rotate: 30deg;
    	left:6%;
    	top:178px;
    	background-repeat: repeat;
		animation: rotate 240s linear infinite;
    	position: absolute;
    	z-index: 0;
  	}

	.topimg{
		filter:invert(0); transform:translate(-100px,-100px); opacity:0.03; position:absolute; width:100%;
	}

	@keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

	a{
		bottom:50px;
		z-index:1;
		color:white;
	}

	@keyframes fadeup{
		0%{
			opacity:0;
			transform: translate(0, 10px);
		}
		100%{
			opacity:1;
			transform: translate(0, 0px);
		}
	}

	.status{
		top:0;
		right:0;
		position: relative;
	}

	.work{
		top:78px;
		right:40px;
		position: absolute;
		border: 0px solid white;
		border-radius: 18px;
	}

	.chip{
		padding-left:10px;
		padding-right:10px;
		border-radius: 18px;
		line-height: 30px;
	}

	.status{
		top:235px;
		width:80%;
		left:50%;
		transform: translate(-50%, 0);
		height:50px;
		background-color: rgba(110, 110, 187, 0.452);
		color: white;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 20px;
		position: relative;
		border-radius: 8px;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
		backdrop-filter:blur(8px);
		-webkit-backdrop-filter: blur(8px);
		z-index: 1;
		transition: 0.5s;
	}

	.status:hover{
		transform: translate(-50%,-2px);
		box-shadow: 0px 0px 30px rgba(169, 182, 255, 0.137);
		text-decoration: underline;
		transition: 0.5s;
	}

	@media (max-width:1000px) {
		.postholder{
			left:0;
			transform: translate(0, -50px);
			width:100%;
			display: block;
		}
		.work{
			right:20px;
		}
		.desc{
			display:none;
		}
		.title{
			right:20px;
			width:100%;
		}
		.post{
			height:150px;
			margin-bottom: 10px;
		}
		.post:hover .image{
			transform: translate(0, -50%);
			scale:103%;
		}
		.image{
			top:50%;
			left:20px;
			width:200px;
			transform:translate(0, -50%);
			opacity: 0.4;
		}
		.status{
			width:100%;
			border-radius: 0px;
		}
	}

	@media (min-width:2500px) {
		section{
			width:2500px;
			left:50%;
			transform: translate(-50%, 0);
			position: relative;
		}
		.status{
			width:2000px;
			left:50%;
			transform: translate(-50%, 0);
		}
		.topimg{
			width:2000px;
			left:50%;
			transform: translate(-50%, -158px);
		}
	}
</style>

