---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { Icon } from "astro-icon/components";

changeLanguage("en");
---
<Layout title="Wii Shop Channel with Lyrics - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;"/>
	<div class="section no-pad-bot">
		<div class="container center">
			<h1 class="header center"><Icon name="lucide:shopping-basket" aria-hidden="true" style="margin-bottom:10px;" /> Wii Shop Channel with Lyrics</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3ruNfajgUr0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="border-radius: 8px; overflow: hidden;"></iframe>
			<br>
			<img class="spin" src="https://www.rc24.xyz/images/wiimenu/ring.png" alt="Wii Shop Channel Ring">
		</div>
	</div>

    <div class="section">
		<div class="container">
			<p class="center">
				YOU WILL BUY THESE THINGS!<br>
				YOU WILL BUY THESE THINGS!<br>
				YOU WILL BUY THESE THINGS!<br>
				<br>
				WELCOME TO THE WII SHOP CHANNEL,<br>
				WE HAVE SOFTWARE & GAMES TO SELL<br>
				<br>
				SO WE WROTE THIS HYPNOTIC TUNE,<br>
				WHICH TURNS YOUR BRAIN INTO A PRUNE<br>
				<br>
				OH JA, PRUNY BRAINS<br>
				THE KIND OF BRAINS ZAT BUY STUFF<br>
				EVEN GAMES THAT NO ONE EVER PLAYED<br>
				(Ja, we've got lots of zat)<br>
				<br>
				WE'VE GOT CLASSICS LIKE CHEW MAN FU,<br>
				WHO COULD FORGET NEUTOPIA II?<br>
				DOUBLE DUNGEONS & DRAGON'S CURSE<br>
				THEY SOUND FUN RIGHT? NOW GRAB YOUR PURSE!<br>
				<br>
				WE WANT YOUR CASH, <i>MIT</i> NO FRIVOLOUS DISTRACTIONS<br>
				MINIMAL DESIGN!<br>
				SIMPLE, PURE & LIGHT!<br>
				HERE'S THE BOTTOM LINE: BASICALLY IT'S WHITE<br>
				CATCHY MUSIC, IT MAKES YOU BUY,<br>
				& IT'S SO FUN TO WATCH YOU TRY<br>
				IT MAY TAKE YOU A THOUSAND CLICKS,<br>
				PARTY LIKE IT'S 2006<br>
				<br>
				BUY THE GAME, IT'S BETTER THAN A CARTRIDGE<br>
				WHO WOULD WANT TO BLOW A FAULTY CART?<br>
				(GAY & LADY CARTS!)<br>
				<br>
				YOU NEED WII POINTS TO BUY OUR STUFF<br>
				IT LOOKS LIKE YOU DON'T HAVE ENOUGH<br>
				YOU MUST INPUT YOUR CREDIT CARD,<br>
				& WE PURPOSELY MADE IT HARD<br>
				<br>
				HAHAHAHAAH,<br>
				LOOK AT YOUR FACE<br>
				YOU JUST CLICKED FOR TWENTY MINUTES<br>
				THEN WE SWITCHED THE SIDE WHERE YOU CLICK FOR YES<br>
				DO IT ALL AGAIN!<br>
				TROLLIN FOR THE WIN!<br>
				<br>
				JA! <i>MEIN</i> LITTLE WII<br>
				WE'RE GONNA MAKE A STRANGE, CLUNKY LITTLE STORE PROGRAM, & WE'LL USE THE MONEY TO BUY BEER & SPAM!<br>
				<br>
				BUY SOME STUFF, & THEN PLEASE BUY SOME MORE STUFF<br>
				THATS MY SONG ABOUT THE WII SHOP,<br>
				NOT TO BE CONFUSED WITH ESHOP<br>
				PLEASE SHOP AT THE WII SHOP TILL YOU DIE,<br>
				OR IF YOU'RE NOT OLD ENOUGH,<br>
				ASK YOUR PARENTS FOR HELP<br>
			</p>
		</div>
	</div>

<Footer />