---
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIpTION } from "../../consts";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("vi");
---
<Layout title={t("tos.mainTitle")} description={t("tos.mainDesc")} image="/img/branding_bg.png">
<Header isGuide="display:none;"/>

<div class="sectiontop">
<section class="section">
    <h1 style="font-family: Gilroy; margin-bottom: 18px;">The Terms</h1>
    <h4 class="update" style="width:270px; top:20px; right:0; padding:10px; border-radius:8px; font-size:20px; font-family:inter; background-color:#00000060; position:absolute;" class="updated" >Last updated: 08/03/2023</h4>
    <div class="polka-dot"></div>
    <p class="title" style="filter:opacity(0.3); font-family:inter; transform:translate(0, -20px);">
        Terms of usage for the WiiLink family of services
    </p>
      <p>This agreement is for usage of WiiLink, a replacement WiiConnect24 service, as well as services we provide via our DNS</p>
        <div class="alert alert-warning" style="font-family:inter;" role="alert">
          By using this service you automatically agree to these terms and conditions.
      </div>
      <p class="cjk" >
      <b>This
      is an agreement between you and WiiLink, and it's developers, as well as the services accessible via the DNS. 
      WiiLink will be referred to as &ldquo;WiiLink&rdquo; or &ldquo;WL&rdquo;. </b>
      </p>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      <p class="title" >Nintendo's Online Services. </p>
      </p>
      <h4 class="cjk" >
      Article
      1: <u>Real legal stuff from Nintendo</u></h4>
      <p class="cjk" >
      This
      agreement covers your use of the Wii Shop channel.
      </p>
      <p class="cjk" >
      Further
      to the terms of this agreement and, where applicable, the Wii Shop
      Channel Service agreement, this agreement also includes the following
      documents:</p>
      <ul>
        <li><p class="cjk" >
        The
        Wii Network Services Code of Conduct. The purpose of this document
        is to keep the Wii Network Services a friendly and safe environment.</p>
        <li><p class="cjk" >
        The
        Wii Network Services privacy policy. This document provides you with
        an understanding of the information that is submitted and collected
        through the Wii Network Services.
        </p>
      </ul>
      <p class="cjk" >
      We
      strongly recommend that you review both of these documents before
      accepting the terms of this agreement. The complete versions of these
      documents are available at http://wii.nintendo-europe.com/terms.</p>
      <p class="cjk" >
      by
      accepting the terms of the Wii Network Services agreement, you are
      also unreservedly accepting all of the terms of these documents.</p>
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      2: <u>Grant of Licence</u></h4>
      <p class="cjk" >
      We
      grant you a personal, limited, non-exclusive, revocable licence to
      use the Wii Network Services, in accordance with this agreement.
      Specifically:</p>
      <ul>
        <li><p class="cjk" >
        The
        Wii Network Services is solely for your own personal recreational
        use. However, you are responsible for your use and for anyone else&rsquo;s
        use of the Wii Network Services through your Wii console, whether or
        not you give them permission to do so.
        </p>
        <li><p class="cjk" >
        You
        may not transfer or assign this licence to another person or entity,
        and any attempt to transfer or assign this licence will be void.
        </p>
        <li><p class="cjk" >
        You
        may not use or attempt to use the Wii Network Services for any
        commercial or illegal purpose, or in a way that may harm another
        person or company, or in an unauthorised or otherwise improper
        manner as we may specify from time to time.</p>
        <li><p class="cjk" >
        You
        are responsible for clearing all Content, including games and other
        software downloaded through the Wii Shop Channel, and any personal
        data, and all other stored sensitive information that is resident on
        your Wii console prior to selling or otherwise transferring your Wii
        console to any third party. If you acquire a used Wii console, you
        are also responsible for clearing all Content, personal data, and
        all other stored sensitive information that may be resident on that
        Wii console at the time you acquire it.</p>
      </ul>
      <p class="cjk" >
      <br>
      </p>
      <p class="title" >
      <b>WiiLink
      </b>
      </p>
      <h4 class="cjk" >
      Article
      3: <u>WiiLink</u></h4>
      <p class="cjk" >
      By
      registering for the Wii Network Services and WiiLink you agree that we may
      provide you with WiiLink services. Some of these may be provided via Standby Connection.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      4: <u>upgrades and Changes</u></h4>
      <p class="cjk" >
      The owners of WiiLink
      may upgrade (patch) any software distributed through WiiLink or
      change the Internet content of WiiLink, in part or in whole, at
      any time. However, any such upgrade or change will be for the benefit
      of users of WiiLink.</p>
      <p class="cjk" >
      <br>
      </p>
      <p class="title" >
      <b>Other</b></p>
      <p class="cjk" >
      </p>
      <h4 class="cjk" >
      Article
      5: <u>Intellectual property</u></h4>
      <p class="cjk" >
      All WiiLink's
      servers are based off reverse engineering or packet dumps of legitimate WiiConnect24 files; thus, all patchers, content creators, and scripts are &copy; WiiLink 2020-2023
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      6: <u>Protection of Personal Information</u></h4>
<p>
        As
        part of WiiLink's service, we provide an optional mail service through the Wii Message Board. Inbound and outbound mail is stored in a database in our server.
        We will never attempt to access the mail unless a server issue arises. If you have a complaint regarding a user sending inappropriate mail, please remove them
        from your friends list. WiiLink cannot view or modify your friends list.
        </p>

      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk"  >
      Article
      7: <u>Agreement updates</u></h4>
      <p class="cjk" >
      WiiLink
      may change the terms and conditions of this agreement, including the
      Wii Network Services Code of Conduct and the Wii Network Services
      privacy policy which are both made a part of this agreement, at any
      time as far so this is necessary or helpful to enhance the service or
      to adapt it to reflect changes in technical or legal requirements.
      </p>
      <p class="cjk" >
      A
      current version of this agreement will always be available on the
      Internet at https://wiilink24.com/tos
      We will post a message on the Wii Message board informing you about a
      change to this agreement at least 5 days before the change becomes
      official.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      8: <u>Non-Assignability</u></h4>
      <p class="cjk" >
      You
      are responsible for use of your Wii console and the Wii Network
      Services by your friends and family. You may not assign this
      agreement to a third party.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      9: <u>Agreement Interpretation</u>
      </h4>
      <p class="cjk" >
      If
      any part of this agreement is found to be invalid or unenforceable,
      that part of the agreement will no longer apply. You agree that the
      invalid part will be considered deleted from the agreement, but that
      all other parts of the agreement will remain in effect. You further
      agree that we may replace the invalid part by a provision which
      reflects or comes closest to reflecting the initial intention.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h4 class="cjk" >
      Article
      10: <u>Definitions</u></h4>
      <p >
      &ldquo;Content&rdquo;
      means the software and content, including applications called
      &ldquo;Channels&rdquo;, which Nintendo owns, or has obtained the
      right to use, distribute or sublicense, and which is available for
      downloading through the Wii Shop Channel Service, or through other
      means.</p>
      <p >
       &ldquo;Nintendo
      Intellectual property&rdquo; means all intellectual property
      associated with the Wii console and the Wii Network Services,
      including but not limited to trademarks, service marks, logos,
      designs, copyrights, inventions, patents, trade secrets, know-how and
      other confidential and proprietary information which Nintendo
      developed, owns or is granted a licence to use.
      </p>
      <p >
      &ldquo;Wii
      points&rdquo; means the points which you purchase from Nintendo
      through the Wii Shop Channel Service or via Wii points Cards and
      which may be used by you in exchange for a licence to use Content or
      to purchase products.</p>
      <p >
       &ldquo;products&rdquo;
      means any goods other than Content which are made available for
      purchase through the Wii Shop Channel Service.
      </p>
      <p class="cjk" >
      &ldquo;WiiLink&rdquo;
      means the service whereby WiiLink can distribute software, material,
      e-mail and other data to your Wii console, and the Wii Message board
      of your Wii console, at any time and whereby you can send and receive
      e-mails, photographs and other material using your Wii console.</p>
      <p class="cjk" >
      &ldquo;Wii
      console&rdquo; means Nintendo&rsquo;s system sold and marketed by
      Nintendo under the Wii brand, including any succeeding systems and
      compatible systems.</p>
      <p >
      &ldquo;Wii
      Network Services&rdquo; means the Wii Shop Channel Service,
      WiiConnect24, and any related services and material delivered to your
      Wii console over the Internet, including but not limited to Content,
      products and Wii points.</p>
      <p >
      &ldquo;Wii
      Network Services Code of Conduct&rdquo; means the code of conduct
      applicable to the Wii Network Services as revised by us from time to
      time, a current version of which will always be available at
      http://wii.nintendo-europe.com/terms</p>
      <p >
      &ldquo;Wii
      Network Services privacy policy&rdquo; means the privacy policy
      applicable to the Wii Network Services as revised by us from time to
      time, a current version of which will always be available at
      http://wii.nintendo-europe.com/terms</p>
      <p >
      &ldquo;Wii
      points Card&rdquo; means prepaid cards sold or distributed by
      Nintendo or Nintendo&rsquo;s promotional partners which contain
      credits for Wii points.</p>
      <p >
      &ldquo;Wii
      Shop Channel Account&rdquo; means a non-transferable personal account
      that will be established on your Wii console upon acceptance of these
      terms and the Wii Shop Channel Service terms of use, and which you
      use in connection with the Wii Shop Channel Service.
      </p>
      <p >
      &ldquo;Wii
      Shop Channel Service&rdquo; means the services related to the Wii
      Shop Channel Account, Wii points, products, online store, and
      download service, all of which Nintendo directly or indirectly
      operates, as outlined in this agreement.
      </p>
    
</section>
</div>

<Footer />

<style>
    .section{
        max-width:1500px;
        padding-left:5px;
        padding-right:5px;
        left:50%;
        transform: translate(-50%,50px);
        margin-bottom: 80px;
        position: relative;
        font-family: inter;
    }
    .title{
        font-family: Gilroy;
        font-size: 30px;
    }
    h4{
      font-family:Gilroy;
    }
    p, u, b{
      font-family:inter;
    }
    .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#000 10%, transparent 11%), radial-gradient(#000 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.1;
    rotate: 30deg;
    left:-50px;
    top:-38px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

  .notification{
    background-color: #292929;
    padding:20px;
    border-radius:8px;
    border: 2px solid #ffffff20;
    text-align:center
  }

  .is-danger{
    background-color: #db0f0f20;
    border: 4px solid #db0f0f80;
  }

  .is-warning{
    background-color: #c9b81620;
    border: 4px solid #c9b81680;
  }

  strong{
    font-family:Gilroy;
    font-size:20px;
  }

  @media (max-width:1000px) {
    .update{
      display:none;
    }
  }

</style>