---
import { changeLanguage } from "i18next";
import Layout from "../../../../layouts/layout.astro";
import Header from "../../../../components/header.astro";
import Footer from "../../../../components/footer.astro";

changeLanguage("ca");
---

<Layout title="Comic Strips Gallery - WiiLink" />
<Header isGuide="display:none;" />
<div
  style="width:98%; max-width:1300px; margin-bottom:30px; left:50%; transform:translate(-50%, 0); padding:10px; border-radius:8px; color:white; background-color:rgb(203, 60, 60); box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1); text-align:center; position:relative;">
  <i class="fa fa-triangle-exclamation"></i> Heads up! This content is a port of
  the RiiConnect24 site
</div>
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center">
      <i class="fas fa-book" aria-hidden="true"></i> Comic Strips Gallery
    </h1>
    <div class="row center">
      <h5 class="header center col s12">
        You can view a collection of stupid comic strips featuring RiiConnect24
        developers here.
      </h5>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_1.png" />
          </div>
          <div class="card-content">
            <span class="card-title"
              >Work Your Ass Off for the Wii Channels to Work</span
            >
          </div>
          <div class="card-action">
            <a href="strip_1.png">Download</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_2.png" />
          </div>
          <div class="card-content">
            <span class="card-title">We Got Stamped</span>
          </div>
          <div class="card-action">
            <a href="strip_2.png">Download</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_3.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Technical Difficulties</span>
          </div>
          <div class="card-action">
            <a href="strip_3.png">Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_4.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Flooded</span>
          </div>
          <div class="card-action">
            <a href="strip_4.png">Download</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_5.png" />
          </div>
          <div class="card-content">
            <span class="card-title">RiiConnect24 Bakery</span>
          </div>
          <div class="card-action">
            <a href="strip_5.png">Download</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_6.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Apples</span>
          </div>
          <div class="card-action">
            <a href="strip_6.png">Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_7.png" />
          </div>
          <div class="card-content">
            <span class="card-title">RiiConnect24 Bakery is Back</span>
          </div>
          <div class="card-action">
            <a href="strip_7.png">Download</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/strips/strip_8.png" />
          </div>
          <div class="card-content">
            <span class="card-title">PokeAcer's Merchandise</span>
          </div>
          <div class="card-action">
            <a href="strip_8.png">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<Footer />

<style>
  .card {
    border-radius: 8px;
    margin: 10px;
    border: 2px solid #ffffff20;
    box-shadow: 0px 0px 28px #6c6c6c20;
    overflow: hidden;
  }

  .card-image {
    padding: 20px;
  }
</style>
