---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { Icon } from "astro-icon/components";

changeLanguage("en");
---

<Layout title="EVC Poll Results - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;" />
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header">
      <Icon name="lucide:message-circle" aria-hidden="true" style="margin-bottom:10px;" /> Everybody Votes Channel
    </h1>
    <div class="row">
      <h5 class="col s12" style="opacity:0.7;">
        You can find poll results from all polls in the Everybody Votes Channel
        here.
      </h5>
    </div>
  </div>
</div>
<br>
<div class="section">
  <div class="container">
    <div class="row center">
      <p>Whose results do you want to view?</p>
      <div
        class="collection"
        style="left:50%; width:100%; max-width:1400px; transform:translate(-50%, 0); background-color:#ffffff00; border:0px; display:grid; grid-template-columns: repeat(auto-fit,minmax(345px,1fr)); gap:18px; overflow: visible; position:relative;">
        <a href="https://rc24.xyz/goodies/vote/nintendo.html" class="collection-item"
          ><h3 class="center">Nintendo</h3></a
        >
        <a href="https://evc.wiilink.ca/" class="collection-item"
          ><h3 class="center">WiiLink</h3></a
        >
      </div>
      <p style="margin-top:30px;">You might be interested in seeing Miitomo questions too.</p>
      <div
        class="collection"
        style="left:50%; width:100%; max-width:1400px; transform:translate(-50%, 0); background-color:#ffffff00; border:0px; display:grid; grid-template-columns: repeat(auto-fit,minmax(345px,1fr)); gap:18px; overflow: visible; position:relative;">
        <div class="collection-item">
          <a
            href="https://gist.github.com/jaames/1b14264e322855fb5a67d4d934e95e5f"
            ><h3 class="center">Miitomo</h3></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<Footer />

<style>
  .collection-item {
    border-radius: 8px;
    border: 2px solid var(--border-color) !important;
    box-shadow: 0px 0px 28px var(--shadow-color) !important;
    transition: 0.3s;
  }

  .collection-item:hover {
    transform: translate(0, -5px);
    transition: 0.3s;
  }
</style>
