:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: Rubik;
	src: url(/fonts/Rubik.ttf);
  }
  
  @font-face {
	font-family: gilroy;
	src: url(/fonts/Gilroy.otf);
  }

  @font-face {
	font-family: inter;
	src: url(/fonts/sfpro.otf);
  }
body {
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.4;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
.toc-post:before{
	font-family: Gilroy;
	left:-2px;
	top:-43px;
	width:calc(100% + 4px);
	font-size: 18px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: rgba(101, 101, 101, 0.184);
	border: 2px solid rgba(128, 128, 128, 0.168);
	border-bottom:0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Table of Contents";
	position: absolute;
}
.toc-post{
	top:43px;
	right:0;
	width:100%;
	padding:10px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: rgba(88, 88, 88, 0.096);
	border: 2px solid rgba(128, 128, 128, 0.168);
	border-top:0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	backdrop-filter: blur(8px);
	z-index: 1;
	position: relative;
}
.toc-link{
	color:rgb(38, 38, 38);
}
.toc-link:hover{
	color:rgb(50, 168, 23);
}

a{
	color:rgb(50, 168, 23);
	text-decoration: underline;
}

code {
	padding: 4px 6px;
	background-color: rgba(97, 97, 97, 0.148);
	color:#000000;
	border-radius: 8px;
}

.toc-item::marker{
	font-family: Gilroy;
}
.notice{
	width:auto;
	height:auto;
	padding:5px;
	padding-right:15px;
	margin-bottom:0px;
	border-radius: 8px;
	color:rgb(255, 255, 255);
	display: inline-block;
	position: relative;
}
.warn{
	background-color: rgba(225, 211, 81, 0);
  color: rgb(182, 197, 14);
	border: 2px solid rgb(182, 197, 14);
}

.warn a{
	color: rgb(182, 197, 14);
}
.warn::before {
	margin-left:5px;
	margin-right:10px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f06a";
  }
.danger{
	background-color: rgba(232, 49, 49, 0);
  color: rgb(197, 14, 14);
	border: 2px solid rgb(197, 14, 14);
}
.danger a{
  color: rgb(197, 14, 14);
}
.danger::before {
	margin-left:5px;
	margin-right:10px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f071";
  }
  .success{
	background-color: rgba(49, 232, 76, 0);
  color: rgb(10, 190, 40);
	border: 2px solid rgb(10, 190, 40);
}
.success a {
  color: rgb(10, 190, 40);
}
.success::before {
	margin-left:5px;
	margin-right:10px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
  }
  .info{
	background-color: rgba(255, 255, 255, 0);
  color: rgb(14, 124, 197);
	border: 2px solid rgb(14, 124, 197);
}
.info a{
  color: rgb(14, 124, 197);
}
.info::before {
	margin-left:5px;
	margin-right:10px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f059";
  }

  .generic{
	background-color: rgba(120, 120, 120, 0);
  color: rgb(64, 64, 64);
	border: 2px solid rgb(64, 64, 64);
}
.generic a{
  color: rgb(64, 64, 64);
}
.generic code{
  color: rgb(64, 64, 64);
  background-color: rgba(0, 0, 0, 0);
}
.warn code{
  color: rgb(182, 197, 14);
  background-color: rgba(0, 0, 0, 0);
}
.danger code{
  color: rgb(197, 14, 14);
  background-color: rgba(0, 0, 0, 0);
}
.info code{
  color: rgb(14, 124, 197);
  background-color: rgba(0, 0, 0, 0);
}
.generic::before {
	margin-left:5px;
	margin-right:10px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0c6";
  }

  .fullwidth{
	left:0;
	width:100%;
  }

  .center{
	text-align: center;
	padding:10px;
  }


img[alt="img"] {
	width:100%;
	height: 250px;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #ffffff10;
	object-fit: cover;
}

img[alt="img2"] {
	width:100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #3a3a3a40;
	object-fit: cover;
}

img[alt="imgcaroussel"] {
	width:49%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #3a3a3a40;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: left;
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
	font-family: inter;
}
h3 {
	font-size: 1.953em;
	font-family: inter;
}
.guidecontent > h2 {
	font-size: 35px;
	font-family: Gilroy;
}

.guidecontent > h3 {
	font-size: 25px;
	font-family: Gilroy;
}

.guidecontent > h4 {
	font-size: 20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.guidecontent > h5 {
	font-size: 20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postexpand > h2 {
	color:black;
	font-size: 35px;
	font-family: Gilroy;
}

.postexpand > h3 {
	color:black;
	font-size: 25px;
	font-family: Gilroy;
}

.postexpand > h4 {
	color:black;
	font-size: 20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postexpand > h5 {
	color:black;
	font-size: 20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
	font-size: 1.25em;
}
ol, ul{
	margin-left:20px;
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:black;
}
strong,
b {
	font-weight: 700;
}
p {
	font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: left;
	color: black;
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	width:100%;
	background-color: rgba(0, 0, 0, 0.096);
	padding: 15px;
	padding-bottom:3px;
	margin: 5px;
	border-radius: 8px;
	position: relative;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


@media only screen and (max-width: 1150px) {

	.vr{
		opacity: 0;
		display: none;
	}
	
	}
