---
import { changeLanguage } from "i18next";
import Layout from "../../../../layouts/Layout.astro";
import Header from "../../../../components/Header.astro";
import Footer from "../../../../components/Footer.astro";

changeLanguage("ja");
---

<Layout title="Photo Channel Puzzle Cheats - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;" />
<div
  style="width:98%; max-width:1300px; margin-bottom:30px; left:50%; transform:translate(-50%, 0); padding:10px; border-radius:8px; color:white; background-color:rgb(203, 60, 60); box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1); text-align:center; position:relative;">
  <i class="fa fa-triangle-exclamation"></i> Heads up! This content is a port of
  the RiiConnect24 site
</div>
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center">
      <i class="fas fa-download" aria-hidden="true"></i> Photo Channel Puzzle Cheats
    </h1>
    <div class="row center">
      <h5 class="header center col s12">
        These are intended to help get fast puzzle records on the Photo Channel,
        every number on the puzzle piece corresponds to where it fits.
      </h5>
      <a href="puzzle_all.zip" id="download-button" class="btn btn-success"
        ><i class="fa fa-download"></i> Download Puzzle Cheats</a
      >
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <br />
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/photochannel/puzzle_6.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">6-Piece Puzzle</span>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/photochannel/puzzle_12.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">12-Piece Puzzle</span>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/photochannel/puzzle_24.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">24-Piece Puzzle</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/photochannel/puzzle_48.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">48-Piece Puzzle</span>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="https://rc24.xyz/goodies/photochannel/puzzle_192.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">192-Piece Puzzle</span>
            <p class="light">
              To access the 192 piece puzzle, on the puzzle select screen hold
              down the 1 Button to get the option. You can also use this trick
              on the puzzle records when you've successfully completed a 192
              piece puzzle.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>

<Footer />

<style>
  .card {
    border-radius: 8px;
    margin: 10px;
    border: 2px solid #ffffff20;
    box-shadow: 0px 0px 28px #6c6c6c20;
    overflow: hidden;
  }

  .card-image {
    padding: 20px;
  }
</style>
