---
import { changeLanguage } from "i18next";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

changeLanguage("en");
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
wiilink
</body>

</html>
