---
import Layout from '../layouts/Layout.astro';
import DefaultHead from '../components/DefaultHead.astro';
---

<Layout title="WiiLink's Temp Site">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script is:inline src="/js/hover3D.js"></script>
	</head>

<body>
<div class="symbolholder">
	<div class="backsymbol" id="hide">
		<div class="square2"></div>
		<div class="square"></div>
		<img class="bottomleftcorner" src="corner.png">
	</div>
</div>

<div class="parallax">
<div class="logohold">
	<DefaultHead/>
	<img style="top:50%; left:calc(50% + 50px); transform:translate(-50%, -50%) scale(50%); filter:invert(1) drop-shadow(0px 0px 100px black); pointer-events: none;  z-index:1; position:absolute;" src="logo.png">
</div>

<div class="data">
<h2 style="animation:fadeup 0.2s forwards;" id="release-name"><i style="animation: loadspin 5s linear forwards infinite; scale:80%; margin-right:10px;"><img style="transform:translate(0, -3px); filter: brightness(0);" src="loading.gif" width="30px"></i>Loading...</h2>
<div class="about">Developed by <a href="https://github.com/PablosCorner">PablosCorner<img style="border-radius: 50%; margin-left:10px; transform:translate(0, -5px); filter:drop-shadow(0 0 10px #00000040)" src="pablo.webp" width="40px"></a></div>
<div style="animation:fadeup 0.1s 200ms forwards; opacity:0;" class="accordion" id="accordionExample">
	<div class="accordion-item">
	  <h2 class="accordion-header">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
		  Release Notes
		</button>
	  </h2>
	  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		<div class="accordion-body" id="release-info"></div>
	  </div>
	</div>
  </div>

  <h2 style="animation:fadeup 0.2s 200ms forwards; opacity:0; font-size:25px; margin-top:20px;">Download the latest release:</h2>

	<div class="download">
	<a style="animation:fadeup 0.3s 200ms forwards; opacity:0;" class="download-button" id="download-link-linux" href="#">
        <button id="linux" type="button" class="btn btn-primary"><i class="fa fa-linux" style="scale:150%; margin-right:15px;"></i>Linux</button>
    </a>

	<a style="animation:fadeup 0.4s 200ms forwards; opacity:0;" class="download-button" id="download-link-windows" href="#">
		<button id="windows" type="button" class="btn btn-primary"  data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="You'll need windows 8 or higher!"><i class="fa-brands fa-microsoft" style="scale:140%; margin-right:15px;"></i>Windows</button>
    </a>

	<a style="animation:fadeup 0.5s 200ms forwards; opacity:0;" class="download-button" id="download-link-macos" href="#">
		<button id="macos" type="button" class="btn btn-primary"><i class="fa fa-apple" style="scale:150%; margin-right:15px;"></i>macOS</button>
    </a>

	<a style="animation:fadeup 0.6s 200ms forwards; opacity:0;" href="#">
		<button type="button" class="btn guide btn-outline-primary"><i class="fa fa-arrow-right" style="scale:130%; rotate:-45deg; margin-right:15px;"></i>Open the Install Guide</button>
    </a>
	</div>
	<div class="slidedown">
		<i style="transform:scale(300%);" class="fa-solid fa-angle-down"></i>
	</div>
</div>


</div>

<div class="temp"></div>

<script>

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

window.onload = osdetect;

console.log(osdetect());

if (osdetect() == "MacOS"){
	document.getElementById("macos").style.boxShadow = " inset 0 0 0 1px #0e459e";
	document.getElementById("macos").style.border = " var(--bs-btn-border-width) solid #0e459e";
}

if (osdetect() == "Windows"){
	document.getElementById("windows").style.boxShadow = " inset 0 0 0 1px #0e459e";
	document.getElementById("windows").style.border = " var(--bs-btn-border-width) solid #0e459e";
}

if (osdetect() == "Linux"){
	document.getElementById("linux").style.boxShadow = " inset 0 0 0 1px #0e459e";
	document.getElementById("linux").style.border = " var(--bs-btn-border-width) solid #0e459e";
}

</script>
</body>

</Layout>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>

import { Octokit } from "https://esm.sh/octokit";


document.addEventListener("DOMContentLoaded", async function () {
    const octokit = new Octokit({
        auth: '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'
    });

    const owner = 'WiiLink24';
    const repo = 'WiiLink24-Patcher';

    try {
        // Fetch the latest release information from the GitHub repository using Octokit
        const { data: release } = await octokit.request('GET /repos/{owner}/{repo}/releases/latest', {
            owner,
            repo,
            headers: {
                'X-GitHub-Api-Version': '2022-11-28'
            }
        });

		const releaseNameDiv = document.getElementById("release-name");
        const releaseInfoDiv = document.getElementById("release-info");
        const downloadLinkLinux = document.getElementById("download-link-linux");
		const downloadLinkWindows = document.getElementById("download-link-windows");
		const downloadLinkMacos = document.getElementById("download-link-macos");

		const nameArray = release.name.split(" ");
		let versionNumber = nameArray[2];

        if (releaseInfoDiv) {
            // Update the div
			releaseNameDiv.innerHTML = `
			<a style="color:black; text-decoration:none;" href="https://github.com/WiiLink24/WiiLink24-Patcher/releases/tag/v1.2.1"><h2 class="release-name" style="animation:fadeup 0.2s forwards;"><o style="font-family:Rubik; font-weight:600;">WiiLink</o> Patcher <span style="scale:60%; transform:translate(-30px, -20px);" class="badge rounded-pill bg-secondary">${versionNumber}</span></h2></a>
			`
			;
            releaseInfoDiv.innerHTML = `
                <p id="releasedesc"></p>
            `;

			document.getElementById('releasedesc').innerHTML =
      		marked.parse(release.body);


            // Update the download link if it exists
            if (release.assets.length > 0) {
                const assetLin = release.assets[0]; // Assuming the first asset is the download file
                downloadLinkLinux.href = assetLin.browser_download_url;
				const assetWin = release.assets[3]; // Assuming the first asset is the download file
                downloadLinkWindows.href = assetWin.browser_download_url;
				const assetMac = release.assets[2]; // Assuming the first asset is the download file
                downloadLinkMacos.href = assetMac.browser_download_url;
            } else {
                downloadLink.style.display = "none"; // Hide the link if there are no assets
            }
        } else {
            console.error("Element with id 'release-info' not found.");
        }
    } catch (error) {
        console.error("Error fetching GitHub release:", error);
    }
});

</script>

<script>
	window.onscroll = function (e) {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("hide").style.transform = "translate(-50%, -50%) scale(150%)";
  } else {
    document.getElementById("hide").style.transform = "translate(-50%, -50%) scale(100%)";
  }
	}
</script>

<script is:inline src="/js/osdetect.js"></script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.slidedown{
		left:50%;
		top:40px;
		transform: translate(-50%, 0);
		width:1px;
		height:50px;
		z-index: 1;
		position: relative;
	}
	.about{
		top:0;
		right:0;
		color: #00000050;
		z-index: 1;
		position: absolute;
	}
	#hide{
		transition: 0.5s;
	}
	.symbolholder{
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 1;
		overflow: hidden;
		position: fixed;
	}
	.temp{
		width: 100%;
		height:3000px;
		background-color: #ffffff;
		position: relative;
	}
	.custom-tooltip {
  --bs-tooltip-bg: var(--bd-green-bg);
  --bs-tooltip-color: var(--bs-white);
}
	.guide:hover .fa{
		transform: translate(0px, 0);
		transition: 0.3s;
	}
	.guide:hover .fa{
		transform: translate(3px, 0);
		transition: 0.3s;
	}
	@keyframes fadeup{
		0%{
			opacity:0;
			transform: translate(0, 10px);
		}
		100%{
			opacity:1;
			transform: translate(0, 0px);
		}
	}
	.logohold{
		top:0;
		left:-80px;
		width:50%;
		height:100%;
		position: absolute;
	}
	@keyframes loadspin {
		0%{
			rotate: 0deg;
		}
		100%{
			rotate: 360deg;
		}
	}
	.release-name{
		font-weight: bolder;
	}
	.guide{
		background-color: #ffffff;
		color:black;
		box-shadow: inset 0 0 0 4px solid blue;
	}
	.collapse, .collapsing{
		max-height:500px;
		overflow: scroll;
	}
	.btn{
		padding:15px;
		margin:5px;
		margin-top: 10px;
	}
	.data{
		width:615px;
		right:5%;
		top:50%;
		transform: translate(0, -50%);
		z-index: 1;
		position: absolute;
	}
	.square2{
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		left:50%;
		top:50%;
		background-color: white;
		transform: translate(-50%, -50%);
		border-radius: 4px;
		z-index: 1;
		position: absolute;
	}
	.release-info{
		width:95%;
		left:50%;
		transform: translate(-50%, 0);
		position: relative;
	}
	.download{
		width:100%;
		height: auto;
		left:50%;
		transform: translate(-50%, 0);
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		position:relative;
	}
	.bottomleftcorner{
		left:0;
		bottom:0;
		scale:32%;
		transform: translate(-106.5%, 107.3%);
		z-index: 2;
		position: absolute;
	}
	.backsymbol {
		width:calc(100% - 28px);
		height:calc(100% - 28px);
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		animation: changecolor 10s linear infinite;
		z-index: 1;
		position: absolute;
	}
	@keyframes changecolor{
		0%{
			filter: hue-rotate(0deg);
		}
		100%{
			filter: hue-rotate(360deg);
		}
	}
	.square {
		width:100%;
		height:100%;
		background: linear-gradient(41deg, rgba(0,138,255,1) 0%, rgba(255,0,59,1) 100%);
		z-index: 0;
		border-radius: 8px;
		position: absolute;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2{
		text-align: left;
		z-index: 1;
		position: relative;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	@media only screen and (max-width: 1000px;) {
		.data{
			width:95%;
		}
		.download{
			display: grid;
		}
	}
</style>
