---
import Layout from '../layouts/Layout.astro';
import DefaultHead from '../components/DefaultHead.astro';
import Donate from '../components/Donate.astro';
import Services from '../components/Services.astro';
import BuildInfo from '../components/build.astro';
import Team from '../components/team.astro';
import Socials from '../components/Socials.astro';
import Agreement from '../components/Agreement.astro';
---

<Layout title="WiiLink - Temporary Site">
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>

	<Agreement/>

<div class="symbolholder">
	<div class="backsymbol">
		<div id="square2">
			<div class="top">
			<div class="logohold">
				<DefaultHead/>
				<img style="top:50%; left:calc(50% + 50px); transform:translate(-50%, -50%) scale(50%); filter:invert(1) drop-shadow(0px 0px 100px black); pointer-events: none;  z-index:1; position:absolute;" src="img/logo.png">
			</div>
			
			<div class="data">
			<h2 style="animation:fadeup 0.2s forwards;" id="release-name"><i style="animation: loadspin 5s linear forwards infinite; scale:80%; margin-right:10px;"><img style="transform:translate(0, -3px); filter: brightness(0);" src="img/loading.gif" width="30px"></i>Loading...</h2>
			<div style="animation:fadeup 200ms forwards; opacity:0;" class="about"><d class="hide">Developed by <a href="https://github.com/PablosCorner">PablosCorner</d><img style="border-radius: 50%; margin-left:10px; transform:translate(0, -5px); filter:drop-shadow(0 0 10px #00000040)" src="img/pablo.webp" width="40px"></a></div>
			<div style="animation:fadeup 0.1s 200ms forwards; opacity:0;" class="accordion" id="accordionExample">
				<div class="accordion-item">
				  <h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					  Release Notes
					</button>
				  </h2>
				  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body" id="release-info"></div>
				  </div>
				</div>
			</div>
			
			  <h2 style="animation:fadeup 0.2s 200ms forwards; opacity:0; font-size:25px; margin-top:20px;">Download the latest release:</h2>
				<div class="download">
				<a style="animation:fadeup 0.3s 200ms forwards; opacity:0;" class="download-button" id="download-link-linux" href="#">
					<button id="linux" type="button" class="btn btn-secondary"><i class="fa fa-linux" style="scale:150%; margin-right:15px;"></i>Linux</button>
				</a>
			
				<a style="animation:fadeup 0.4s 200ms forwards; opacity:0;" class="download-button" id="download-link-windows" href="#">
					<button id="windows" type="button" class="btn btn-secondary"  data-bs-toggle="tooltip" data-bs-placement="bottom"
					data-bs-title="You'll need windows 8 or higher!"><i class="fa-brands fa-microsoft" style="scale:140%; margin-right:15px;"></i>Windows</button>
				</a>
			
				<a style="animation:fadeup 0.5s 200ms forwards; opacity:0;" class="download-button" id="download-link-macos" href="#">
					<button id="macos" type="button" class="btn btn-secondary"><i class="fa fa-apple" style="scale:150%; margin-right:15px;"></i>macOS</button>
				</a>
			
				<a style="animation:fadeup 0.6s 200ms forwards; opacity:0;" class="download-button" href="#">
					<button type="button" class="btn guide btn-outline-primary"><i class="fa fa-arrow-right" style="scale:130%; rotate:-45deg; margin-right:15px;"></i>Open the Install Guide</button>
				</a>
				</div>
				<div style="margin-top:5px; margin-left:5px; animation:fadeup 0.4s 200ms forwards; opacity:0;" class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">
					  I have read and accepted the <b class="color">Terms of Service</b> and <b class="color">Privacy Policy</b>.
					</label>
				  </div>
				<div style="animation:fadeup 0.5s 200ms forwards; opacity:0;" class="slidedown">
					<i style="transform:scale(300%);" class="fa-solid fa-angle-down"></i>
				</div>
			</div>
		</div>
			<Services/>

			<BuildInfo/>

			<Donate/>

			<Team/>

			<Socials/>

			<div style="top:350px; width:100%; height:300px; position:relative;"></div>
		</div>			

		<div class="square"></div>
		<img class="bottomleftcorner" src="img/corner.png">
	</div>

<!--
<div class="alert alert-light" role="alert">
	This is a temporary site whilst we're working on <b>BIG</b> changes. Join our discord to share your thoughts!
  </div>
-->



<script>

const scrollableDiv = document.getElementById('square2');

scrollableDiv.addEventListener('scroll', function() {
  // Check if the user has scrolled to the bottom
  if (scrollableDiv.scrollHeight - scrollableDiv.scrollTop <= scrollableDiv.clientHeight + 30) {
    // User has scrolled to the end
    scrollableDiv.style.setProperty("height", "calc(100% - 300px)");
  } else {
	scrollableDiv.style.setProperty("height", "calc(100% - 30px)");
  }
});


const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

window.onload = osdetect;

if (osdetect() == "MacOS"){
	document.getElementById("macos").className = "btn btn-primary";
}

if (osdetect() == "Windows"){
	document.getElementById("windows").className = "btn btn-primary";
}

if (osdetect() == "Linux"){

	document.getElementById("linux").className = "btn btn-primary";
}

if (osdetect() == "UNIX"){
	document.getElementById("macos").className = "btn btn-primary";
	document.getElementById("windows").className = "btn btn-primary";
	document.getElementById("linux").className = "btn btn-primary";
}

if (osdetect() == "Unknown OS"){
	document.getElementById("macos").className = "btn btn-primary";
	document.getElementById("windows").className = "btn btn-primary";
	document.getElementById("linux").className = "btn btn-primary";
}

</script>

</Layout>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>

import { Octokit } from "https://esm.sh/octokit";


document.addEventListener("DOMContentLoaded", async function () {
    const octokit = new Octokit({
        auth: ''
    });

    const owner = 'WiiLink24';
    const repo = 'WiiLink24-Patcher';

    try {
        // Fetch the latest release information from the GitHub repository using Octokit
        const { data: release } = await octokit.request('GET /repos/{owner}/{repo}/releases/latest', {
            owner,
            repo,
            headers: {
                'X-GitHub-Api-Version': '2022-11-28'
            }
        });

		const releaseNameDiv = document.getElementById("release-name");
        const releaseInfoDiv = document.getElementById("release-info");
        const downloadLinkLinux = document.getElementById("download-link-linux");
		const downloadLinkWindows = document.getElementById("download-link-windows");
		const downloadLinkMacos = document.getElementById("download-link-macos");

		const nameArray = release.name.split(" ");
		let versionNumber = nameArray[2];

        if (releaseInfoDiv) {
            // Update the div
			releaseNameDiv.innerHTML = `
			<a style="color:black; text-decoration:none;" href="https://github.com/WiiLink24/WiiLink24-Patcher/releases/latest"><h2 class="release-name" style="animation:fadeup 0.2s forwards;"><o style="font-family:Rubik; font-weight:600;">WiiLink</o> Patcher <span style="scale:60%; transform:translate(-30px, -20px);" class="badge rounded-pill bg-secondary">${versionNumber}</span></h2></a>
			`
			;
            releaseInfoDiv.innerHTML = `
                <p id="releasedesc"></p>
            `;

			document.getElementById('releasedesc').innerHTML =
      		marked.parse(release.body);


            // Update the download link if it exists
            if (release.assets.length > 0) {
                const assetLin = release.assets[0];
                downloadLinkLinux.href = assetLin.browser_download_url;
				const assetWin = release.assets[3]; 
                downloadLinkWindows.href = assetWin.browser_download_url;
				const assetMac = release.assets[2];
                downloadLinkMacos.href = assetMac.browser_download_url;
            } else {
                downloadLinkLinux.style.display = "none"; // Hide the link if there are no assets
				downloadLinkWindows.style.display = "none";
				downloadLinkMacos.style.display = "none";
            }
        } else {
            console.error("Element with id 'release-info' not found.");
        }
    } catch (error) {
        console.error("Error fetching GitHub release:", error);
    }
});

</script>

<script is:inline src="/js/osdetect.js"></script>
</body>
</html>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.top{
		left:50%;
		transform: translate(-50%, 0);
		max-width: 1500px;
		min-height: 100%;
		position: relative;
	}
	@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik.ttf");
}
	.accordion-body{
		background-color: #fff;
    	max-height: 40vh;
    	overflow: scroll;
	}
	.alert{
		right:40px;
		top:40px;
		width:500px;
		z-index: 1;
		position: absolute;
	}
	.btn-secondary{
		background-color: rgba(0, 0, 255, 0.469);
		border: 1px solid rgba(0, 0, 255, 0.117);
	}
	.btn-secondary:hover{
		background-color: rgba(0, 0, 255, 0.427);
		border: 1px solid rgba(0, 0, 255, 0.117);
	}
	.slidedown{
		left:50%;
		top:40px;
		transform: translate(-50%, 0);
		width:1px;
		height:50px;
		z-index: 1;
		position: relative;
	}
	.about{
		top:0;
		right:0;
		color: #00000050;
		z-index: 1;
		position: absolute;
	}
	#hide{
		transition: 0.5s;
	}
	.symbolholder{
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 1;
		overflow: hidden;
		position: fixed;
	}
	.temp{
		width: 100%;
		height:3000px;
		background-color: #ffffff;
		position: relative;
	}
	.custom-tooltip {
  --bs-tooltip-bg: var(--bd-green-bg);
  --bs-tooltip-color: var(--bs-white);
}
	.guide:hover .fa{
		transform: translate(0px, 0);
		transition: 0.3s;
	}
	.guide:hover .fa{
		transform: translate(3px, 0);
		transition: 0.3s;
	}
	@keyframes fadeup{
		0%{
			opacity:0;
			transform: translate(0, 10px);
		}
		100%{
			opacity:1;
			transform: translate(0, 0px);
		}
	}
	.logohold{
		top:0;
		left:-80px;
		width:50%;
		height:100%;
		position: absolute;
	}
	@keyframes loadspin {
		0%{
			rotate: 0deg;
		}
		100%{
			rotate: 360deg;
		}
	}
	.release-name{
		font-weight: bolder;
	}
	.guide{
		background-color: #ffffff;
		color:black;
		box-shadow: inset 0 0 0 4px solid blue;
	}
	.btn{
		padding:15px;
		margin:5px;
		margin-top: 10px;
	}
	.data{
		width:615px;
		right:5%;
		top:50%;
		transform: translate(0, -50%);
		z-index: 1;
		position: absolute;
	}
	#square2{
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		left:15px;
		top:15px;
		background-color: white;
		transform: translate(0%, 0%);
		border-radius: 4px;
		z-index: 1;
		transition:0.5s;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
	}
	.footer{
		height: calc(80% - 30px);
	}
	.release-info{
		width:95%;
		left:50%;
		transform: translate(-50%, 0);
		position: relative;
	}
	.download{
		width:100%;
		height: auto;
		left:50%;
		transform: translate(-50%, 0);
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		position:relative;
	}
	.bottomleftcorner{
		left:-2.5px;
		bottom:-2px;
		scale:31.6%;
		transform: translate(-106.5%, 107.3%);
		animation: changecolor 10s linear infinite;
		z-index: 2;
		position: absolute;
	}
	.backsymbol {
		width:calc(100% - 28px);
		height:calc(100% - 28px);
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		position: absolute;
	}
	@keyframes changecolor{
		0%{
			filter: hue-rotate(0deg);
		}
		100%{
			filter: hue-rotate(360deg);
		}
	}
	.square {
		width:100%;
		height:100%;
		background: linear-gradient(41deg, rgba(0,138,255,1) 0%, rgba(255,0,59,1) 100%);
		z-index: 0;
		animation: changecolor 10s linear infinite;
		border-radius: 8px;
		position: absolute;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2{
		text-align: left;
		z-index: 1;
		position: relative;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	@media only screen and (max-width: 1150px) {
		.logohold{
			display: none;
		}
		.data{
			position: absolute;
			width:80%;
			height:600px;
			left:50%;
			top:50%;
			transform: translate(-50%, -50%);
			overflow-x:visible;
			overflow-y: scroll;
		}
		.symbolholder{
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		.backsymbol{
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		#square2{
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		.square{
			display:none;
		}
		.bottomleftcorner{
			display: none;
		}
		.data{
			top:50%;
			transform: translate(-50%, -50%);
		}
		.alert{
			top:30px;
			left:50%;
			transform: translate(-50%, 0);
			width: 80%;
			position: absolute;
		}
		.hide{
			display: none;
		}
		.download-button{
			width:100%;
		}
		.btn{
			width:100%;
		}
	}
</style>
