---
import Hero from "../components/Hero.astro";
import SpecialHero from "../components/SpecialHero.astro";
import Base from "../components/BaseHead.astro";
import Services from "../components/Services.astro";
import Header from "../components/HeaderMain.astro";
import Footer from "../components/Footer.astro";
import Members from "../components/Members.astro";
import News from "../components/News.astro";
import Donators from "../components/Donators.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");
---
<!DOCTYPE html>
<html lang={i18next.language}>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4011748932374526"
     crossorigin="anonymous"></script>
</head>
<Base title="WiiLink"/>

    <body>
    <Header/>
    <SpecialHero />

    <!-- Pannels after the hero -->
        <div class="contentholder" id="start">
            <Trans i18nKey="home.info">
               <h2 class="contentslogan" style="text-align: center; width:100%;"><b style="font-family: RubikBold;">Wii</b><b style="font-family: RubikMedium;">Link</b> resurrects many region exclusive channels. <br/> Including channels only released in Japan!</h2>
            </Trans>
            <div class="polka-dot"></div>
            <Services />

            <!-- FAQ section -->
        <div class="bg">
            <h2 class="fa-solid fa-circle-question contentslogan" style="top:50px; position: relative; text-align: center; width:100%; left:0;"><d style="font-family: Gilroy;">{t("home.faq")}</d></h2>

            <div class="collapsibles">
                <div class="faqholder">
                <button type="button" class="collapsible">{t("home.faq1")}</button>
                    <div class="content">
                        <p>{t("home.faqres1")}</p>
                    </div>
                </div>

                <div class="faqholder">
                    <button type="button" class="collapsible">{t("home.faq2")}</button>
                    <div class="content">
                        <p>{t("home.faqres2")}</p>
                    </div>
                </div>

                    <div class="faqholder">
                    <button type="button" class="collapsible">{t("home.faq3")}</button>
                    <div class="content">
                        <p>{t("home.faqres3")}</p>
                    </div>
                </div>

                <div class="faqholder">
                    <button type="button" class="collapsible">{t("home.faq4")}</button>
                    <div class="content">
                        <p>{t("home.faqres4")}</p>
                    </div>
                </div>
            </div>
            <a href="./guide/1welcome"><h3 style="text-align: center; top:80px; position: relative; left:50%; width:80%; transform:translate(-50%, 0);">{t("home.morefaq")}</h3></a>
        </div>

            <!-- The team section -->
        <h2 class="fa-solid fa-code contentslogan" style="top:50px; position: relative;"> <d style="font-family: Gilroy;">{t("home.team")}</d></h2> <h4 class="slogandef">{t("home.teamdef")}</h4>
        <Members />

            <!-- News section -->
        <h2 class="fa-solid fa-newspaper contentslogan" style="top:50px; position: relative;"> <d style="font-family: Gilroy;">{t("home.news")}</d></h2>  <h4 class="slogandef">{t("home.newsdef")}</h4>
        <News />

            <!-- Donators and Discord section -->
        <Donators />

		<Footer />

            <!-- Activate parallax effect from Hero section -->
          
            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
                });
                }
            </script>
    </body>
</html>

<style>

    /* FAQ Styles */
    .collapsible {
    background-color: #77777733;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    left:50%;
    transform: translate(-50%,0);
    border-radius: 8px;
    margin-top:40px;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.201);
    text-align: left;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-family: Gilroy;
    transition: 0.2s;
    text-decoration: none;
  }

  .collapsibles{
    display:grid;
    width:95%;
    left:50%;
    transform: translate(-50%,30px);
    grid-template-columns:repeat(auto-fill, minmax(700px, 1fr));
    gap:20px;
    position: relative;
  }

  .banner2{
    background-color: rgb(110, 35, 105);
    width:100%;
    height:60px;
    top:0px;
    left:0;
    transform: translate(0, -100%);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    filter: invert(0);
    position:absolute;
  }

  .text{
    top:35%;
    left:50%;
    transform: translate(-50%, 0%);
    position: absolute;
    color:white;
    text-align: center;
    font-size: 20px;
    width:100%;
    font-family: Gilroy;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
    transition: 0.2s;
  }

  .slogandef{
    right:11%;
    transform: translate(0, -30px);
    font-size:15px;
    position: absolute;
}
  
  .content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f100;
    top:5px;
    border-radius: 8px ;
    color:white;
    font-family: Cafe;
    width: 100%;
    left:50%;
    transform: translate(-50%,0);
    position: relative;
    animation: fadein 0.2s linear;
  }

  @keyframes fadein{
    0%{
        transform: translate(-50%, -8px);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, 0px);
        opacity: 1;
    }
  }

  p{
    width:90%;
    text-align: justify;
    font-family: Cafe;
    left:50%;
    transform: translate(-50%,0);
    position: relative;
  }

  .bg{
    width:100%;
    background-color: rgb(33, 33, 33);
    margin-top: 50px;
    left:50%;
    transform: translate(-50%,0);
    position: relative;
    padding-bottom:100px;
    background-size: cover;
  }

  /* Hero Styles */


/* Content Styles */
.contentholder{
    width:100%;
    left:0;
    top:100%;
    background-color: #161616;
    padding-top:50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
}

.contentslogan{
    text-align: left;
    left:12%;
    transform: translate(0, 0);
    z-index: 2;
    width:40%;
}

Trans{
    text-align: center; width:100%; font-family:Gilroy; color:white; font-size: 40px;
}

.bannerholder{
    right:8%;
    bottom:6%;
    display:flex;
    gap:8%;
    z-index: 1;
    transform: translate(-50%,0);
    z-index: 2;
    transition: 0.5s;
    position: fixed;
}

.banner{
    position:relative;
    filter: invert(1);
    transition: 0.5s;
}

.banner:hover{
    transform: translate(0,-10px);
    transition: 0.5s;
}

.bannername{
    text-align: center;
    font-family: Gilroy;
    color:black;
    opacity: 0;
    transform: translate(0,-10);
    transition: 0.5s;
}

.banner:hover .bannername{
    opacity: 1;
    transform: translate(0,0px);
    transition: 0.5s;
}

.polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#fff 10%, transparent 11%), radial-gradient(#fff 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.1;
    rotate: 30deg;
    left:6%;
    top:80px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

  @media (max-width:1000px) {
    .parallaximpress{
        top:0;
        left:0;
        position: fixed;
        transform: scale(40%) translate(-100%,-70%);
        opacity: 0.3;
    }
    .logo{
        font-size:80px;
        text-align: left;
        left:8px;
        transform: translate(0, 0);
        margin: 0px;
    }
    .tagline{
        font-size: 25px;
        width:60%;
        text-align: left;
    }
    .collapsibles{
        width:100%;
        left:0;
        transform: translate(0, 0);
        display: block;
    }
    .faqholder{
        width:100%;
        left:0;
        transform: translate(0, 0);
        position: relative;
        padding: 0px;
        margin: 0px;
    }
    .collapsible{
        width: 100%;
    }
    .content{
        width:100%;
    }
    .herologoholder{
        left:0;
        top:100px;
        width:100%;
    }
    .herologo{
        text-align: ;
        left:0%;
        position: absolute;
    }
    .logo{
        text-align: left;
        left:20px;
    }
    .tagline{
        width:90%;
        text-align: left;
        left:25px;
        top:-30px;
    }
    .heroinstallholder{
        right:0%;
        transform: translate(0%, 0);
        position: absolute;
        width:100%;
    }
    .heroinstall{
        width: 240px;
        top:65%;
        left:20px;
        margin:0;
        padding:0;
        border-radius: 8px;
        height: 50px;
    }
    .readdocs{
        bottom:-50px;
        width:100%;
        text-align: center;
        margin:0;
        right:0;
    }
    .installtext{
        text-align: center;
        width: 100%;
        position: relative;
        font-size: 30px;
        line-height: 45px;
    }
    .installbg{
        border-radius: 0px;
    }
    .rate{
        display:none;
    }
    .contentslogan{
        font-size: 25px;
    }
    .slogandef{
        display: none;
    }
    .hero{
        height:400px;
    }
    .contentholder{
        top:400px;
    }
    .installarrow{
        display: none;
    }
    .first{
        display: none;
    }
    .readdocs{
        display:none;
    }
    .polka-dot{
        left:-28%;
        top:18px;
    }
}

@media (min-width:2000px) {
    .contentholder{
        top:1080px;
    }
    .collapsibles{
        width:2000px;
        left:50%;
        transform: translate(-50%, 0);
    }
    .contentslogan{
        width:100%;
       text-align: center;
       left:0;

    }
    .hero{
        top:-200px;
        height:1500px;
        width:2000px;
        left:50%;
        transform: translate(-50%, 0);
        overflow: visible;
    }
    .slogandef{
        display:none;
    }
    .first{
        left:50%;
        transform: translate(-50%, 0);
        top:1000px;
    }
}
</style>
