---
import Layout from "../../../../../layouts/Layout.astro";
import Header from "../../../../../components/Header.astro";
import Footer from "../../../../../components/Footer.astro";
import Layout from "../../../../../layouts/Layout.astro";
import "../../../../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../../consts";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("es");
---
<Layout title={t("eula.mainTitle")} description={t("eula.mainDesc")} image="/img/branding_bg.png">
<Header isGuide="display:none;"/>

<section class="section">
    <h1 style="font-family: Gilroy; margin-bottom: 18px;">EULA</h1>
    <h1 class="title">Welcome to WiiLink24!</h1>
    <div class="polka-dot"></div>
    <h5 style="font-size:18px; font-weight:400;">
</br>
    These Terms of Service ("Terms") are a legal
    agreement between the WiiLink24 Team and
    its related affiliates ("us," "our," or "we")
    and you ("you", "your", or "users").
</br> </br> 
    By using or accessing our WiiLink24 services
    (the "Apps") or the website located at
    https://wiilink24.com (the "Site"),
    which are collectively referred to as the
    "Service," you agree that you have read,
    understood, and accept to be bound by the
    Terms, and if you are between 13 (or the
    minimum age of digital consent, as applicable)
    and the age of majority in your jurisdiction,
    that your legal guardian has reviewed and
    agrees to these Terms.
</br> </br> 
    The WiiLink24 Team reserves the right to
    update these Terms, which we may do for
    reasons that include, but are not limited to,
    complying with changes to the law or
    reflecting enhancements to the Service. If the
    changes affect your usage of the Service or
    your legal rights, we'll notify you no less
    than seven days before the changes take
    effect. Unless we state otherwise, your
    continued use of the Service after we post
    modifications will constitute your acceptance
    of and agreement to those changes. If you
    object to the changes, your recourse shall be
    to cease using the Service.
</br> </br> 
    We do not knowingly collect personal
    information from users under the age of 13.
</br> </br> 
    Any data, text, graphics, photographs and their
    selection and arrangement, and any other
    materials uploaded to the Service by you is
    "Your Content." You represent and warrant
    that Your Content is original to you and
    that you exclusively own the rights to such
    content, including the right to grant all
    of the rights and licenses in these Terms
    without the WiiLink24 Team incurring any third
    party obligations or liability arising out of
    its exercise of such rights and licenses. All of
    Your Content is your sole responsibility and
    the WiiLink24 Team is not responsible for any
    material that you upload, post, or otherwise
    make available. By uploading, distributing,
    transmitting or otherwise using Your Content
    with the Service, you grant to us a perpetual,
    nonexclusive, transferable, royalty-free,
    sublicensable, and worldwide license to use,
    host, reproduce, modify, adapt, publish,
    translate, create derivative works from,
    distribute, perform, and display Your Content
    in connection with operating and providing the
    Service. The WiiLink24 Team does not
    guarantee the accuracy, quality, or integrity
    of any user content posted. By using the
    Service, you acknowledge and accept that you
    may be exposed to material you find offensive
    or objectionable. You agree that the WiiLink24
    Team will not under any circumstances be
    liable for any user content, including, but not
    limited to, errors in any user content, or any
    loss or damage incurred by use of user
    content. If you're still reading, consider
    joining discord.gg/2kpbjNTTQP. The WiiLink24
    Team reserves the right to remove and
    permanently delete Your Content from the
    Service with or without notice for any or
    no reason.
</br> </br>   
    THE SOFTWARE IS PROVIDED "AS IS",
    WITHOUT WARRANTY OF ANY KIND, EXPRESS
    OR IMPLIED, INCLUDING BUT NOT LIMITED
    TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL
    THE AUTHORS OR COPYRIGHT HOLDERS BE
    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF
    CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE
    SOFTWARE OR THE USE OR OTHER DEALINGS
    IN THE SOFTWARE.
</h5>
</section>

<Footer />

<script>
	
	const scrollableDiv = document.getElementById('square2');

scrollableDiv.addEventListener('scroll', function() {
  // Check if the user has scrolled to the bottom
  if (scrollableDiv.scrollHeight - scrollableDiv.scrollTop <= scrollableDiv.clientHeight + 30) {
    // User has scrolled to the end
    scrollableDiv.style.setProperty("height", "calc(100% - 300px)");
  } else {
	scrollableDiv.style.setProperty("height", "calc(100% - 0px)");
  }
});

	
</script>

<style>
    .section{
        max-width:1500px;
        padding-left:5px;
        padding-right:5px;
        left:50%;
        transform: translate(-50%,50px);
        margin-bottom: 80px;
        position: relative;
        font-family: inter;
    }
    .title{
        font-family: Gilroy;
        font-size: 30px;
    }

    .socials{
		top:50%;
		right:50px;
		transform: translate(0, -50%);
		color:white;
		font-size: 25px;
		width:150px;
		justify-content:right;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
	}
	.slogan{
		left:80px;
		font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color:white;
		width:500px;
		position: relative;
	}
	.footer-holder{
		bottom:20px;
		left:50%;
		transform: translate(-50%, 0);
		display:flex;
		align-items: center;
		width:98%;
		height:250px;
		position: absolute;
	}

    .symbolholder{
		background-color: var(--bg-color);
		top:0;
		left:0;
		width:100%;
		height:100%;
		transition: 0.5s;
		z-index: 1;
		overflow: hidden;
		position: fixed;
	}

	.backsymbol {
		width:100%;
		height:100%;
		top:0%;
		left:50%;
		transform: translate(-50%, 0);
		z-index: 1;
		position: absolute;
	}
	.contentholder{
		left:50%;
		transform: translate(-50%,0);
		max-width:1000px;
		position: relative;
	}
	.bottomleftcorner{
		animation: changecolor 10s linear infinite;
		position: relative;
	}
	.bottomleftcornerholder{
		left:-2.6px;
		bottom:-3px;
		scale:31.6%;
		transform: translate(-106.5%, 107.3%);
		z-index: 2;
		position: absolute;
	}
	.square {
		--img-invert: 0;
		width:100%;
		height:100%;
		background: linear-gradient(41deg, rgba(0,138,255,1) 0%, rgba(255,0,59,1) 100%);
		z-index: 0;
		animation: changecolor 10s linear infinite;
		position: absolute;
	}
	#square2{
		width:100%;
		height:100%;
		left:0;
		top:0;
		background-color: #ffffff;
		transform: translate(0%, 0%);
		border-radius: 4px;
		z-index: 1;

		transition:0.5s;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
	}



    .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#000 10%, transparent 11%), radial-gradient(#000 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.1;
    rotate: 30deg;
    left:-50px;
    top:-38px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

  .notification{
    background-color: #292929;
    color:black;
    padding:20px;
    font-family:Gilroy;
    border-radius:8px;
    border: 2px solid #ffffff20;
    text-align:center
  }

  .is-danger{
    background-color: #db0f0f20;
    border: 4px solid #db0f0f80;
  }

  .is-warning{
    background-color: #c9b81620;
    border: 4px solid #c9b81680;
  }

  strong{
    font-family:Gilroy;
    font-size:20px;
  }

  @media (max-width:1000px) {

  }

</style>