---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

changeLanguage("ca");
---

<Layout
  title={t("404.mainTitle")}
  description={t("404.mainDesc")}
  image={t("site.img")}>
  <html>
    <body>
      <div class="symbolholder">
        <div class="backsymbol" id="movable">
          <div class="square2" id="square2">
            <Header/>
            <main>
              <div class="errholder">
              <h1>404</h1><p class="badge" style="color:white !important; background-color:#0d6efd; background-color:AccentColor; font-size:20px;">Page not found</p>
            </div>
              <p>
                It seems like the content you were looking for isn't here just
                yet...
                <br>
                Use the navigation bar to find what you're looking for, or click the <a href="/" style="color:white !important;">here</a> to go back to the homepage.
              </p>
            </main>
          </div>
          <div class="square"></div>
          <div class="bottomleftcornerholder">
            <img
              class="bottomleftcorner"
              id="moveCorner"
              src="../img/corner.png"
            />
          </div>
        </div>
      </div>
    </body>
  </html>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  html {
    --color: black;
    --bg-color: white;
    --bg-color-hero: #ffffffde;
    --bg-color-light: #ffffff;
    --bg-color-secondary: #f8f9fa;
    --bg-color-tertiary: #f1f3f5;
    --bg-color-absolute: #ffffff;
    --border-color: #00000020;
    --shadow-color: #00000020;
    --bg-select: #eaeaea;
    --bg-opaque-1: #00000010;
    --bg-opaque-2: #00000020;
    --opacity: 0.6;
  }

  html.dark {
    --color: white;
    --bg-color: #161515;
    --bg-color-hero: #161515ee;
    --bg-color-light: #202020;
    --bg-color-secondary: #1a1a1a;
    --bg-color-tertiary: #1e1e1e;
    --bg-color-absolute: #000000;
    --border-color: #ffffff20;
    --shadow-color: #ffffff05;
    --bg-select: #0a0a0a30;
    --bg-opaque-1: #ffffff10;
    --bg-opaque-2: #ffffff20;
    --opacity: 0.3;
  }

  .backsymbol {
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
  }

  h1 {
    font-family: Rubik;
    font-weight: 900;
    font-size:90px;
  }

  p {
    width:90%;
    max-width: 650px;
    text-align: center;
  }

  main {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }

  .symbolholder {
    background-color: var(--bg-color-absolute);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: fixed;
  }

  .popup {
    position: fixed;
    width:95%;
    max-width: 1000px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 1000000000;
    transition: opacity 2s;
    display: none;
  }

  .errholder {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:30px;
    align-items:center;
    justify-content:center;
  }

  .popup.hide {
    opacity: 0;
  }

  .bottom {
    top: 14px !important;
  }

  .left {
    right: 14px !important;
  }

  .right {
    left: 14px !important;
  }

  .top {
    bottom: 14px !important;
  }

  #square2 {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    left: 15.5px;
    top: 15.5px;
    background-color: var(--bg-color-hero);
    transform: translate(0%, 0%);
    border-radius: 4px;
    z-index: 10;
    scroll-behavior: smooth;
    overflow: hidden;
    position: absolute;
  }

  .bottomleftcorner {
    width: 120px;
    animation: changecolor 10s linear infinite;
    position: relative;
  }

  .bottomleftcornerholder {
    left: -1px;
    bottom: -1px;
    pointer-events: none;
    z-index: 2000;
    position: absolute;
  }

  @keyframes changecolor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @keyframes changecolordark {
    0% {
      filter: hue-rotate(0deg) invert(1);
    }
    100% {
      filter: hue-rotate(360deg) invert(1);
    }
  }

  .square {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      41deg,
      rgba(0, 138, 255, 1) 0%,
      rgba(255, 0, 59, 1) 100%
    );
    z-index: 0;
    animation: changecolor 10s linear infinite;
    border-radius: 8px;
    position: absolute;
  }

  @media only screen and (max-width: 1000px) {
    .logohold {
      display: none;
    }
    .data {
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 95%;
      height: auto;
      position: relative;
    }
    .mobilehide {
      display: none;
    }

    .errholder {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:0px;
    align-items:center;
    justify-content:center;
  }

    .mainFooter {
      top: 37%;
      display: block;
      position: relative;
    }

    .top {
      top: 0;
      transform: translate(-50%, 0);
      height: auto;
      min-height: 0;
      max-width: 1500px;
      position: relative;
    }

    .socials {
      right: 20px;
    }

    .footer-holder {
      opacity: 0;
      display: none;
    }

    .footer-logo {
      width: 150px;
      height: auto;
    }

    .slogan {
      display: none;
    }

    .accordion-body {
      background-color: #fff;
      max-height: 20vh;
      overflow: scroll;
    }
    .symbolholder {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    .backsymbol {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    #square2 {
      left: 5px;
      top: 5px;
      width: calc(100% - 10px) !important;
      height: calc(100% - 10px) !important;
    }
    .bottomleftcorner {
      display: none;
    }
    .alert {
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
      position: absolute;
    }
    .hide {
      display: none;
    }
    .download {
      width: 100%;
      height: auto;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, auto));
      gap: 5px;
      position: relative;
    }
    .footer-holder {
      display: none;
    }
    .square {
      animation: none !important;
      border-radius: 0px;
    }
    .btn {
      width: 100%;
    }
    .dropdownbtn {
      top: 0;
      right: 0;
      width: 50px;
    }
  }
</style>
