---
import { changeLanguage } from "i18next";
import Layout from "../../../../layouts/layout.astro";
import Header from "../../../../components/header.astro";
import Footer from "../../../../components/footer.astro";

changeLanguage("es-LAT");
---

<Layout title="Mail Stats - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;" />
<div
  style="width:98%; max-width:1300px; margin-bottom:30px; left:50%; transform:translate(-50%, 0); padding:10px; border-radius:8px; color:white; background-color:rgb(203, 60, 60); box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1); text-align:center; position:relative;">
  <i class="fa fa-triangle-exclamation"></i> Heads up! This content is a port of
  the RiiConnect24 site
</div>
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center">
      <i class="fas fa-chart-bar" aria-hidden="true"></i> List of Games/Apps using
      Wii Mail
    </h1>
    <div class="row center">
      <h5 class="header center col s12">
        This tells you which games work with Wii Mail.
      </h5>
    </div>
    <audio autoplay>
      <source src="/sounds/wiimenureserved.wav" type="audio/wav" />
      Your browser does not support the audio element.
    </audio>
    <br /><br />
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row center">
      <ul class="collection">
        <li class="collection-item">
          <h5>All-Star Cheerleader 2</h5>
        </li>
        <li class="collection-item">
          <h5>Animal Crossing: City Folk/Let's Go to the City</h5>
          <b>Exchange:</b> Pictures and messages
        </li>
        <li class="collection-item">
          <h5>Band Hero</h5>
        </li>
        <li class="collection-item">
          <h5>Big Brain Academy: Wii Degree</h5>
          <b>Exchange:</b> Records
        </li>
        <li class="collection-item">
          <h5>Blast Works: Build, Trade, Destroy</h5>
        </li>
        <li class="collection-item">
          <h5>Boom Blox</h5>
          <b>Exchange:</b> Levels
        </li>
        <li class="collection-item">
          <h5>Bonsai Barber</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Cake Mania: In the Mix!</h5>
        </li>
        <li class="collection-item">
          <h5>Calling</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Chess Challenge!</h5>
          <b>Exchange:</b> Chess moves
        </li>
        <li class="collection-item">
          <h5>Conduit 2</h5>
        </li>
        <li class="collection-item">
          <h5>Crazy Machines</h5>
        </li>
        <li class="collection-item">
          <h5>Dewy's Adventure</h5>
        </li>
        <li class="collection-item">
          <h5>Dr. Mario Online Rx/& Germ Buster</h5>
          <b>Exchange:</b> Friend Battle Demo
          <br />
          <b>Note:</b> The friend battle is useless.
        </li>
        <li class="collection-item">
          <h5>Elebits</h5>
        </li>
        <li class="collection-item">
          <h5>Excitebike: World Rally</h5>
          <b>Exchange:</b> Courses
        </li>
        <li class="collection-item">
          <h5>Guitar Hero 5</h5>
        </li>
        <li class="collection-item">
          <h5>Happy Holidays: Christmas</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Happy Holidays: Halloween</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Horse Life Adventures/2</h5>
        </li>
        <li class="collection-item">
          <h5>Internet Channel</h5>
          <b>Exchange:</b> Internet addresses
        </li>
        <li class="collection-item">
          <h5>Kirby's Epic Yarn</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Liight</h5>
          <b>Exchange:</b> Levels
        </li>
        <li class="collection-item">
          <h5>MaBoShi's Arcade/The Three Shape Arcade</h5>
          <b>Exchange:</b> Replays
        </li>
        <li class="collection-item">
          <h5>Marble Saga: Kororinpa/Marbles! Balance Challenge</h5>
        </li>
        <li class="collection-item">
          <h5>Mario & Sonic at the Olympic Winter Games</h5>
        </li>
        <li class="collection-item">
          <h5>Mario Kart Wii</h5>
          <b>Exchange:</b> Ghost data and friend requests
        </li>
        <li class="collection-item">
          <h5>Metroid Prime 3: Corruption</h5>
          <b>Exchange:</b> Friend Vouchers
        </li>
        <li class="collection-item">
          <h5>Metroid Prime Trilogy</h5>
          <b>Exchange:</b> Friend Vouchers
        </li>
        <li class="collection-item">
          <h5>Mii Channel</h5>
          <b>Exchange:</b> Miis, and receive Miis in the Mii Parade
        </li>
        <li class="collection-item">
          <h5>Mix Superstar</h5>
        </li>
        <li class="collection-item">
          <h5>My Aquarium</h5>
          <b>Exchange:</b> Aquariums
        </li>
        <li class="collection-item">
          <h5>My Aquarium 2</h5>
          <b>Exchange:</b> Aquariums
        </li>
        <li class="collection-item">
          <h5>My Pokémon Ranch</h5>
          <b>Exchange:</b> Pictures, and ranch invitations
        </li>
        <li class="collection-item">
          <h5>Our House Party!</h5>
        </li>
        <li class="collection-item">
          <h5>Photo Channel</h5>
          <b>Exchange:</b> Pictures
        </li>
        <li class="collection-item">
          <h5>Pro Evolution Soccer 2008</h5>
        </li>
        <li class="collection-item">
          <h5>Pro Evolution Soccer 2009</h5>
        </li>
        <li class="collection-item">
          <h5>Rabbids Go Home</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Rock Revolution</h5>
        </li>
        <li class="collection-item">
          <h5>Strong Bad Episode 1: Homestar Ruiner</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Strong Bad Episode 2: Strong Badia - The Free</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Strong Bad Episode 3: Baddest of the Bands</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Strong Bad Episode 4: Dangeresque 3</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Strong Bad Episode 5: 8-bit is Enough</h5>
          <b>Exchange:</b> Letters
        </li>
        <li class="collection-item">
          <h5>Super Mario Galaxy</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Super Mario Galaxy 2</h5>
          <b>Exchange:</b> Pictures (ones sent to the Wii Message Board)
        </li>
        <li class="collection-item">
          <h5>Super Smash Bros. Brawl</h5>
          <b>Exchange:</b> Snapshots, stages, replays
          <br />
          <b>Note:</b> You need to be registered with a friend on Wiimmfi to send
          data.
        </li>
        <li class="collection-item">
          <h5>The Conduit</h5>
        </li>
        <li class="collection-item">
          <h5>UFC Personal Trainer: The Ultimate Fitness System</h5>
        </li>
        <li class="collection-item">
          <h5>WarioWare: D.I.Y. Showcase</h5>
          <b>Exchange:</b> Survey data, microgames
          <br />
          <b>Note:</b>
          <a
            style="color: #0072ab"
            href="https://github.com/RiiConnect24/auto-wiiware-patcher/releases"
            >The game must be patched for Wiimmfi for this to work</a
          >. <a href="https://diy.tvc-16.science/">Also, check out DoujinSoft</a
          >.
        </li>
        <li class="collection-item">
          <h5>Wii Music</h5>
          <b>Exchange:</b> Video clips<br />
          <br />
          <b>Note:</b>
          <a
            style="color: #0072ab"
            href="https://wii.hacks.guide/assets/files/brainslug-wii.zip"
            >The game must be launched from the disc with this copy of BrainSlug
            to work.</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<Footer />
