<div class="build">
  <h3>Sponsored content</h3>
  <script
    is:inline
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4011748932374526"
    crossorigin="anonymous"></script>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-4011748932374526"
    data-ad-slot="2488889667"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<style>
  .build {
    padding-left:30px;
    padding-right:30px;
    top:200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin-bottom:230px;
  }
</style>
