---
import { Icon } from "astro-icon/components";
---

<div class="ad advertisement" id="ad" style="width:95%; max-width:1500px; left:50%; transform:translate(-50%, 0); margin-top:30px; margin-bottom:30px; position:relative;">
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4011748932374526"
      crossorigin="anonymous"></script>
    <!-- News Ad -->
    <p
      style="opacity:0.3; font-family:system-ui; font-size:16px; position:relative;">
      Sponsored content <Icon name="lucide:info" style="margin-left:5px; cursor:pointer; margin-bottom:5px;" title="Advertisements help WiiLink remain free for everyone!\n\nPlease use an AdBlocker to hide them\n(we personally recommend uBlock Origin)" />
    </p>
    <ins
      class="adsbygoogle"
      style="display:block; width:100%; margin-bottom:30px; border-radius:8px; background-color: var(--bg-color-secondary); position:relative;"
      data-ad-client="ca-pub-4011748932374526"
      data-ad-slot="2020412961"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <script is:inline>
    // Remove the div if AdBlocker is enabled
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        const ad = document.getElementById("ad");
        if (ad.style.height === "auto") {
          ad.style.display = "block";
        } else {
          ad.style.display = "none";
        }
      }, 1000);
    });
  </script>