---
import { changeLanguage } from "i18next";
import { SITE_TITLE, SITE_DESCRIPTION } from "/consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";

const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<a
  href={localizePath("/")}
  class="logohold"
  style="top:60px; left:-20px; position:absolute;"
  ><img class="logo" src=" /img/Wii_Link_Logo.png" width="190px" /></a
>
<button
  style="z-index:1000;"
  class="btn dropdownbtn btn-black-50"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasTop"
  aria-controls="offcanvasTop"
  ><i
    style="font-size:30px; filter:opacity(0.9); transform:translate(-1px, -5px);"
    class="fa-solid fa-bars"></i></button
>

<div
  class="offcanvas offcanvas-end" style="width:100%;"
  id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-body">
    <button
      type="button"
      class="btn-close"
      style="top:23px; left:20px; z-index: 100; position:absolute;"
      data-bs-dismiss="offcanvas"
      aria-label="Close">
    </button>

    <div
          class="buttons">
          <a href="/"
            ><button type="button" class="btn btn-success" style="width:100%; height:60px;"
              ><i class="fa-solid fa-download"></i></button
            ></a
          >
          <button
            id="themeColorMobile"
            type="button"
            class="btn btn-light"
            onclick="darkToggle()"
            ><i class="fa-solid fa-sun"></i></button
          >
        </div>

    <div class="elements">
      <div class="main">
        <div class="link">
          <a href="/" style="z-index: 1; postition:relative"
            >{t("header.home")}</a
          ><div style="background-color:cyan;" class="underline"></div>
        </div>
        <div class="link">
          <a href="/news" style="z-index: 1; postition:relative"
            >{t("header.news")}</a
          ><div style="background-color:rgb(213, 102, 74);" class="underline">
          </div>
        </div>
        <div class="link">
          <a href="/guide" style="z-index: 1; postition:relative"
            >{t("header.guide")}</a
          ><div style="background-color:rgb(203, 229, 124);" class="underline">
          </div>
        </div>
        <div class="link">
          <a href="/status" style="z-index: 1; postition:relative"
            >{t("header.status")}</a
          ><div style="background-color:rgb(191, 112, 228);" class="underline">
          </div>
        </div>
        <div class="link">
          <a href="/guide/faq" style="z-index: 1; postition:relative"
            >{t("header.faq")}</a
          ><div style="background-color:rgb(203, 229, 124);" class="underline">
          </div>
        </div>
        <a class="link" href="/extras"
          ><div
            class="btn btn-danger"
            style="right:20px; width:200px; transform:translate(0, 1px); padding:18px; position:absolute;">
            <i class="fa-solid fa-box-open" style="margin-right:5px;"></i>
            {t("header.extras")}
          </div></a
        >
      </div>
    </div>
  </div>
</div>

<style>
  .my-select-class{
		top:0;
		left:0;
		width:45px;
		height:42px;
		font-size:30px;
		border:0px;
		display:none;
		background-color:#ffffff00;
		position:relative;
	}
	.badge{
		top:20px; 
		left:230px; 
		font-size:15px; 
		font-family:systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
		position:absolute;
	}
	.hide::before{
  content: "";
  position: fixed;
  left: 0;
  top: 41px;
  background: linear-gradient(to bottom, #ffffff, transparent);
  pointer-events: none;
  width: 100%;
  height: 50px;
  animation: fadein 0.1s linear forwards;
	}
	.hide2::after{
  content: "";
  position: fixed;
  left: 0;
  bottom: 73px;
  background: linear-gradient(to top, #ffffff, transparent);
  pointer-events: none;
  width: 100%;
  height: 50px;
  animation: fadein 0.1s linear forwards;
	}
	@keyframes fadein {
		0%{
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}
	#grad{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,32,32,0.5) 100%);
	}

.link:hover .underline{
    height:15px;
    transition: 0.5s;
  }
  .link{
    width:100%;
    padding-right:20px;
  }
  .underline{
    bottom:0;
    left:0;
    transform: translate(0, -18px);
    width:100%;
    height:0px;
    z-index: -1;
    transition: 0.5s;
    background-color: #00000020;
    position: relative;

  }

  .optDisplay::-webkit-scrollbar{
		display:none;
	}

  .btn{
    width:auto;
    position:relative;
  }

	.btn1{
		transform: translate(0, 10px);
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: relative;
	}

	.btn2{
		top:50%;
		left:258px;
		transform: translate(0, -50%);
		opacity:0;
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: absolute;
	}

	.btn3{
		transform: translate(0, 10px);
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: relative;
	}

.bannerholder{
    top:0;
    left:0;
	width:100%;
	height:128px;
	display:block;
	background-color: rgba(255, 255, 255, 0);
    z-index: 80;
    transition: 0.5s;
    position: sticky;
}

.logo{
	top:50%;
	left:50px;
	transform: translate(0,-50%);
	filter: invert(1);
	position: absolute;
}

@keyframes fadedown{
	0%{
		opacity:0;
		height:0px;
		transform: translate(50px, -15px);
	}
	100%{
		opacity:1;
		height:320px;
		transform: translate(50px, -10px);
	}
}

@keyframes fadeout{
	0%{
		opacity:1;
		height:320px;
		transform: translate(50px, -10px);
	}
	100%{
		opacity:0;
		height:0px;
		transform: translate(50px, -15px);
	}
}

ul{
	display: flex;
	gap:10px;
	width:auto;
	right:50px;
	top:60px;
	transform: translate(0, -50%);
	align-items:center;
	justify-content:center;
	font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgba(255, 255, 255, 0.53);
	position: absolute;
}

.banner{
	font-size:20px;
	margin-right:20px;
	mix-blend-mode: difference;
	color:black;
    position:relative;
    transition: 0.5s;
}

  .dropdownbtn {
    top: 20px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    z-index: 10;
    position: fixed;
  }
  .logohold {
    display: none;
  }
  .fade {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgb(61, 61, 61) 0%,
      rgba(239, 239, 239, 0) 100%
    );
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: 0;
    transition: 0.5s;
  }
  button {
    z-index: 10;
    position: relative;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .buttons {
    top:50px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:20px;
    position: relative;
  }
  .btn {
    display: none;
  }
  .posthold:nth-child(n + 7) {
    display: none;
  }
  .my-select-class {
    top: 0;
    left: 0;
    width: 45px;
    height: 42px;
    font-size: 30px;
    border: 0px;
    background-color: #ffffff00;
    position: relative;
  }
  .post:hover .desc {
    bottom: 48%;
    opacity: 1;
    transform: translate(0, 100%);
    transition: 0.5s;
  }
  .link:hover .underline {
    width: 100%;
    transition: 0.5s;
  }
  .underline {
    bottom: 0;
    left: 0;
    transform: translate(0, -25px);
    width: 0%;
    height: 15px;
    z-index: -1;
    transition: 0.5s;
    background-color: blue;
    position: relative;
  }
  .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-items: right;
    text-align: right;
    font-family: Gilroy;
    font-size: 40px;
  }
  .elements {
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    display: flex;
    position: absolute;
  }
  .offcanvas {
    height: 100%;
    width:100%;
  }
  .color {
    background: url("/img/header_bg.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }
  .offcanvas-size-sm {
    --bs-offcanvas-height: 100% !important;
    --bs-offcanvas-width: 100% !important;
  }

  @media only screen and (max-width: 1000px) {
    .logohold {
      display: block;
    }
    .btn {
      display: block;
    }
  }
</style>
