---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import LanguageDropdown from "./LanguageDropdown.astro";
import { Icon } from "astro-icon/components";
---

<div class="holder">
  <a
    href={localizePath("/")}
    aria-label="Home Link"
    class="logohold"
    style="transform:translate(-50px,0);"
    ><img
      loading="lazy"
      alt="WiiLink Logo"
      class="logo"
      src="/img/logo.webp"
      height="50px"
    /></a
  >
  <button
    style="z-index:1000;"
    class="btn dropdownbtn btn-black-50"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasTop"
    aria-label="Menu"
    aria-controls="offcanvasTop"
    ><Icon style="font-size:30px; filter:opacity(0.9);" name="lucide:menu"
     /></button
  >
</div>

<div
  class="offcanvas offcanvas-end"
  id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-body">
    <span style="display:flex; flex-direction: row; align-items:center; justify-content:space-between; gap:8px; padding:8px;">
    <a href="https://accounts.wiilink.ca" id="mobileaccountbtn"><div id="pfp-container" style="width:40px; height:40px; border-radius:8px; display:flex; align-items:center; justify-content:center; background:var(--bg-color-tertiary)"><Icon name="lucide:user" /></div></a>
    <img src="/img/logo.webp" style="filter:invert(var(--invert));" height="50px" />
    <button
      type="button"
      class="btn-close"
      style=""
      data-bs-dismiss="offcanvas"
      aria-label="Close">
    </button>
    </span>

    <div class="buttons">
      <a href="/" aria-label="Home Link"
        ><button
          type="button"
          class="btn btn-success"
          style="border-radius: 16px 4px 4px 4px; width:100%; height:60px;"
          ><Icon name="lucide:download" style="color: white !important; margin-bottom:3px;"
           /></button
        ></a
      >
      <button
        id="themeColorMobile"
        type="button"
        class="btn btn-light"
        style="border-radius: 4px 16px 4px 4px; background-color: var(--color);"
        onclick="themeToggle()"
        ><Icon name="lucide:sun" style="color: var(--bg-color-absolute); margin-bottom:3px;"
         /></button
      >
    </div>
    <LanguageDropdown ismobile/>
    <hr />
    <div class="holdcontainer"></div>
    <div class="elements">
      <a
        class="link"
        href="/"
        aria-label="Home Link"
        style="border-radius:16px 16px 4px 4px; z-index: 1; position:relative">
        <Icon name="lucide:home" style="margin-bottom:3px;" />
        {t("header.home")}
      </a>
      <a
        class="link"
        href="/news"
        aria-label="News Link"
        style="z-index: 1; position:relative">
        <Icon name="lucide:newspaper" style="margin-bottom:3px;" />
        {t("header.news")}
      </a>
      <a
        class="link"
        href="/guide"
        aria-label="Guide Link"
        style="z-index: 1; position:relative">
        <Icon name="lucide:book" style="margin-bottom:3px;" />
        {t("header.guide")}
      </a>
      <a
        class="link"
        href="/status"
        aria-label="Status Link"
        style="z-index: 1; position:relative">
        <Icon name="lucide:info" style="margin-bottom:3px;" />
        {t("header.status")}
      </a>
      <a
        class="link"
        href="/services"
        aria-label="Services Link"
        style="border-radius:4px 4px 16px 16px; z-index: 1; position:relative">
        <Icon name="lucide:package" style="margin-bottom:3px;" />
        {t("header.services")}
      </a>
    </div>
    <br />
    <li style="padding:12px; opacity:1 !important;">
      <a
        href="/extras"
        aria-label="Extras Link"
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        ><div><Icon name="lucide:package-open" style="margin-bottom:3px;" /> {t("header.extras")}</div></a
      >
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        href="https://wfc.wiilink24.com"
        aria-label="WiiLink WFC Link"
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        ><div><Icon name="lucide:wifi" style="margin-bottom:3px;" /> WiiLink WFC</div></a
      >
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        href="https://miicontest.wiilink.ca"
        aria-label="CMOC Viewing Tool Link"
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        ><div><Icon name="lucide:users" style="margin-bottom:3px;" /> Check Mii Out Channel</div></a
      >
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        href="https://evc.wiilink.ca"
        aria-label="EVC Viewing Tool Link">
        <div>
          <Icon name="lucide:chart-no-axes-column" style="margin-bottom:3px;" /> Everybody Votes Channel
        </div>
      </a>
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        href="https://tag.rc24.xyz/"
        aria-label="LinkTag">
        <div><Icon name="lucide:tag" style="margin-bottom:3px;" /> LinkTag</div>
      </a>
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        href="https://card.wiilink24.com/"
        aria-label="LinkTag">
        <div><Icon name="lucide:id-card" style="margin-bottom:3px;" /> Digicard</div>
      </a>
    </li>
    <li style="padding:12px; opacity:1 !important;">
      <a
        style="display:flex; align-items:center; justify-content:space-between; gap:8px;"
        href="https://stamp.wiilink.ca/"
        aria-label="LinkTag">
        <div><Icon name="lucide:stamp" style="margin-bottom:3px;" /> Mii Stamp Generator</div>
      </a>
    </li>
    <hr />

    <div
      style="display:flex; flex-direction:row; align-items: center; justify-content:space-between; gap:3px;">
      <a
        href="https://bookmark.rc24.xyz"
        style="padding:8px; width:100%; border-radius:8px 4px 4px 8px; background-color:var(--bg-color-secondary); text-align:center;"
        aria-label="Wii Bookmarks"
        title="Wii Bookmarks"><Icon name="lucide:bookmark" style="margin-bottom:3px;" /></a
      >
      <a
        href="http://disc.rc24.xyz/"
        style="padding:8px; width:100%; border-radius:4px; background-color:var(--bg-color-secondary); text-align:center;"
        aria-label="Get the date your GameCube, Wii, or Wii U disc was manufactured."
        title="Get the date your GameCube, Wii, or Wii U disc was manufactured."
        ><Icon name="lucide:disc" style="margin-bottom:3px;" /></a
      >
      <a
        href="http://interviews.rc24.xyz/"
        style="padding:8px; width:100%; border-radius:4px; background-color:var(--bg-color-secondary); text-align:center;"
        aria-label="Nintendo dev interviews"
        title="Nintendo dev interviews"><Icon name="lucide:message-circle" style="margin-bottom:3px;" /></a
      >
      <a
        href="http://wiiremote.rc24.xyz/"
        style="padding:8px; width:100%; border-radius:4px 8px 8px 4px; background-color:var(--bg-color-secondary); text-align:center;"
        aria-label="Get the date your Wii Remote was manufactured."
        title="Get the date your Wii Remote was manufactured."
        ><Icon name="lucide:gamepad-2" style="margin-bottom:3px;" /></a
      >
    </div>

    <hr />

    <li>
      <a href="https://www.discord.gg/wiilink" aria-label="Discord Link"
        ><Icon name="simple-icons:discord" style="margin-bottom:3px;" /> Join our Discord server!</a
      >
    </li>
    <li>
      <a href="/privacy-policy" aria-label="Privacy Policy Link"
        ><Icon name="lucide:shield" style="margin-bottom:3px;" /> {t("header.privacyPolicy")}</a
      >
    </li>
    <li>
      <a href="/tos" aria-label="Terms of Service Link"
        ><Icon name="lucide:feather" style="margin-bottom:3px;" /> {t("header.tos")}</a
      >
    </li>
    <li>
      <a href="/eula" aria-label="EULA Link"
        ><Icon name="lucide:book" style="margin-bottom:3px;" /> EULA</a
      >
    </li>
  </div>
</div>

<style>
  .my-select-class {
    top: 0;
    left: 0;
    width: 45px;
    height: 42px;
    font-size: 30px;
    border: 0px;
    display: none;
    background-color: #ffffff00;
    position: relative;
  }

  .bannerholder {
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    z-index: 80;
    transition: 0.5s;
    position: sticky;
  }

  a {
    font-size: 16px;
    text-decoration: none;
  }

  .offcanvas {
    background-color: var(--bg-color);
  }

  .buttons {
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
    position: relative;
  }

  .elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .link {
    width: 100%;
    padding: 18px;
    text-align: center;
    background-color: var(--bg-color-tertiary);
    border-radius: 4px;
    transition: 0.2s;
  }

  .link:hover {
    background-color: var(--bg-color-secondary);
  }

  .link:active {
    transform: scale(0.95);
    transition: 0.2s;
  }

  li {
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    list-style-type: none;
    opacity: 0.5;
  }

  li:hover {
    background-color: var(--bg-color-tertiary);
  }

  .holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    z-index: 1000;
    position: fixed;
  }

  .logo {
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
    filter: invert(1);
    position: absolute;
  }

  .dropdownbtn,
  .logohold {
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    .dropdownbtn,
    .logohold {
      display: block;
    }
  }
</style>
