---
import { changeLanguage } from "i18next";
import { SITE_TITLE, SITE_DESCRIPTION } from "/consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";

const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<a
  href={localizePath("/")}
  class="logohold"
  style="top:50px; left:-25px; z-index: 100; position:absolute;"
  ><img class="logo" src=" /img/Wii_Link_Logo.png" width="140px" /></a
>
<button
  style="z-index:1000;"
  class="btn dropdownbtn btn-black-50"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasTop"
  aria-controls="offcanvasTop"
  ><i
    style="font-size:30px; filter:opacity(0.9); transform:translate(-1px, -5px);"
    class="fa-solid fa-bars"></i></button
>

<div
  class="offcanvas offcanvas-end"
  id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-body">
    <img
      src="/img/Wii_Link_Logo.png"
      width="140px"
      class="invert"
      style="margin: 0 auto; filter:invert(1); display: block;"
    />
    <button
      type="button"
      class="btn-close"
      style="top:23px; right:20px; z-index: 100; position:absolute;"
      data-bs-dismiss="offcanvas"
      aria-label="Close">
    </button>

    <div class="buttons">
      <a href="/"
        ><button
          type="button"
          class="btn btn-success"
          style="width:100%; height:60px;"
          ><i class="fa-solid fa-download" style="color: white !important;"
          ></i></button
        ></a
      >
      <button
        id="themeColorMobile"
        type="button"
        class="btn btn-light"
        style="background-color: var(--color);"
        onclick="darkToggle()"
        ><i class="fa-solid fa-sun" style="color: var(--bg-color-absolute);"
        ></i></button
      >
    </div>
    <hr />
    <div class="elements">
      <a class="link" href="/" style="z-index: 1; position:relative">
        <i class="fas fa-home"></i>
        {t("header.home")}
      </a>
      <a class="link" href="/news" style="z-index: 1; position:relative">
        <i class="fas fa-newspaper"></i>
        {t("header.news")}
      </a>
      <a class="link" href="/guide" style="z-index: 1; position:relative">
        <i class="fas fa-book"></i>
        {t("header.guide")}
      </a>
      <a class="link" href="/status" style="z-index: 1; position:relative">
        <i class="fas fa-info-circle"></i>
        {t("header.status")}
      </a>
      <a class="link" href="/services" style="z-index: 1; position:relative">
        <i class="fas fa-cogs"></i> Services
      </a>
      <a class="link" href="/extras" style="z-index: 1; position:relative">
        <i class="fas fa-gift"></i> Extras
      </a>
    </div>
    <br />
    <li>
      <a href="https://wfc.wiilink24.com"
        ><i class="fa-solid fa-globe"></i> WiiLink WFC</a
      >
    </li>
    <li>
      <a href="/privacy-policy"
        ><i class="fa-solid fa-shield"></i> Privacy Policy</a
      >
    </li>
    <li>
      <a href="/tos"><i class="fa-solid fa-feather"></i> Terms of Service</a>
    </li>
  </div>
</div>

<style>
  .my-select-class {
    top: 0;
    left: 0;
    width: 45px;
    height: 42px;
    font-size: 30px;
    border: 0px;
    display: none;
    background-color: #ffffff00;
    position: relative;
  }

  .bannerholder {
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    z-index: 80;
    transition: 0.5s;
    position: sticky;
  }

  .offcanvas {
    background-color: var(--bg-color);
  }

  a {
    text-decoration: none;
  }

  .buttons {
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
    position: relative;
  }

  .elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .link {
    width: 100%;
    padding: 18px;
    text-align: center;
    background-color: var(--bg-color-tertiary);
    border-radius: 8px;
  }

  .link:hover {
    background-color: var(--bg-color-secondary);
  }

  li {
    padding: 4px;
    border-radius: 4px;
    list-style-type: none;
    opacity: 0.5;
  }

  li:hover {
    background-color: var(--bg-color-tertiary);
  }

  .dropdownbtn {
    top: 30px;
    right: 15px;
    position: fixed;
  }

  .logo {
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
    filter: invert(1);
    position: absolute;
  }

  .dropdownbtn,
  .logohold {
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    .dropdownbtn,
    .logohold {
      display: block;
    }
  }
</style>
