---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";

async function fetchGitHub() {
  try {
    const response = await fetch('https://api.github.com/repos/WiiLink24/WiiLink-Patcher-GUI/releases/latest');
    const data = await response.json();
    return data || {};
  } catch (error) {
    console.error('GitHub Error:', error);
    return {};
  }
}

const releaseData = await fetchGitHub();

const formatDate = (date) => {
  return date ? new Intl.DateTimeFormat('en-UK', {
    year: 'numeric',
    month: 'long',
    day: '2-digit'
  }).format(new Date(date)) : 'Unknown';
};

const formatTime = (date) => {
  return date ? new Intl.DateTimeFormat('en-UK', {
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit'
  }).format(new Date(date)) : 'Unknown';
};
---

<div class="build">
  <div class="build-holder">
    <h1 class="title">
      <Trans i18nKey="build.title">
        What's up with this <b class="color">build</b>?
      </Trans>
    </h1>
    <div id="inner-data" class="build-square">
      <img loading="lazy" alt="WiiLink Box" src='/img/WiiLink_pack.webp' style='filter:drop-shadow(0 0 20px #138aa820);' width='150px' height='150px'>
          <a style='color:black; text-decoration:none;' href={releaseData.html_url || '#'} aria-label='WiiLink Patcher Link'>
            <h2 class='release-name' style='animation:fadeup 0.2s forwards;'>
              <o style='font-family:Rubik; font-weight:600;'>WiiLink</o> Patcher 
              <span style='scale:60%; transform:translate(-30px, -20px);' class='badge rounded-pill bg-secondary'>{releaseData.tag_name || 'Unknown'}</span>
            </h2>
            <h2 style='top:-5px; font-size:20px; filter:opacity(0.7); position:relative;'>
              <span class='git-branch'></span> <b>{t("build.releaseBranch")}</b>
              <span style='top:-2px; box-shadow:0px 0px 10px #4c97ed60; position:relative;' class='badge pill bg-primary'>{releaseData.target_commitish || 'Unknown'}</span>
            </h2>
            <h2 style='top:-5px; font-size:20px; filter:opacity(0.7); position:relative;'>
              <span class='calendar-days'></span> <b>{t("build.releaseDate")}</b> {formatDate(releaseData.created_at)}
              <span style='top:-2px; left:5px; box-shadow:0px 0px 20px #4ced9a60; position:relative;' class='badge pill bg-success'>@ {formatTime(releaseData.created_at)}</span>
            </h2>
          </a>
          <div class="gitbuilddata" style='width:300px; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; gap:10px; position:relative;'>
            <span style="display:flex; flex-direction: row; align-items:center; gap:12px;">
            <img alt={`${releaseData.author?.login || 'Unknown'}'s PFP`} src={releaseData.author?.avatar_url || '/img/default-avatar.png'} width='60px' height='60px' style='border-radius:8px;'> 
            <h2 style='width:220px;'><p style="font-size:15px; margin:0px;">{t("build.releasedBy")}</p>{releaseData.author?.login || 'Unknown'}</h2>
            </span>
            <span style="display:flex; flex-direction: row; align-items:center; gap:6px;">
            <h2 style='font-size:23px;'><span style='transform:translate(0, -2px); font-size:14px; background-color:var(--bg-opaque-2);' class='badge rounded'>{t("build.releaseTotal")} {releaseData.reactions?.total_count || 0}</span></h2>
            <h2 style='font-size:23px;'><span class='star'></span> {releaseData.reactions?.hooray || 0}</h2>
            <h2 style='font-size:23px;'><span class='heart'></span> {releaseData.reactions?.heart || 0}</h2>
            <h2 style='font-size:23px;'><span class='rocket'></span> {releaseData.reactions?.rocket || 0}</h2>
            <h2 style='font-size:23px;'><span class='eye'></span> {releaseData.reactions?.eyes || 0}</h2>
            </span>
            <div class="btn btn-success" style="width:100%; font-size:16px; padding:6px; border-radius:10px; box-shadow:0px 0px 20px #00000020; text-align:center;">
            <a style="color:white; text-decoration:none;" href={releaseData.html_url} aria-label="Download WiiLink Patcher">
              <span class='github'></span> View on GitHub
            </a>
          </div>
          </div>
    </div>
    <div class="dots"></div>
  </div>
</div>

<style>
  .build-holder {
    margin-top:200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1500px;
    position: relative;
  }
  .build-square {
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    max-width: 1500px;
    background-color: var(--bg-color-tertiary);
    box-shadow: 0px 5px 10px #00000020;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 15px;
    min-height: 250px;
    z-index: 1;
    position: relative;
  }
  .dots {
    top: -80px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(var(--border-color) 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: relative;
  }
  .build {
    background-color: var(--bg-color-secondary);
    position: relative;
  }
  .color {
    background: url("/img/header_bg.webp");
    background: AccentColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }
  .title {
    padding-top:80px;
    right: 50px;
    text-align: right;
    width: 100%;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: Gilroy;
    position: relative;
  }

  @media only screen and (max-width: 1000px) {
    .title {
      left: 20px;
      width: 90%;
      font-size: 40px;
      text-align: left;
    }

    .build-square {
      gap: 30px;
    }
  }
</style>

<style is:global>
  @media only screen and (max-width: 1300px) {
    .gitbuilddata {
      width: 600px !important;
    }
  }
</style>