---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

import { promises as fs } from 'fs';
import path from 'path';

let donators;

async function fetchData() {
  const filePath = path.join(process.cwd(), 'public', 'json', 'donators.json');
  const fileContents = await fs.readFile(filePath, 'utf8');
  const jsonData = JSON.parse(fileContents);
  return jsonData.donators.donator;
}

donators = await fetchData();
---

<div class="build">
  <div class="build-holder">
    <h1 class="title">
      <Trans i18nKey="donate.title">
        Made possible by users like <b class="color">you</b>
      </Trans>
    </h1>
    <h2 class="subtitle-main">
      <Trans i18nKey="donate.subtitle">
        <b style="font-family:Rubik;">WiiLink</b> is funded publicly by our <i
          class="color">users</i
        > and <i class="color">sponsors</i>. <b class="color"
          >To help our running costs, please consider donating!</b
        >
      </Trans>
    </h2>
    <div class="tiers-holder">
      <div class="tiers">
        <div class="build-square tier-1">
          <a
            href="https://buy.stripe.com/8wMdRF25ig3k1ry3cc"
            aria-label="Violet Donation Tier Link"
            style="height:100%; text-decoration:none; display:flex; flex-direction:column; justify-content:space-between;">
            <div>
              <div
                class="mobile-gap"
                style="display: flex; gap:8px; align-items: center;">
                <img
                alt="Violet Tier"
                  loading="lazy"
                  src="/img/tier_1.webp"
                  class="smalltierimg"
                  style="width:60px; display:none; position:relative;"
                />
                <h2 style="font-family: gilroy; margin-right: 10px;">Violet</h2>
                <hr
                  style="flex: 3; border: none; border-top: 2px solid var(--border-color);"
                />
                <p style="flex: 2; text-align:right; margin-bottom:0;">
                  {t("donate.thanks-tier-1")}
                </p>
              </div>
              <img
              alt="Violet Tier"
                loading="lazy"
                src="/img/tier_1.webp"
                style="top:18px; left:50%; transform:translate(-50%, 0); width:150px; position:relative;"
              />
            </div>
            <div>
              <h5 style="margin-top:50px; opacity:0.8;">
                <Trans i18nKey="donate.info-tier-1">
                  Get access to the <b
                    ><span class="discord"></span> donators channel</b
                  >, as well as <b
                    ><span class="globe"></span> recognition on our website</b
                  >!
                </Trans>
              </h5>
              <br />
              <button
                class="btn btn-success"
                style="background-color:#8cb727; width:100%; border:0px; display:flex; flex-direction:row; gap:8px; align-items:center; justify-content:center; flex-wrap:nowrap;"
                ><l style="text-align:right;">
                  <Trans i18nKey="donate.sub"
                    >Subscribe for <br /> per month</Trans
                  ></l
                >
                <b style="font-size:50px">$2</b></button
              >
            </div>
          </a>
        </div>
        <div class="build-square tier-2">
          <a
            href="https://buy.stripe.com/aEUdRFbFS18qb28cMN"
            aria-label="Lilac Donation Tier Link"
            style="height:100%; text-decoration:none; display:flex; flex-direction:column; justify-content:space-between;">
            <div>
              <div
                class="mobile-gap"
                style="display: flex; gap:8px; align-items: center;">
                <img
                alt="Lilac Tier"
                  loading="lazy"
                  src="/img/tier_2.webp"
                  class="smalltierimg"
                  style="width:60px; display:none; position:relative;"
                />
                <h2 style="font-family: gilroy; margin-right: 10px;">Lilac</h2>
                <hr
                  style="flex: 3; border: none; border-top: 2px solid var(--border-color);"
                />
                <p style="flex: 2; text-align:right; margin-bottom:0;">
                  {t("donate.thanks-tier-2")}
                </p>
              </div>
              <img
              alt="Lilac Tier"
                loading="lazy"
                src="/img/tier_2.webp"
                style="top:18px; left:50%; transform:translate(-50%, 0); width:150px; position:relative;"
              />
            </div>
            <div>
              <h5 style="margin-top:50px; opacity:0.8;">
                <Trans i18nKey="donate.info-tier-2">
                  Have your very own <b
                    ><span class="film"></span> movie poster</b
                  > inside of Wii Room, <b
                    ><span class="utensils"></span> restaurant</b
                  > inside of the Food Channel, as well as <b
                    >all the perks of Violet</b
                  >!
                </Trans>
              </h5>
              <br />
              <button
                class="btn btn-success"
                style="background-color:rgb(82, 143, 147); width:100%; border:0px; display:flex; flex-direction:row; gap:8px; align-items:center; justify-content:center; flex-wrap:nowrap;"
                ><l style="text-align:right;">
                  <Trans i18nKey="donate.sub"
                    >Subscribe for <br /> per month</Trans
                  ></l
                >
                <b style="font-size:50px">$5</b></button
              >
            </div>
          </a>
        </div>
        <div class="build-square tier-3">
          <a
            href="https://buy.stripe.com/eVa7thcJW8AS8U05km"
            aria-label="Tulip Donation Tier Link"
            style="height:100%; text-decoration:none; display:flex; flex-direction:column; justify-content:space-between;">
            <div>
              <div
                class="mobile-gap"
                style="display: flex; gap:8px; align-items: center;">
                <img
                alt="Tulip Tier"
                  loading="lazy"
                  src="/img/tier_3.webp"
                  class="smalltierimg"
                  style="width:60px; display:none; position:relative;"
                />
                <h2 style="font-family: gilroy; margin-right: 10px;">Tulip</h2>
                <hr
                  style="flex: 3; border: none; border-top: 2px solid var(--border-color);"
                />
                <p style="flex: 2; text-align:right; margin-bottom:0;">
                  {t("donate.thanks-tier-3")}
                </p>
              </div>
              <img
              alt="Tulip Tier"
                loading="lazy"
                src="/img/tier_3.webp"
                style="top:18px; left:50%; transform:translate(-50%, 0); width:150px; position:relative;"
              />
            </div>
            <div>
              <h5 style="margin-top:50px; opacity:0.8;">
                <Trans i18nKey="donate.info-tier-3">
                  Have your very own <b><span class="user"></span> Mii</b> inside
                  of Wii Room, access to the <b
                    ><span class="discord"></span> Tester Discord chat</b
                  >, and <b>all the perks of Lilac</b>!
                </Trans>
              </h5>
              <br />
              <button
                class="btn btn-success"
                style="background-color:rgb(160, 100, 186); width:100%; border:0px; display:flex; flex-direction:row; gap:8px; align-items:center; justify-content:center; flex-wrap:nowrap;"
                ><l style="text-align:right;">
                  <Trans i18nKey="donate.sub"
                    >Subscribe for <br /> per month</Trans
                  ></l
                >
                <b style="font-size:50px">$10</b></button
              >
            </div>
          </a>
        </div>
        <div class="build-square tier-4">
          <a
            href="https://buy.stripe.com/28o7th8tG4kC8U0bIL"
            aria-label="Rose Donation Tier Link"
            style="height:100%; text-decoration:none; display:flex; flex-direction:column; justify-content:space-between;">
            <div>
              <div
                class="mobile-gap"
                style="display: flex; gap:8px; align-items: center;">
                <img
                alt="Rose Tier"
                  loading="lazy"
                  src="/img/tier_4.webp"
                  class="smalltierimg"
                  style="width:60px; display:none; position:relative;"
                />
                <h2 style="font-family: gilroy; margin-right: 10px;">Rose</h2>
                <hr
                  style="flex: 3; border: none; border-top: 2px solid var(--border-color);"
                />
                <p style="flex: 2; text-align:right; margin-bottom:0;">
                  {t("donate.thanks-tier-4")}
                </p>
              </div>
              <img
              alt="Rose Tier"
                loading="lazy"
                src="/img/tier_4.webp"
                style="top:18px; left:50%; transform:translate(-50%, 0); width:150px; position:relative;"
              />
            </div>
            <div>
              <h5 style="margin-top:50px; opacity:0.8;">
                <Trans i18nKey="donate.info-tier-4">
                  Create your very own <b
                    ><span class="milestone"></span> Room</b
                  > inside of Wii Room, as well as <b>all the perks of Tulip</b
                  >!
                </Trans>
              </h5>
              <br />
              <button
                class="btn btn-success"
                style="background-color:rgb(113, 185, 103); width:100%; border:0px; display:flex; flex-direction:row; gap:8px; align-items:center; justify-content:center; flex-wrap:nowrap;"
                ><l style="text-align:right;">
                  <Trans i18nKey="donate.sub"
                    >Subscribe for <br /> per month</Trans
                  ></l
                >
                <b style="font-size:50px">$20</b></button
              >
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="donator-holder">
      <h2
        style="top:50%; left:50px; width:250px; transform:translate(0, -50%); text-align:left; font-size: 30px; z-index: 1; position:relative;"
        class="subtitle">
        <Trans i18nKey="donate.donators">
          ...and join all these <b class="color">cool people</b>
        </Trans>
      </h2>
      <div class="slider">
        <div id="donators">
          {donators.map(donator => (
            <div class="donator">
              <h2>{donator.name}</h2>
            </div>
          ))}
        </div>
      </div>
    </div>

    <h3
      style="top:40px; margin-bottom:80px; width:100%; opacity:0.5; text-align:right; font-size: 15px; position:relative;">
      <Trans i18nKey="donate.powered">Powered by</Trans>
      <img
      alt="Stripe Logo"
        loading="lazy"
        class="stripe-logo"
        src="/img/stripe_logo.webp"
        style="transform:translate(0, -2px);"
        height="30px"
      />
    </h3>
  </div>
</div>

<style>
  .build-holder {
    left: 50%;
    transform: translate(-50%, 20px);
    width: 95%;
    max-width: 1500px;
    padding-top: 30px;
    position: relative;
  }
  .build-square {
    width: 95%;
    box-shadow: 0px 5px 10px #00000020;
    background-color: var(--bg-color-primary);
    border: 2px solid rgb(255, 240, 240);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 15px;
    transition: 0.1s;
    z-index: 1;
    position: relative;
  }
  .slider::before {
    background: linear-gradient(
      to right,
      var(--bg-color) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 30%;
    z-index: 2;
  }

  button l,
  button b {
    color: white !important;
  }
  .donator-holder {
    top:20px;
    height: 100px;
    max-width: 1500px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }
  .slider {
    top: -35px;
    height: 150px;
    margin: auto;
    border-radius: 8px;
    z-index: 0;
    width: 1500px;
    overflow: hidden;
    position: absolute;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  #donators {
    display:flex;
    flex-direction: row;
    position: relative;
    animation: scroll 80s linear infinite;
  }
  .donator {
    top: 20px;
    height: 100px;
    min-width: 300px;
    background-color: var(--bg-color-secondary);
    border-radius: 16px;
    padding-right: 30px;
    margin: 15px;
    margin-right: 0px;
    position: relative;
  }

  .donator-holder h2 {
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    left: 20px;
    font-family: Gilroy;
    position: relative;
  }
  .build-square:hover {
    box-shadow: 0px 5px 15px #7d7d7d20;
    background-color: var(--bg-color-secondary);
    transition: 0.1s;
  }
  .build-square:active {
    transform: scale(0.98);
    transition: 0.2s;
  }
  .tier-1 {
    border-radius: 16px 8px 8px 16px;
    background-size: cover;
    border: 2px solid rgb(228, 255, 169);
  }
  .tier-2 {
    border-radius: 8px;
    background-size: cover;
    border: 2px solid rgb(148, 248, 255);
  }
  .tier-3 {
    border-radius: 8px;
    background-size: cover;
    border: 2px solid rgb(238, 206, 252);
  }
  .tier-4 {
    border-radius: 8px 16px 16px 8px;
    background-size: cover;
    border: 2px solid rgb(205, 213, 204);
  }
  .tiers-holder {
    width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }
  .tiers {
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    gap: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    position: relative;
  }
  .tiers::-webkit-scrollbar {
    display: none;
  }
  .tiers > * {
    scroll-snap-align: start;
  }
  .build {
    top: 100px;
    position: relative;
  }
  .subtitle-main {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .title {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: Gilroy;
    position: relative;
  }

  @media only screen and (max-width: 1000px) {
    .build-square {
      width: 100%;
      height: auto;
    }
    .tiers-holder {
      left: 50%;
      transform: translate(-50%, 0);
      width: 98%;
    }
    .smalltierimg {
      display: block !important;
    }
    .build-holder img:nth-child(2),
    .build-holder hr {
      display: none !important;
    }
    .mobile-gap {
      gap: 18px !important;
    }
    h5 {
      margin-top: 28px !important;
    }
    .build-square:nth-child(1) {
      border-radius: 16px 16px 8px 8px;
    }
    .build-square:nth-child(4) {
      border-radius: 8px 8px 16px 16px;
    }
    .tiers {
      display: flex;
      flex-direction: column;
    }
    .slider::before {
      background: none;
    }
    .title {
      font-size: 40px;
      text-align: left;
      left: 20px;
      width: 90%;
    }
    .subtitle-main {
      font-size: 25px;
      text-align: left;
      margin-left: 20px;
      width: 90%;
    }
    .subtitle {
      display: none;
    }
  }

  .film {
   display: inline-block;
   width: 22px;
   height: 22px;
   margin-bottom: -5px;
   background-color: currentColor;
   --svg: url('/icons/film.svg');
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
  }

  .utensils {
   display: inline-block;
   width: 22px;
   height: 22px;
   margin-bottom: -5px;
   background-color: currentColor;
   --svg: url('/icons/utensils.svg');
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
  }

  .discord {
   display: inline-block;
   width: 22px;
   height: 22px;
   margin-bottom: -5px;
   background-color: currentColor;
   --svg: url('/icons/discord.svg');
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
  }

  .milestone {
   display: inline-block;
   width: 22px;
   height: 22px;
   margin-bottom: -5px;
   background-color: currentColor;
   --svg: url('/icons/milestone.svg');
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
  }
</style>
