---
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<div class="roundcontainer">
	<h2 class="contentslogan" style="top:28px; position: relative;"> <d style="font-family: Gilroy;">{t("donate.title")}</d></h2>
	<div class="discordholder">
		<div class="discordmessage">{t("donate.desc")}</div>
		<a class="social" href="https://discord.gg/wiilink-750581992223146074"><div class="discordjoinbutton">{t("donate.join")}</div></a>
	</div>
	<div class="slider">
		<div class="slide-track">
		  <div class="slide">
			
		  </div>
		  <div class="slide">
		  </div>
		  <div class="slide" style="background-color: #aab52b;">
        <h3 class="name" style="color:white;">HBH</h3>
		  </div>
		  <div class="slide">
			<h3 class="name">Snapple</h3>
		  </div>
		  <div class="slide">
        <h3 class="name">FreshGreen</h3>
		  </div>
		  <div class="slide">
			 
		  </div>
		  <div class="slide">
			<h3 class="name">King Yakuza FES</h3>
		  </div>
		  <div class="slide">
			 
		  </div>
		  </div>

		  <div class="slide-track">
			<div class="slide">
        <h3 class="name">Drip Tarts</h3>
			</div>
			<div class="slide">
			   
			</div>
			<div class="slide">
        <h3 class="name">Bombdinomite</h3>
			</div>
			<div class="slide">
        
			</div>
			<div class="slide">
			   
			</div>
			<div class="slide">
        <h3 class="name">ceasorlydell31</h3>
			</div>
			<div class="slide">
			   
			</div>
			<div class="slide">
        <h3 class="name">PurpleKoolAidInDaHood</h3>
			</div>
			</div>

			<div class="slide-track">
				<div class="slide">
          <h3 class="name">Frooman</h3>
				</div>
				<div class="slide">
          <h3 class="name">SMUG</h3>
				</div>
				<div class="slide">
				   
				</div>
				<div class="slide">
          <h3 class="name">itsRavey</h3>
				</div>
				<div class="slide">
				   
				</div>
				<div class="slide">
				   
				</div>
				<div class="slide">
          <h3 class="name">GamerDude321</h3>
				</div>
				<div class="slide">
          <h3 class="name">Snap</h3>
				</div>
				</div>

				<div class="slide-track">
					<div class="slide">
            <h3 class="name">BlueBoi</h3>
					</div>
					<div class="slide">
					   
					</div>
					<div class="slide">
            <h3 class="name">Igel</h3>
					</div>
					<div class="slide">
            <h3 class="name">RandomBritish Dude</h3>
					</div>
					<div class="slide">
					   
					</div>
					<div class="slide">
            <h3 class="name">Jed360</h3>
					</div>
					<div class="slide">
					   
					</div>
					<div class="slide">
            <h3 class="name">Kai w</h3>
					</div>
					</div>
		</div>
		<div class="title">{t("donate.donors")}</div>
	  </div>
</div>

<style>
  .name{
    position: relative;
    color: #7f87e3;
    font-family: Gilroy;
    font-size: 30px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width:100%;
    height:100%;
  }

	  .title{
		font-size: 15px;
		color:white;
		font-family: Cafe;
		top:20px;
		right:20px;
		background-color: #24242572;
		backdrop-filter: blur(8px);
		padding:10px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 18px;
		position: absolute;
	  } 

	.contentslogan{
    text-align: center;
    z-index: 2;
	}

	.roundcontainer{
        width:80%;
        height:580px;
        left:50%;
        margin-bottom:200px;
        position: relative;
        transform: translate(-50%, 200px);
        background-color: #5865f243;
        border-radius: 8px;
        overflow: hidden;
    }

    .discordholder{
        width:95%;
        height:100px;
        bottom:4%;
        left:50%;
        transform: translate(-50%, 0);
        border-radius: 8px;
        position: absolute;
        background-color: #333dab;
        z-index: 2;
    }

    .discordmessage{
        top:50%;
        left:20px;
        color:white;
        font-size:20px;
        font-family: Gilroy;
        position: absolute;
        transform: translate(0, -50%);
        z-index: 2;
    }

    .discordjoinbutton{
        right:20px;
        top:50%;
        transform: translate(0%,-50%);
        height:70px;
        width:200px;
        text-align: center;
        text-transform:uppercase;
        font-family: Gilroy;
        font-size: 30px;
        color:white;
        background-color: #5865F2;
        vertical-align: middle;
        line-height: 70px; 
        border-radius: 8px;
        position: absolute;
        z-index: 2;
		transition: 0.2s;
    }

	.discordjoinbutton:hover{
		background-color: #414cc7;
		box-shadow: 0px 0px 8px #2f3ddb;
		transform: 0.2s;
	}

	  @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  margin: auto;
  top:20px;
  overflow:hidden;
  position: absolute;
  width: 100%;
  opacity:0.3;
  z-index:0;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(39, 43, 80, 1) 0%, rgba(39, 43, 80, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 1;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(500px * 14);
}

.slider .slide-track:nth-child(1) {
  animation: scroll 40s linear infinite;
  animation-direction: reverse;
  display: flex;
  width: calc(500px * 14);
  top: 120px;
  position: absolute;
}

.slider .slide-track:nth-child(2) {
  animation: scroll 40s linear infinite;
  display: flex;
  top:240px;
  width: calc(500px * 14);
  position: absolute;
}

.slider .slide-track:nth-child(3) {
  animation: scroll 40s linear infinite;
  animation-direction: reverse;
  display: flex;
  width: calc(500px * 14);
  top: 360px;
  position: absolute;
}

.slider .slide {
  height: 100px;
  width: 480px;
  margin-right:20px;
  border-radius: 8px;
  background-size: fill;
  background-color: rgb(96, 60, 188);
  z-index: 0;
}

@media (max-width:1000px) {
	.roundcontainer{
		width:100%;
		border-radius: 0px;
		transform: translate(-50%, 150px);
	}

    .discordholder{
        width:100%;
        height:180px;
        bottom:4%;
        left:50%;
        transform: translate(-50%, 0);
        border-radius: 0px;
        position: absolute;
        background-color: #333dab;
        z-index: 2;
    }

    .discordmessage{
        top:20px;
        left:50%;
        color:white;
        font-size:20px;
        font-family: Gilroy;
        position: absolute;
		text-align: center;
        transform: translate(-50%, 0%);
		width:100%;
        z-index: 2;
    }

    .discordjoinbutton{
        left:50%;
        bottom:20px;
		transform: translate(-50%, 0);
        height:70px;
        width:90%;
        text-align: center;
        text-transform:uppercase;
        font-family: Gilroy;
        font-size: 30px;
        color:white;
        background-color: #5865F2;
        vertical-align: middle;
        line-height: 70px; 
        border-radius: 8px;
        position: absolute;
        z-index: 2;
		transition: 0.2s;
    }
}

@media (min-width:2000px) {
    .roundcontainer{
        width:2000px;
        left:50%;
        transform: translate(-50%, 200px);
    }
}
</style>