---
const today = new Date();
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
---

<footer>
	<div class="copyright">
        <div class="footer-holder">
			<img class="footer-logo" src="../../img/logo.png" style="left:50px; filter:invert(1); position:relative;" height="150px">
			<h4 class="slogan"><Trans i18nKey="site.slogan"><b style="font-family:Rubik;">WiiLink</b> is an unofficial, non-profit homebrew project. It is not affiliated with Nintendo and all trademarks are the property of their respective owners. No copyright infringement intended.</br></br>© 2020-2023 <b style="font-family:Rubik;">WiiLink</b><b style="font-family:Gilroy;"> Team</b></Trans></h4>
		
			
			<div class="socials">
				<a href="https://discord.gg/wiilink-750581992223146074" style="color:white;"><div  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="discord.gg/wiilink">Discord<i style="margin-left:5px;" class="fa-brands fa-discord"></i></div></a>
				<a href="https://twitter.com/WiiLink24" style="color:white;"><div  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="@WiiLink24">Twitter<i style="margin-left:10px;" class="fa-brands fa-twitter"></i></div></a>
				<a href="https://github.com/WiiLink24" style="color:white;"><div  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="WiiLink24"> GitHub<i style="margin-left:10px;" class="fa-brands fa-github"></i></div></a>
				<a href="https://www.patreon.com/WiiLink24" style="color:white;"><div  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title={t("site.donate")}>Patreon<i style="margin-left:10px;" class="fa-brands fa-patreon"></i></div></a>
				<a href="https://www.youtube.com/@wiilink" style="color:white;"><div  data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="WiiLink24">YouTube<i style="margin-left:5px;" class="fa-brands fa-youtube"></i></div></a>
				<div style="margin-top:15px;">
				<a href="mailto:contact@wiilink24.com"><button type="button" class="btn1 btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title={t("site.contact")} style="background-color:white; color:black; border:0px; width:45px; height:45px; padding:10px; margin:0px; margin-left:5px;"><i class="fa-solid fa-envelope-open"></i></button></a>
				<a href={localizePath("/404")}><button type="button" class="btn1 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title={t("site.assets")} style="background-color:white; color:black; border:0px; width:45px; height:45px; padding:10px; margin:0px; margin-left:5px;"><i class="fa-solid fa-palette"></i></button></a>
				<a href={localizePath("/")}><button type="button" class="btn1 btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title={t("site.install")} style="background-color:white; color:black; border:0px; width:45px; height:45px; padding:10px; margin:0px; margin-left:5px;"><i class="fa-solid fa-download"></i></button></a>
				<a href="https://github.com/humanoidear"><button type="button" class="btn1 btn btn-success" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title={t("site.creator")}  style="background-color:white; color:black; animation: changecolor2 10s linear infinite; border:0px; box-shadow:0px 0px 10px #ffffff20; width:45px; height:45px; padding:10px; margin:0px; margin-left:5px; overflow:hidden;"><img src="https://github.com/humanoidear.png" style="transform:translate(-10px, -10px); position:relative;" width="45px" height="45px"></button></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script>

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>

<style>
.copyright{
    bottom:0;
    position: relative;
	left:0;
    width:100%;
    height:300px;
    background: linear-gradient(41deg, rgba(0,138,255,1) 0%, rgba(255,0,59,1) 100%);
    background-color: rgb(28, 28, 28);
    top:150px;
    z-index: 5;
    background-size: cover;
    animation: changecolor 10s linear infinite;
}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.color {
        background: url("/img/header_bg.png");
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   filter:brightness(150%);
    }
	.socials{
		top:50%;
		right:50px;
		transform: translate(0, -50%);
		color:white;
		font-size: 25px;
		width:200px;
		justify-content:right;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
	}
	.slogan{
		left:80px;
		color:white;
		width:500px;
		position: relative;
	}
	.footer-holder{
		bottom:20px;
		left:50%;
		transform: translate(-50%, 0);
		display:flex;
		align-items: center;
		width:98%;
		height:250px;
		position: absolute;
	}
	.btn-secondary{
		background-color: rgba(0, 0, 255, 0.469);
		border: 1px solid rgba(0, 0, 255, 0.117);
	}
	.btn-secondary:hover{
		background-color: rgba(0, 0, 255, 0.427);
		border: 1px solid rgba(0, 0, 255, 0.117);
	}
	.btn{
		padding:15px;
		margin:5px;
		margin-top: 10px;
	}
	@media only screen and (max-width: 1150px) {
		.logohold{
			display: none;
		}
		.data{
			top:150px;
			left:50%;
			transform: translate(-50%, 0);
			width:95%;
			height:auto;
			position: relative;
		}

		.top{
		top:0;
		left:50%;
		transform: translate(-50%, 0);
		height:auto;
		max-width: 1500px;
		position: relative;
	}

		.socials{
			right:20px;
		}

		.footer-logo{
			width:150px;
			height:auto;
		}

		.slogan{
			display: none;
		}

		.accordion-body{
		background-color: #fff;
    	max-height: 20vh;
    	overflow: scroll;
	}
		.symbolholder{
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		.backsymbol{
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		#square2{
			top:0;
			left:0;
			width:100%;
			height:100%;
			border-radius: 0px;
		}
		.square{
			display:;
		}
		.bottomleftcorner{
			display: none;
		}
		.alert{
			top:30px;
			left:50%;
			transform: translate(-50%, 0);
			width: 80%;
			position: absolute;
		}
		.hide{
			display: none;
		}
		.download{
		width:100%;
		height: auto;
		left:50%;
		transform: translate(-50%, 0);
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
		gap:5px;
		position:relative;
	}
		.btn{
			width:100%;
		}
		.dropdownbtn{
			top:0;
			right:0;
			width:50px;
		}
	}

    	
	@media only screen and (min-width:2000px) {
		.footer-holder{
			left:50%;
			transform:translate(-50%, 40px);
			width:2000px;
			position:relative;
		}
	}
</style>