---
interface Props {
  pre: string;
  date: Date;
}

const { pre, date, precise } = Astro.props;
---

<time style={precise} datetime={date.toISOString()}>
  <h3 style="font-size:18px; margin:3px;">
    <b>{pre}</b>
    {
      date.toLocaleDateString("en-uk", {
        year: "numeric",
        month: "short",
        day: "numeric"
      })
    }
  </h3>
</time>
