---
import { getCollection } from 'astro:content';
const posts = (await getCollection('guide')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<sidebar>
	<div class="sidebarholder">
        <h3 class="hover">Hover over me</h3>
        <div class="sidebarcontent">
            <div style="font-family: Gilroy; color:white; font-size:20px; margin-bottom:20px;">Let's get you started</div>
            {
                posts.map((post) => (
                    <div class="post">
                        <a href={`/guide/${post.slug}/`}>
                        <div class="title">{post.data.title}</div>
                        </a>
                    </div>
                ))
            }
        </div>

        <div class="sidebarcontent">
            <div style="font-family: Gilroy; color:white; font-size:20px; margin-bottom:20px;">Our services</div>
            {
                posts.map((post) => (
                    <div class="post2">
                        <a href={`/guide/${post.slug}/`}>
                        <div class="title">{post.data.title}</div>
                        </a>
                    </div>
                ))
            }
        </div>

        <a href="https://wii.guide"><div class="wiiguide">Go to wii.guide</div></a>
    </div>
</sidebar>
<style>
a{
    color:rgba(205, 205, 205, 0.646);
    text-decoration: none;
}

a:hover{
    color: white;
}

 .sidebarholder{
    width:17%;
    height:87%;
    bottom:0;
    left:8%;
    border-radius: 8px;
    position: absolute;
    overflow: scroll;
 }

 .sidebarcontent{
    font-family: Cafe;
    font-size: 15px;
    margin-bottom: 60px;
 }

 .post{
    margin-bottom: 30px;
 }

 .post2{
    margin-bottom: 30px;
 }

 .post:nth-child(1){
    display:block;
 }

 .post:nth-child(2){
    display:block;
 }

 .post:nth-child(3){
    display:block;
 }

 .post:nth-child(4){
    display:block;
 }

 .post:nth-child(5){
    display:block;
 }

 .post{
    display: none;
 }


 .post2:nth-child(1){
    display:none;
 }

 .post2:nth-child(2){
    display:none;
 }

 .post2:nth-child(3){
    display:none;
 }

 .post2:nth-child(4){
    display:none;
 }

 .post2:nth-child(5){
    display:none;
 }

 .post2{
    display: block;
 }
 .wiiguide{
    bottom:20px;
    width:90%;
    background-color:rgb(79, 79, 211);
    border-radius: 8px;
    font-family: Gilroy;
    font-size: 25px;
    text-align: center;
    color:white;
    padding-top:20px;
    padding-bottom: 20px;
    position: relative;
    transition: 0.2s;
 }

 .hover{
    display: none;
 }

 .wiiguide:hover{
    background-color: rgb(58, 58, 197);
    text-decoration: underline;
    transition: 0.2s;
 }

 @media (max-width:1000px){
    .sidebarholder{
        width:20px;
        height:86%;
        left:0;
        padding-top:20px;
        border-radius: 0px;
        border-top-right-radius: 18px;
        overflow: scroll;
        background-color: rgb(91, 91, 96);
        transition: 0.5s;
        z-index:100000;
    }

    .sidebarholder:hover{
        width:300px;
        background-color: rgb(27, 27, 29);
        transition: 0.5s;
    }

    .sidebarcontent{
        width:282px;
        opacity: 0;
        transform: translate(-20px, 0);
        transition: 0.5s;
    }

    .wiiguide{
        left:18px;
    }

    .sidebarholder:hover .sidebarcontent{
        opacity: 1;
        transform: translate(18px, 0);
        transition: 0.5s;
    }
    .hover{
        display: block;
        rotate: 90deg;
        top:8%;
        right:0;
        height:95px;
        width:100px;
        font-size: 10px;
        position: absolute;
    }

    .sidebarholder:hover .hover{
        display: none;
    }
 }

</style>
