---
import { getCollection } from 'astro:content';
const posts = (await getCollection('guide')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<sidebar>
	<div class="sidebarholder">
        <div class="sidebarcontent">
            <div style="font-family: Gilroy; color:white; font-size:20px; margin-bottom:20px; transform:translate(-20px,0);">Let's get you started</div>
            {
                posts.map((post) => (
                    <div class="post">
                        <a href={`/guide/${post.slug}/`}>
                        <div class="title">{post.data.title}</div>
                        </a>
                    </div>
                ))
            }
        </div>

        <div class="sidebarcontent">
            <div style="font-family: Gilroy; color:white; font-size:20px; margin-bottom:20px; transform:translate(-20px,0);">Our services</div>
            {
                posts.map((post) => (
                    <div class="post2">
                        <a href={`/guide/${post.slug}/`}>
                        <div class="title">{post.data.title}</div>
                        </a>
                    </div>
                ))
            }
        </div>
        
    </div>
</sidebar>
<style>
a{
    color:rgba(205, 205, 205, 0.646);
    text-decoration: none;
}

a:hover{
    color: white;
}

 .sidebarholder{
    width:18%;
    height:88%;
    bottom:0;
    left:8%;
    position: absolute;
 }

 .sidebarcontent{
    font-family: Cafe;
    font-size: 15px;
    margin-bottom: 60px;
 }

 .post{
    margin-bottom: 30px;
 }

 .post2{
    margin-bottom: 30px;
 }

 .post:nth-child(1){
    display:block;
 }

 .post:nth-child(2){
    display:block;
 }

 .post:nth-child(3){
    display:block;
 }

 .post:nth-child(4){
    display:block;
 }

 .post:nth-child(5){
    display:block;
 }

 .post{
    display: none;
 }


 .post2:nth-child(1){
    display:none;
 }

 .post2:nth-child(2){
    display:none;
 }

 .post2:nth-child(3){
    display:none;
 }

 .post2:nth-child(4){
    display:none;
 }

 .post2:nth-child(5){
    display:none;
 }

 .post2{
    display: block;
 }

</style>
