<div class="menu-holder">

</div>

<style>
    .menu-holder{
        top:30px;
        right:30px;
        width:300px;
        height:40%;
        z-index: 10;
        background-color: blue;
        border-radius: 8px;
        position: sticky;
    }
</style>