---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { localizePath } from "astro-i18next";
import i18next from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<body>
	<div class="navhold">
	<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('open').style.display='block'"><div id="light" style="right:20px; top:15px; filter:invert(1); position:absolute; z-index:10000;" class="strong"><img class="close" src="/Images/hamburger.png" width="50px"></div></a>

	<div id="open" class="nav">
		<div class="sidenav">
			<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('open').style.display='none'" style="position:absolute; right:30px; top:40px;"><img class="close" src="/Images/close.png" style="filter:invert(1)" width="38px"></a>
			<a href="https://www.patreon.com/WiiLink24"><img class="donate" src=" ../../Images/patreon.svg" width="30px"></a>
<LanguageSelector showFlag={false} class="lang" />
			<ul>
				<a href={localizePath("/")}><div class="banner">{t("header.home")}</div></a>
				<a href={localizePath("/news")}><div class="banner">{t("header.news")}</div></a>
				<a href={localizePath("/guide/1welcome")}><div class="banner">{t("header.guide")}</div></a>
				<a href={localizePath("/status")}><div class="banner">{t("header.status")}</div></a>
				<a href={localizePath("/guide/4faq")}><div class="banner">{t("header.faq")}</div></a>
				<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><div id="light" class="banner strong" style="background-color:green;">{t("header.install")}</div></a>
			</ul>
		  </div>
	</div>
</div>
</body>

<style>
	.navhold{
		display:none;
		z-index: 1000000000;
		position: relative;
	}
	.nav{
		z-index: 1000000;
		width:100%;
		height:100%;
		left:0;
		top:280px;
		display: none;
		animation:fadedown 0.2s linear;
		position: absolute;
	}
	@keyframes fadedown{
		0%{
			transform: translate(0, -10px);
			opacity:0;
		}
		100%{
			transform: translate(0, 0px);
			opacity: 1;
		}
	}

	.sidenav{
		width:100%;
		height:600px;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgb(19, 19, 20);
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
	}

	ul{
		width:100%;
		height:100%;
		bottom:-130px;
		left:0;
		position: absolute;
	}


.donate{
	top:60px;
	left:25%;
	transform: translate(0,-50%);
	filter: invert(1) opacity(0.7);
	border-radius: 0px;
	position: absolute;
	transition: 0.2s;
}

.donate:hover{
	filter: invert(39%) sepia(54%) saturate(2336%) hue-rotate(332deg) brightness(82%) contrast(111%);
	transition: 0.2s;
}

	.lang{
    top:60px;
	left:8%;
	transform: translate(0,-50%);
    background-image: url("../../Images/langswitcher.png");
    background-size: cover;
    background-color: rgba(205, 205, 205, 0.338);
    color:green;
    font-family:Cafe;
	filter: opacity(0.7);
    border: 0px;
    width:35px;
    height:35px;
	border-radius: 88px;;
    z-index: 100000000;
    position: absolute;
	transition:0.2s;
}

.lang:hover{
	filter:opacity(1);
	transition: 0.2s;
}


	.banner:hover{
		background-color: rgb(29, 29, 29);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.648);
		transition: 0.2s;
	}

	.banner{
		width:95%;
		height:50px;
		background-color: rgb(32, 32, 32);
		text-align: center;
		font-family: Gilroy;
		font-size: 28px;
		color:white;
		text-decoration: none;
		padding-top:20px;
		margin-bottom: 10px;
		left:-30px;
		border-radius: 8px;
		position: relative;
		transition: 0.2s;
	}

	@media (max-width:1000px){
		.navhold{
			display: block;
		}
	}
</style>

