---
import HeaderLink from './HeaderLink.astro';
import HeaderSmall from "../components/HeaderSmall.astro";
import { SITE_TITLE } from '../consts';
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import i18next from "i18next";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---


    <!-- Hero section -->

    <div class="topimg">
        <div class="square sq1"></div>
        <div class="square sq2"></div>
        <div class="square sq3"></div>
    </div>

    <div class="hero">
        <div class="parallaximpress">
            <div class="parallax" id="scene">
                <div class="channeltop" data-depth="0.3"  data-friction-x="1.5"> <img src="./Images/bgtop.png"></div>
                <div class="channelmid" data-depth="0.1" data-friction-x="1.5"> <img src="./Images/bgmid.png"></div>
                <div class="channelbot" data-depth="0.05" data-friction-x="1.5"> <img src="./Images/bgbot.png" style="bottom:0; position:absolute;"></div>
            </div>
        </div>

        <div class="herologoholder">
            <div class="herologo">
                <h1 class="logo">Wii<b style="font-family:RubikMedium;">Link</b></h1>
                <h2 class="tagline">{t("home.subtitle")}</h2>
            </div>
        </div>

        <div class="heroinstallholder">
            <div class="heroinstall">
                <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><h2 class="installtext" style="top:-23px; position:absolute; z-index: 1;">{t("home.install")}</h2></a>
                <img src=" ./Images/arrow.png" alt="arrow" class="installarrow" style="position:absolute; right:20px; top:50%; filter:invert(1); transform: rotate(90deg) translate(-50%,0); width:50px;">
                <div class="installbg"></div>
            </div>
            <div class="heroinstall">
                <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><h2 class="installtext" style="top:-23px; position:absolute; z-index: 1; font-size:35px;">We're on Dolphin!</h2></a>
                <img src=" ./Images/DolphinLogo.png" alt="arrow" class="installarrow" style="position:absolute; right:20px; top:50%; translate(-50%,0px); width:50px;">
            </div>
            <a href="/guide/1welcome"><h3 class="readdocs">{t("home.docs")}</h3></a>
        </div>
    </div>

    <div class="rate">{t("home.beta")}</div>

    <a href="#start"><div class="first"><img src=" ./Images/downarrow.png" width="40px"></div></a>

<style>
  .hero{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: fixed;
    overflow: hidden;
}

.herologoholder{
    width:450px;
    height:100%;
    top:0;
    left:8%;
    z-index: 1;
    position: absolute;
}

.herologo{
    height:300px;
    width:100%;
    top:45%;
    transform: translate(0,-50%);
    position: absolute;
}

.logo{
    top:0;
    left:0px;
    position: relative;
    z-index: 1;
    font-size:120px;
    font-family: RubikBold;
}

.tagline{
    position: relative;
    top:-80px;
    left:10px;
}

.heroinstallholder{
    width:400px;
    height:230px;
    top:50%;
    transform: translate(0, -50%);
    right:8%;
    z-index: 1;
    position: absolute;
}

.heroinstall{
    width:90%;
    top:0%;
    transform: translate(0,0%);
    position: absolute;
    background-color:#2b873d;
    backdrop-filter: blur(4px);
    padding-left:30px;
    padding-top:0px;
    height:70px;
    border-radius: 8px;
    border:0px solid #ffffff34;
    overflow: hidden;
    transition: 0.5s;
}

.heroinstall:nth-child(2){
   top:80px;
   border:4px solid rgb(74, 74, 233);
   background-color: rgba(0, 0, 255, 0);
   width:88%;
}

.heroinstall:hover .installbg{
    left:0;
    transition: 0.5s;
}

.installtext{
    transform: translate(0px,0);
    transition: 0.5s;
}

.heroinstall:hover .installtext{
    transform: translate(40px,0);
    transition: 0.5s;
}

.installarrow{
    opacity: 1;
    z-index: 10;
    transition: 0.5s;
}

.heroinstall:hover .installarrow{
    opacity: 0;
    transition: 0.5s;
}

.heroinstall:hover{
    border: 0px solid #ffffff;
    background-color:#287038;
    transition: 0.5s;
}

.readdocs{
    font-size: 20px;
    width: 97%;
    bottom: 0;
    right:10px;
    text-align: right;
    text-decoration: none;
    position: absolute;
}

.slogandef{
    right:11%;
    transform: translate(0, -30px);
    font-size:15px;
    position: absolute;
}

    .parallaximpress{
        width:1800px;
        height:1000px;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        filter: blur(8px) opacity(0.5);
        position: absolute;
        z-index: 1;
    }



    .image{
        object-fit: cover;
    }

    .channeltop{
        width:100%;
        height:100%;
        scale: 80%;
        left:50%;
        top:50%;
        opacity: 0.5;
        position:relative;
        opacity:0;
        animation-name: fadeintop;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
    }

    .channelmid{
        width:100%;
        height:100%;
        left:50%;
        top:50%;
        opacity: 0.3;
        scale: 75%;
        position:relative;
        opacity:0;
        animation-name: fadeinmid;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
    }

    .channelbot{
        width:100%;
        height:100%;
        left:50%;
        top:50%;
        opacity: 0.1;
        transform: scale(0.7);
        position:relative;
        opacity:0;
        animation-name: fadeinbot;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }

    @keyframes fadeintop{
        0%{
            opacity: 0;
            scale: 90%;
        }
        100%{
            opacity: 0.5;
            scale: 100%;
        }
    }

    @keyframes fadeinmid{
        0%{
            opacity: 0;
            scale: 90%;
        }
        100%{
            opacity: 0.3;
            scale: 100%;
        }
    }

    @keyframes fadeinbot{
        0%{
            opacity: 0;
            scale: 90%;
        }
        100%{
            opacity: 0.1;
            scale: 100%;
        }
    }
    
    .rate{
    bottom:20px;
    right:20px;
    background-color: rgb(49, 49, 49);
    color:white;
    font-family: Cafe;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    position: absolute;
    display: none;
  }
	


.imgbg{
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-image: url("../../Images/copyrightbg.png");
    background-size:cover;
    object-fit: cover;
    filter: brightness(0.5);
    position: absolute;
}

.first{
    position: absolute;
    width: 40px;
    bottom:68px;
    left:50%;
    transform: translate(-50%, 0);
    animation-name: downup;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    z-index: 10;
}

    .topimg{
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: hidden;
    position:fixed;
}

.square{
    width:800px;
    height: 800px;
    border-radius: 100%;
    filter: blur(1000px);
    opacity: 0.1;
    z-index: 0;
    position: absolute;
}

.sq1{
    background-color: rgb(84, 84, 211);
    left: 5%;
    top:5%;
    animation: move 40s linear infinite;
    animation-direction: alternate-reverse;
}

.sq2{
    background-color: rgb(39, 172, 110);
    right: 5%;
    top:50%;
    transform: translate(0,-50%);
    animation: move2 40s linear infinite;
    animation-direction: alternate-reverse;
}

.sq3{
    background-color: rgb(158, 200, 197);
    left: 50%;
    transform: translate(-50%,0);
    bottom:10%;
    animation: move3 40s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes move{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(70%, 80%);
    }
}

@keyframes move2{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-200%, -100%);
    }
}

@keyframes move3{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(20%, -80%);
    }
}

@keyframes downup {
    0%{
        transform: translate(0, -20px);
    }
    50%{
        transform: translate(0,0px);
    }
    100%{
        transform: translate(0,-20px);
    }
}
</style>