---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
---

<div class="promptholder">
  <video
    style="top:0; left:0; width:100%; height:100%; object-fit:cover; position:absolute"
    width="320"
    height="240"
    autoplay
    muted
    loop
    no-controls>
    <source src="img/vid.mp4" type="video/mp4" />
     Your browser does not support the video tag.
  </video>
  <div class="dots"></div>
  <div style="left:1030px; top:400px; rotate:350deg;" class="dots"></div>
  <h1>
    <Trans i18nKey="jumpin.title">
      Are you ready to <b class="color">jump</b>?
    </Trans>
  </h1>
  <h2>{t("jumpin.slogan")}</h2>
  <a href="#top"
    ><button type="button" class="btn btn-success btn-lg"
      >{t("jumpin.install")}</button
    ></a
  >
</div>

<div
  class="bottomHelper"
  style=" top:100%; width:100%; height:20px; position:relative;">
</div>

<style>
  .promptholder {
    top: 480px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    max-width: 1500px;
    background: rgb(24, 24, 24);
    box-shadow: 0px 5px 10px #00000020;
    border: 2px solid rgba(255, 240, 240, 0.332);
    border-radius: 16px;
    gap: 50px;
    padding: 15px;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  h1 {
    font-size: 4rem;
    font-family: Gilroy;
    font-weight: 700;
    line-height: 1;
    pointer-events: none;
    text-align: center;
    color: white;
    z-index: 10000;
    margin-bottom: 20px;
    transition: 0.5s;
    position: relative;
  }

  .dots {
    top: 100px;
    left: 330px;
    rotate: 25deg;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(#00000040 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: absolute;
  }

  .dots:nth-child(2) {
    right: 0;
    top: -5px;
  }

  button {
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }

  h2 {
    text-align: center;
    transition: 0.5s;
    pointer-events: none;
    margin-bottom: 20px;
    color: white;
    z-index: 1;
    position: relative;
  }

  .color {
    background: url("/img/header_bg.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }

  @media only screen and (max-width: 1000px) {
    iframe {
      display: none;
    }

    .promptholder {
      width: 100%;
      border: 0px;
      border-radius: 0px;
    }

    .bottomHelper {
      display: none;
    }
  }
</style>
