---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
---

<div class="promptholder">
  <div class="dots"></div>
  <div style="left:1030px; top:400px; rotate:350deg;" class="dots"></div>
  <h1>
    <Trans i18nKey="jumpin.title">
      Are you ready to <b class="color">jump</b>?
    </Trans>
  </h1>
  <h2>{t("jumpin.slogan")}</h2>
  <div
    style="width:340px; left:50%; transform:translate(-50%, 0); position:relative;">
    <a href="#top"
      ><button type="button" class="btn btn-success btn-lg"
        >{t("jumpin.install")}</button
      ></a
    >
    <a href="https://wfc.wiilink24.com"
      ><button type="button" class="btn btn-dark btn-lg"
        >Check out WiiLink WFC</button
      ></a
    >
  </div>
</div>

<div
  class="bottomHelper"
  style=" top:100%; width:100%; height:20px; position:relative;">
</div>

<style>
  .promptholder {
    top: 480px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background: var(--bg-color-secondary);
    gap: 50px;
    padding: 15px;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  h1 {
    font-size: 4rem;
    font-family: Gilroy;
    font-weight: 700;
    line-height: 1;
    pointer-events: none;
    text-align: center;
    z-index: 10000;
    margin-bottom: 20px;
    transition: 0.5s;
    position: relative;
  }

  button {
    color:white !important;
  }

  .dots {
    top: 100px;
    left: 330px;
    rotate: 25deg;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(var(--border-color) 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: absolute;
  }

  .dots:nth-child(2) {
    right: 0;
    top: -5px;
  }

  h2 {
    text-align: center;
    transition: 0.5s;
    pointer-events: none;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
  }

  .color {
    background: url("/img/header_bg.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }

  @media only screen and (max-width: 1000px) {
    iframe {
      display: none;
    }

    .promptholder {
      width: 100%;
      border: 0px;
      border-radius: 0px;
    }

    .bottomHelper {
      display: none;
    }
  }
</style>
