---
import '../styles/global.css';
import { localizePath } from "astro-i18next";
import i18next from "i18next";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import HeaderMain from './HeaderMain.astro';
---

<div class="itineraries">  
    <a href="/guide/wiinoma">
    <div class="itn">
        <div class="itnbg itn1"></div>
        <img class="itnimg" src=" ./Images/wiinomaicon.svg">  
        <h2 class="itnhead">{t("services.itn1name")}</h2>
        <h4 class="itnjpn">{t("services.itn1jpn")}</h4>
        <h3 class="itndesc">{t("services.itn1desc")}</h3>
    </div>
</a>

<a href="/guide/digicam">
    <div class="itn">
        <div class="itnbg itn2"></div>
        <img class="itnimg" src=" ./Images/digicapicon2.svg">      
        <h2 class="itnhead">{t("services.itn2name")}</h2>
        <h4 class="itnjpn">{t("services.itn2jpn")}</h4>
        <h3 class="itndesc">{t("services.itn2desc")}</h3>
    </div>
    </a>

    <a href="/guide/kirbytv">
    <div class="itn">
        <div class="itnbg itn3"></div>
        <img class="itnimg" src=" ./Images/krbtvicon.svg">  
        <h2 class="itnhead">{t("services.itn3name")}</h2>
        <h3 class="itndesc">{t("services.itn3desc")}</h3>
    </div>
    </a>

    <a href="/guide/demae">
    <div class="itn">
        <div class="itnbg itn4"></div>
        <img class="itnimg" src=" ./Images/demaeicon.svg">
        <h2 class="itnhead">{t("services.itn4name")}</h2>
        <h4 class="itnjpn">{t("services.itn4jpn")}</h4>
        <h3 class="itndesc">{t("services.itn4desc")}</h3>
    </div>
    </a>

    <a href="/guide/forecast">
    <div class="itn">
        <div class="itnbg itn5"></div>
        <img style="filter:invert(1);" class="itnimg" src=" ./Images/forecasticon.png">  
        <h2 class="itnhead">{t("services.itn5name")}</h2>
        <h3 class="itndesc">{t("services.itn5desc")}</h3>
    </div>
    </a>

    <a href="/guide/nintendo">
    <div class="itn">
        <div class="itnbg itn6"></div>
        <img class="itnimg" src=" ./Images/ntdoicon.png">  
        <h2 class="itnhead">{t("services.itn6name")}</h2>
        <h3 class="itndesc">{t("services.itn6desc")}</h3>
    </div>
    </a>

    <a href="/guide/tvnotomo">
    <div class="itn">
        <div class="itnbg itn7"></div>
        <img class="itnimg" src=" ./Images/tvnotomoicon.png">
        <h2 class="itnhead">{t("services.itn7name")}</h2>
        <h4 class="itnjpn">{t("services.itn7jpn")}</h4>
        <h3 class="itndesc">{t("services.itn7desc")}</h3>
    </div>
    </a>

    <a href="/guide/evc">
    <div= class"itn">
        <div class"itnbg itn8"></div>
        <img class="itnimg" src=" ./Images/Evcicon.png">
        <h2 class="itnhead">{t("services.itn8name")}</h2>
        <h3 class="itndesc">{t("services.itn8desc")}</h3>
</div>

<div class="services">
    Head over to the <a href="./status">status</a> tab to check out all we have to offer!
</div>

<style>
    .itineraries{
        width: 93%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 30px;
        left:50%;
        transform: translate(-50%,0);
        padding-bottom:50px;
        position: relative;
    }
    
    .itn{
        position: relative;
        height:170px;
        width:100%;
        background-color:rgba(255, 255, 255, 0.041);
        border-radius: 15px;
        hyphens:auto;
        overflow: hidden;
        border: 3px solid rgba(255, 255, 255, 0.066);
        transition: 0.5s;
    }

    .services{
        width:100%;
        text-align:center;
        color:white;
        font-family: Cafe;
        position:absolute;
    }
    
    .itn:hover{
        background-color:rgba(206, 206, 206, 0.117);
        transform: translate(0,-5px);
        box-shadow: 0px 0px 70px rgb(43, 43, 43);
        border: 3px solid rgba(255, 255, 255, 0.152);
        transition: 0.5s;
      }

    .itn:hover .itnimg{
        opacity:0.3;
        transform: translate(0px, -50%);
    }
    
    .itnimg{
        width:25%;
        right:-20px;
        top:50%;
        left:7%;
        z-index: 0;
        opacity: 0;
        transform: translate(-20px,-50%);
        position: absolute;
        transition:0.5s;
    }
    
    .itninfo{
        font-family: ginto;
        color: white;
        z-index: 2;
        position:absolute;
        bottom:-50%;
        left:12%;
        font-size: 150%;
        opacity: 0.7;
        line-height: 30px;
        transition:0.5s;
    }
    
    .itn:hover .itninfo{
        bottom:20%;
        transition:0.5s;
    }
    
    .itnbg{
        width:30%;
        height:130%;
        rotate: 0deg;
        top:-10%;
        left:-25%;
        background-color: rgba(0, 0, 0, 0.506);
        z-index: 0;
        transition: 0.5s;
        position: absolute;
    }
    
    .itn1{
        background: linear-gradient(40deg, rgba(229,245,255,1) 0%, rgba(0,212,255,1) 100%);
        filter: brightness(0.7) ;
    }
    
    .itn2{
        background: linear-gradient(40deg, rgb(247, 103, 110) 0%, rgba(255,0,37,1) 100%);
        filter: brightness(0.7);
    }
    
    .itn3{
        background: linear-gradient(40deg, rgba(255,141,194,1) 0%, rgba(255,0,234,1) 100%);
        filter: brightness(0.7);
    }
    
    .itn4{
        background: linear-gradient(40deg, rgba(255,227,156,1) 0%, rgba(255,164,0,1) 100%);
        filter: brightness(0.7);
        transform: scaleX(-1);
    }
    
    .itn5{
        background: linear-gradient(40deg, rgb(48, 22, 215) 0%, rgb(81, 145, 219) 100%);
        filter: brightness(0.7);
    }
    
    .itn6{
        background: linear-gradient(40deg, rgb(170, 178, 179) 0%, rgb(51, 52, 54) 100%);
        filter: brightness(0.7);
    }
    
    .itn7{
        background: linear-gradient(40deg, rgb(180, 217, 221) 0%, rgb(136, 194, 253) 100%);
        filter: brightness(0.7);
    }
    
    .itn:hover .itnbg{
        width:65%;
        opacity:0.8;
        rotate: 6deg;
        transition: 0.5s;
    }

    .itnhead{
        right:20px;
        top:0%;
        font-size: 27px;
        text-align: right;
        position: relative;
    }
    
    .itndesc{
        display:block;
        right:20px;
        width:90%;
        left:6%;
        text-align:right;
        position: relative;
        font-size: 17px;
    }
    
    .itnjpn{
        right:20px;
        top:20%;
        font-size:15px;
        opacity: 0.6;
        position: absolute;
    }

    a{
        text-decoration: none;
    }

    @media (max-width:1000px) {
    .herologoholder{
        left:0;
        width:100%;
    }
    .herologo{
        top:10%;
        width:100%;
        text-align: center;
        position: absolute;
        left:50%;
        transform: translate(-50%, 0);
    }

    .parallaximpress{
        scale: 60%;
        left:50%;
        position: absolute;
    }

    .collapsibles{
        width:100%;
        left:0;
        top:20px;
        position: absolute;
        overflow:hidden;
        display: block;
    }

    .faqholder{
        width:100%;
    }

    .collapsible{
        width:100%;
    }

    .content{
        width:100%;
    }

    .visitfaq{
        left:0;
        width:100%;
        position: absolute;
    }

    .logo{
        width:100%;
        text-align: center;
    }

    .topimg{
        width:100%;
        height: 100%;
    }

    .image{
        background-size: cover;
        width:100%;
        height:100%;
    }

    .heroinstallholder{
        right:0%;
        top:60%;
        width:100%;
        height:130px;
        position: absolute;

    }
    .heroinstall{
        width:90%;
        left:50%;
        transform: translate(-50%,0);
        top:0;
        position: absolute;
    }
    .readdocs{
        text-align: center;
        left:0;
        bottom:30px;
    }
    .bannerholder{
        display:none;
    }
    .collapsibles{
        width:95%;
        left:50%;
        transform: translate(-50%,0);
        position: relative;
    }
    .collapsible{
        width:100%;
    }
    .promotionalvideo{
        width:100%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
    .ytvid{
        width:95%;
        height:240px;
    }
    .content{
        width:100%;
    }
    .contentslogan{
        font-size: 25px;
    }
    .itineraries{
        width: 98%;
        gap: 30px;
        left:0;
        transform: translate(0,0);
        position: relative;
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    }
    .itn{
        height:100px;
        width:100%;
    }

    .itnbg{
        top:-40px;
        height:400px;
    }

    .itnhead{
        font-size:25px;
    }
    .itnjpn{
        top:40%;
        position: absolute;
    }
    .itndesc{
        display:none;
    }
    .copydesc{
        display:none;
    }
    .copytext{
        bottom:30%;
        left:0%;
        width:45%;
    }
    .socials{
        bottom: 20%;
        left:3%;
        gap:10px;
    }
}

@media (min-width:2000px) {
    .itineraries{
        width:2000px;
        left:50%;
        transform: translate(-50%, 0);
    }
}
</style>
