---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { Icon } from "astro-icon/components";

changeLanguage("en");
---

<Layout title="Comic Strips Gallery - WiiLink" description="WiiLink Extra content." image="/img/Extras_embed.png" />
<Header isGuide="display:none;" />
  <style>
     body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h5 {
    opacity:0.7;
    font-weight:400;
  }

  h3, h5, p {
    margin:0 !important;
  }


  div p {
    opacity:0.6;
  }

  .notice {
    width: 98%;
    max-width: 1300px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(203, 60, 60);
    box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1);
  }

  .container {
    max-width: 1300px;
    padding: 20px;
    text-align: center;
  }

  .header {
    margin: 20px 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: ;
  }

  .card {
    background-color: var(--bg-color-secondary);
    color: var(--color);
    border-radius: 16px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: 0.3s;
  }

  .card:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }

  .card img {
    border-radius:8px;
    margin-top:13px;
    width: 100%;
    display: block;
  }

  .card-title {
    text-align:left;
    font-weight: bold;
  }

  .card-content {
    padding: 10px;
  }

  .card-action {
    margin-bottom:13px;
    cursor: pointer;
    border-radius:8px;
    position: relative;
    padding: 10px;
    background: var(--bg-color-tertiary);
    transition: 0.3s;
  }

  .card-action:hover {
    background-color: green;
    color:white !important;
    transform: scale(1.02);
    transition: 0.3s;
  }

  .card-action:hover a {
    color:white !important;
    transition: 0.3s;
  }

  .card-action::before {
    content: "\f019";
    font-family: "Font Awesome 5 Free"; /* Adjust based on the version of FontAwesome you're using */
    font-weight: 900; /* Necessary for solid icons */
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
  }

  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      text-align: center;
      color: white;
      background-color: #007bff;
      border-radius: 4px;
      text-decoration: none;
    }

    .btn i {
      margin-right: 5px;
    }
  </style>
</head>
<body>

    <div class="container">
      <h1 class="header">
        <Icon name="lucide:book" aria-hidden="true" style="margin-bottom:10px;" /> Comic Strips Gallery
      </h1>
      <div class="row">
        <h5 class="header col s12">
          You can view a collection of stupid comic strips featuring RiiConnect24 developers here.
        </h5>
      </div>
    </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_1.png" alt="Work Your Ass Off for the Wii Channels to Work">
          <div class="card-content">
            <span class="card-title">Work Your Ass Off for the Wii Channels to Work</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_1.png">Download</a>
          </div>
        </div>
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_2.png" alt="We Got Stamped">
          <div class="card-content">
            <span class="card-title">We Got Stamped</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_2.png">Download</a>
          </div>
        </div>
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_3.png" alt="Technical Difficulties">
          <div class="card-content">
            <span class="card-title">Technical Difficulties</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_3.png">Download</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_4.png" alt="Flooded">
          <div class="card-content">
            <span class="card-title">Flooded</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_4.png">Download</a>
          </div>
        </div>
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_5.png" alt="RiiConnect24 Bakery">
          <div class="card-content">
            <span class="card-title">RiiConnect24 Bakery</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_5.png">Download</a>
          </div>
        </div>
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_6.png" alt="Apples">
          <div class="card-content">
            <span class="card-title">Apples</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_6.png">Download</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_7.png" alt="RiiConnect24 Bakery is Back">
          <div class="card-content">
            <span class="card-title">RiiConnect24 Bakery is Back</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_7.png">Download</a>
          </div>
        </div>
        <div class="card">
          <img src="https://rc24.xyz/goodies/strips/strip_8.png" alt="PokeAcer's Merchandise">
          <div class="card-content">
            <span class="card-title">PokeAcer's Merchandise</span>
          </div>
          <div class="card-action">
            <a href="https://rc24.xyz/goodies/strips/strip_8.png">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<Footer />