---
import base from "../../../components/baseHead.astro";
import Services from "../../components/Services.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import Members from "../../components/Members.astro";
import News from "../../components/News.astro";
import Donators from "../../components/Donators.astro";
import "../../../styles/global.css";
import { SITE_TITLE, SITE_DESCRIpTION } from "../../consts";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("pt");
---
<base title="WiiLink - TOS"/>
<Header />

<section class="section">
    <h1 style="font-family: Gilroy; margin-bottom: 18px;">The Terms</h1>
    <div class="polka-dot"></div>
    <p class="title">
        Terms of use <h3>Last updated: 08/03/2023</h3>
    </p>
    <p class="cjk" >
      <br>
      </p>
      <br>
      <b>This agreement is for usage of WiiLink, a replacement WiiConnect24 service, as well as services we provide via our DNS</b>
      </p>
      <p class="cjk" align=center >
      <br>
      </p>
      <div class="container">
        <div class="notification is-warning">
      <p class="cjk" align=center >
      <h3>By using this service you automatically agree to these terms and conditions.</h3></p>
      </div>
      </div>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      <b>This
      is an agreement between you and WiiLink, and it's developers, as well as the services accessible via the DNS (i.e. Wiimmfi)
      Wiimmfi will be referred to as &ldquo;Wiimmfi&rdquo;, or &ldquo;Wiimmfi WFC&rdquo;,
      and WiiLink will be referred to as &ldquo;WiiLink&rdquo; or &ldquo;WL&rdquo;. </b>
      </p>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      <p class="title" >Nintendo's Online Services. </p>
      </p>
      <h3 class="cjk" >
      Article
      1: <u>Real legal stuff from Nintendo</u></h3>
      <p class="cjk" >
      This
      agreement covers your use of the Wii Shop channel.
      </p>
      <p class="cjk" >
      Further
      to the terms of this agreement and, where applicable, the Wii Shop
      Channel Service agreement, this agreement also includes the following
      documents:</p>
      <ul>
        <li><p class="cjk" >
        The
        Wii Network Services Code of Conduct. The purpose of this document
        is to keep the Wii Network Services a friendly and safe environment.</p>
        <li><p class="cjk" >
        The
        Wii Network Services privacy policy. This document provides you with
        an understanding of the information that is submitted and collected
        through the Wii Network Services.
        </p>
      </ul>
      <p class="cjk" >
      We
      strongly recommend that you review both of these documents before
      accepting the terms of this agreement. The complete versions of these
      documents are available at http://wii.nintendo-europe.com/terms.</p>
      <p class="cjk" >
      by
      accepting the terms of the Wii Network Services agreement, you are
      also unreservedly accepting all of the terms of these documents.</p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      2: <u>Grant of Licence</u></h3>
      <p class="cjk" >
      We
      grant you a personal, limited, non-exclusive, revocable licence to
      use the Wii Network Services, in accordance with this agreement.
      Specifically:</p>
      <ul>
        <li><p class="cjk" >
        The
        Wii Network Services is solely for your own personal recreational
        use. However, you are responsible for your use and for anyone else&rsquo;s
        use of the Wii Network Services through your Wii console, whether or
        not you give them permission to do so.
        </p>
        <li><p class="cjk" >
        You
        may not transfer or assign this licence to another person or entity,
        and any attempt to transfer or assign this licence will be void.
        </p>
        <li><p class="cjk" >
        You
        may not use or attempt to use the Wii Network Services for any
        commercial or illegal purpose, or in a way that may harm another
        person or company, or in an unauthorised or otherwise improper
        manner as we may specify from time to time.</p>
        <li><p class="cjk" >
        You
        are responsible for clearing all Content, including games and other
        software downloaded through the Wii Shop Channel, and any personal
        data, and all other stored sensitive information that is resident on
        your Wii console prior to selling or otherwise transferring your Wii
        console to any third party. If you acquire a used Wii console, you
        are also responsible for clearing all Content, personal data, and
        all other stored sensitive information that may be resident on that
        Wii console at the time you acquire it.</p>
      </ul>
      <p class="cjk" >
      <br>
      </p>
      <p class="title" >
      <b>WiiLink
      </b>
      </p>
      <h3 class="cjk" >
      Article
      3: <u>WiiLink</u></h3>
      <p class="cjk" >
      By
      registering for the Wii Network Services, WiiLink and Wiimmfi, you agree that we may
      provide you with WiiLink, and Wiimmfi services. Some of these may be provided via Standby Connection.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      4: <u>upgrades and Changes</u></h3>
      <p class="cjk" >
      The owners of WiiLink and Wiimmfi
      may upgrade (patch) any software distributed through WiiLink or
      change the Internet content of WiiLink, in part or in whole, at
      any time. However, any such upgrade or change will be for the benefit
      of users of the Wiimmfi and WiiLink.</p>
      <p class="cjk" >
      <br>
      </p>
      <p class="title" >
      <b>Other</b></p>
      <h3 class="cjk" >
      Article
      5: <u>Third party providers</u></h3>
      <p class="cjk" >
      WiiLink
      allows Wiimmfi initial</p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      6: <u>Intellectual property</u></h3>
      <p class="cjk" >
      All WiiLink's
      servers are based off RE or packet dumps of legitimate WiiConnect24; thus, all patchers, content creators, and scripts are &copy; WiiLink 2020-2023
      <p class="cjk" >
      Wiimmfi,
      however, is based off its own code, and is thus &copy; Dirk "Wiimm" Clemens and Florian "Leseratte" bach, 2014-2023
      <br>
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      8: <u>Submissions</u></h3>
      <p class="cjk" >
      please
      do give us suggestions for WiiLink; however please note some suggestions may not be possible.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      9: <u>protection of personal Information</u></h3>
      <ul>
        <li><p class="cjk" >
        As
        part of WiiLink's service, we now provide access to a WiiConnect24 Mail system. However, please note that we are able to access mail - we will only do this if reported by another user.
        However, if somebody is sending you inappropriate mail, please remove them as a friend before bothering WiiLink; they cannot send mail if your Wii says no.
        Furthermore, we are unable to directly affect your friends list in any way, shape, or form.
        </p>
      </ul>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk"  >
      Article
      10: <u>Agreement updates</u></h3>
      <p class="cjk" >
      Wiimmfi and WiiLink
      may change the terms and conditions of this agreement, including the
      Wii Network Services Code of Conduct and the Wii Network Services
      privacy policy which are both made a part of this agreement, at any
      time as far so this is necessary or helpful to enhance the service or
      to adapt it to reflect changes in technical or legal requirements.
      </p>
      <p class="cjk" >
      A
      current version of this agreement will always be available on the
      Internet at https://wiilink24.com/tos
      We will post a message on the Wii Message board informing you about a
      change to this agreement at least 5 days before the change becomes
      official.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      11: <u>Non-Assignability</u></h3>
      <p class="cjk" >
      You
      are responsible for use of your Wii console and the Wii Network
      Services by your friends and family. You may not assign this
      agreement to a third party.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      12: <u>Agreement Interpretation</u>
      </h3>
      <p class="cjk" >
      If
      any part of this agreement is found to be invalid or unenforceable,
      that part of the agreement will no longer apply. You agree that the
      invalid part will be considered deleted from the agreement, but that
      all other parts of the agreement will remain in effect. You further
      agree that we may replace the invalid part by a provision which
      reflects or comes closest to reflecting the initial intention.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <h3 class="cjk" >
      Article
      13: <u>Definitions</u></h3>
      <p >
      &ldquo;Content&rdquo;
      means the software and content, including applications called
      &ldquo;Channels&rdquo;, which Nintendo owns, or has obtained the
      right to use, distribute or sublicense, and which is available for
      downloading through the Wii Shop Channel Service, or through other
      means.</p>
      <p >
      &ldquo;Wiimmfi&rdquo;
      is a custom server designed to replace Nintendo WFC, which was made by Leseratte and Wiimm.
      </p>
      <p >
       &ldquo;Nintendo
      Intellectual property&rdquo; means all intellectual property
      associated with the Wii console and the Wii Network Services,
      including but not limited to trademarks, service marks, logos,
      designs, copyrights, inventions, patents, trade secrets, know-how and
      other confidential and proprietary information which Nintendo
      developed, owns or is granted a licence to use.
      </p>
      <p >
      &ldquo;Wii
      points&rdquo; means the points which you purchase from Nintendo
      through the Wii Shop Channel Service or via Wii points Cards and
      which may be used by you in exchange for a licence to use Content or
      to purchase products.</p>
      <p >
       &ldquo;products&rdquo;
      means any goods other than Content which are made available for
      purchase through the Wii Shop Channel Service.
      </p>
      <p class="cjk" >
      &ldquo;WiiLink&rdquo;
      means the service whereby WiiLink can distribute software, material,
      e-mail and other data to your Wii console, and the Wii Message board
      of your Wii console, at any time and whereby you can send and receive
      e-mails, photographs and other material using your Wii console.</p>
      <p class="cjk" >
      &ldquo;Wii
      console&rdquo; means Nintendo&rsquo;s system sold and marketed by
      Nintendo under the Wii brand, including any succeeding systems and
      compatible systems.</p>
      <p >
      &ldquo;Wii
      Network Services&rdquo; means the Wii Shop Channel Service,
      WiiConnect24, and any related services and material delivered to your
      Wii console over the Internet, including but not limited to Content,
      products and Wii points.</p>
      <p >
      &ldquo;Wii
      Network Services Code of Conduct&rdquo; means the code of conduct
      applicable to the Wii Network Services as revised by us from time to
      time, a current version of which will always be available at
      http://wii.nintendo-europe.com/terms</p>
      <p >
      &ldquo;Wii
      Network Services privacy policy&rdquo; means the privacy policy
      applicable to the Wii Network Services as revised by us from time to
      time, a current version of which will always be available at
      http://wii.nintendo-europe.com/terms</p>
      <p >
      &ldquo;Wii
      points Card&rdquo; means prepaid cards sold or distributed by
      Nintendo or Nintendo&rsquo;s promotional partners which contain
      credits for Wii points.</p>
      <p >
      &ldquo;Wii
      Shop Channel Account&rdquo; means a non-transferable personal account
      that will be established on your Wii console upon acceptance of these
      terms and the Wii Shop Channel Service terms of use, and which you
      use in connection with the Wii Shop Channel Service.
      </p>
      <p >
      &ldquo;Wii
      Shop Channel Service&rdquo; means the services related to the Wii
      Shop Channel Account, Wii points, products, online store, and
      download service, all of which Nintendo directly or indirectly
      operates, as outlined in this agreement.
      </p>
      <br>
      <br>
      <br>
      <hr><br>
      </p>
      <p >
      <br>
      </p>
      <p class="title" align=center >
      <b>Wiimmfi
      Code of Conduct</b></p>
      <p class="cjk" align=center >
      Last
      updated: 10.08.2015</p>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      This
      Wiimmfi Code of Conduct (&ldquo;Wii Code of Conduct&rdquo;)
      outlines the rules that you must follow to participate in the Wii
      Network Services. These rules are designed to keep Wiimmfi a friendly and safe environment.
      </p>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      <br>
      </p>
      <p class="cjk" >
      1.	Your
      use of Wiimmfi is subject to this Wii Code of
      Conduct, which prohibits all harmful, illegal or otherwise offensive
      conduct, including, but not limited to the following:</p>
      <ul>
        <li><p class="cjk" >
        Misrepresenting,
        impersonating, abusing, stalking, threatening or harassing any
        person or company, including, but not limited to other users,
        Wiimmfi itself, and/or its moderators.
        </p>
        <li><p class="cjk" >
        Doing
        anything illegal, discriminatory, defamatory, hateful, harassing,
        abusive, obscene, threatening, physically dangerous or otherwise
        objectionable in connection with Wiimmfi.</p>
      </ul>
      <p class="cjk" >
      2.	Wiimmfi & WiiLink
      are not responsible for anything you say or anything that happens on
      Wiimmfi or WiiLink as a result of your use of said services
      ; you alone are responsible.</p>
      <p class="cjk" >
      3.	Virtual
      property. Some games or other content may have certain features that
      can be traded with other Wii Network Services users. For example, a
      game might give you the ability to create a character that gathers
      objects (like a car or gold coins) and has certain characteristics
      (like a special ability or appearance). These features are sometimes
      called &ldquo;virtual property.&rdquo; Nintendo (or its licensors)
      own this virtual property, and you may not sell, trade, assign,
      license, or otherwise convey virtual property for real money or for
      Wii points.
      </p>
      <p class="cjk" >
      4. Rules of Wiimmfi.
      Wiimmfi has rules which are designed to make it a family friendly and cheater-free environment. Here are the rules:
      <br><li>Do not use console ID changers of any kind
      <br><li>Do not cheats that benefit you (VR hacks, item cheats, speed modifiers, texture hacks) when in Worldwide. They are, however allowed in region 191 and friend rooms, <b>if the host allows them.</b>
      </p>
      <br>
      <br>
      <div class="container">
        <div class="notification is-danger">
      <p class="cjk" >
      <b>5. Wiimmfi & WiiLink
      reserves the right to immediately terminate or suspend your use of Wiimmfi or WiiLink for, in their sole discretion, any violation of this Wii Code of Conduct or Wiimmfi rules.
      All bans can be temporary, or permanent.</b>
      </p>
      </div>
      </div>
</section>

<Footer/>

<style>
    .section{
        width:1000px;
        left:50%;
        transform: translate(-50%,50px);
        margin-bottom: 80px;
        position: relative;
        color:white;
        font-family: Cafe;
    }
    .title{
        font-family: Gilroy;
        font-size: 30px;
    }
    .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#fff 10%, transparent 11%), radial-gradient(#fff 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.05;
    rotate: 30deg;
    left:-50px;
    top:-38px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

  .notification{
    background-color: #292929;
    padding:20px;
    border-radius:8px;
    border: 2px solid #ffffff20;
    text-align:center
  }

  .is-danger{
    background-color: #db0f0f20;
    border: 4px solid #db0f0f80;
  }

  .is-warning{
    background-color: #c9b81620;
    border: 4px solid #c9b81680;
  }

  strong{
    font-family:Gilroy;
    font-size:20px;
  }

  @media (max-width:1000px) {
    .section{
        width:98%;
    }
    h1{
        font-size: 100px;
    }
  }

</style>