---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/layout.astro";
import Header from "../../../components/header.astro";
import Footer from "../../../components/footer.astro";

changeLanguage("en-US");
---
<Layout title="Wii Menu Themes - WiiLink" />
<Header isGuide="display:none;"/>
<div
  style="width:98%; max-width:1300px; margin-bottom:30px; left:50%; transform:translate(-50%, 0); padding:10px; border-radius:8px; color:white; background-color:rgb(203, 60, 60); box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1); text-align:center; position:relative;">
  <i class="fa fa-triangle-exclamation"></i> Heads up! This content is a port of
  the RiiConnect24 site
</div>
<div class="section no-pad-bot">
	<div class="container">
		<h1 class="header center"><i class="fas fa-download" aria-hidden="true"></i> Theme Downloads</h1>
		<div class="row center">
			<h5 class="header center col s12">Here's some themes for you to download.</h5>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<h3 class="">RiiConnect24 Themes</h3>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_3ds_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">3DS Theme</span>
						<p class="light">By liam2503</p>
					</div>
					<div class="card-action">
						<a href="https://themeplaza.eu/item/2170">ThemePlaza</a>
						<a href="rc24_3ds_theme.zip">Direct</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_3ds_badge_set.png">
					</div>
					<div class="card-content">
						<span class="card-title">3DS Badge Set</span>
						<p class="light">By Larsenv</p>
					</div>
					<div class="card-action">
						<a href="rc24_3ds_badge_set.zip">Download</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_firefox_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Firefox Theme</span>
						<p class="light">By meltstrap</p>
					</div>
					<div class="card-action">
						<a href="https://addons.mozilla.org/en-US/firefox/addon/riiconnect24/">Download</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_google_chrome_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Google Chrome Theme</span>
						<p class="light">By liam2503</p>
					</div>
					<div class="card-action">
						<a href="rc24_google_chrome_theme.zip">Download</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_hbc_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Homebrew Channel Theme</span>
						<p class="light">By liam2503</p>
					</div>
					<div class="card-action">
						<a href="rc24_hbc_theme.zip">Download</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_usb_loader_gx_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">USB Loader GX Theme</span>
						<p class="light">By liam2503</p>
					</div>
					<div class="card-action">
						<a href="rc24_usb_loader_gx_theme.zip">Download</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="rc24_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_red_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wii Menu Theme - Red</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="rc24_red_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
						<a href="https://imgur.com/a/rGrlf3Y">Screenshots</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rc24_wood_r4_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wood R4 Theme</span>
						<p class="light">By liam2503</p>
					</div>
					<div class="card-action">
						<a href="rc24_wood_r4_theme.zip">Download</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3 class="">Everybody Votes Channel</h3>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="evc_3ds_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">3DS Theme</span>
						<p class="light">By sks316</p>
					</div>
					<div class="card-action">
						<a href="https://themeplaza.eu/item/2112">ThemePlaza</a>
						<a href="evc_3ds_theme.zip">Direct</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3 class="">Material</h3>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="material_dark_usb_loader_gx_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Material Dark</span>
						<p class="light">By Larsenv</p>
						<a href="http://wiibrew.org/wiki/Homebrew_Channel/Themes">Based on the Homebrew Channel theme by
							Shining Wing</a>
					</div>
					<div class="card-action">
						<a href="material_dark_usb_loader_gx_theme.zip">Download</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="material_light_usb_loader_gx_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Material Light</span>
						<p class="light">By Larsenv</p>
						<a href="http://wiibrew.org/wiki/Homebrew_Channel/Themes">Based on the Homebrew Channel theme by
							Shining Wing</a>
					</div>
					<div class="card-action">
						<a href="material_light_usb_loader_gx_theme.zip">Download</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h3 class="">Wii Menu Themes</h3>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="darkwii_plus_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">DarkWii Plus</span>
						<p class="light">By Diddy81 & Burrito</p>
					</div>
					<div class="card-action">
						<a href="https://website.burrito.software/ANY_DarkWii_Plus_v7.mym">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="animal_crossing_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Animal Crossing Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="animal_crossing_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="check_mii_out_channel_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Check Mii Out Channel Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="check_mii_out_channel_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
						<a href="https://imgur.com/a/ay7sDM8">Screenshots</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="discord_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Discord Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="discord_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="kirby_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Kirby Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="kirby_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="mkw_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Mario Kart Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="mkw_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="pikmin_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Pikmin Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="pikmin_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
						<a href="https://imgur.com/a/8dB8hgs">Screenshots</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="rhythm_heaven_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Rhythm Heaven Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="rhythm_heaven_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
						<a href="https://imgur.com/a/UVkQQHk">Screenshots</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="warioware_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">WarioWare Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="warioware_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="wii_fit_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wii Fit Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="wii_fit_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="wii_sports_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wii Sports Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="wii_sports_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="wii_u_wii_menu_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Wii U Wii Menu Theme</span>
						<p class="light">By BlueNight</p>
					</div>
					<div class="card-action">
						<a href="wii_u_wii_menu_theme.zip">Download</a>
						<a href="https://wii.hacks.guide/themes">How to Install</a>
						<a href="https://imgur.com/a/nJDramU">Screenshots</a>
					</div>
				</div>
			</div>
		</div>
		<h3 class="">Other</h3>
		<div class="row">
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="discord_hbc_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">Discord Homebrew Channel Theme</span>
						<p class="light">By Larsenv</p>
					</div>
					<div class="card-action">
						<a href="discord_hbc_theme.zip">Download</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="pokeacer_hbc_theme.png">
					</div>
					<div class="card-content">
						<span class="card-title">PokeAcer Madness Homebrew Channel Theme</span>
						<p class="light">By MCNX</p>
					</div>
					<div class="card-action">
						<a href="pokeacer_hbc_theme.zip">Download</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

<Footer />

	<style>
		.card {
			border-radius:8px;
			margin:10px;
			border:2px solid #ffffff20;
			box-shadow: 0px 0px 28px #6c6c6c20;
			overflow: hidden;
		}
	
		.card-image{
			padding:20px;
		}
	</style>