---
import { changeLanguage } from "i18next";
import Layout from "../../../../layouts/layout.astro";
import Header from "../../../../components/header.astro";
import Footer from "../../../../components/footer.astro";

changeLanguage("pt-PT");
---

<Layout title="Wallpapers - WiiLink" />
<Header isGuide="display:none;" />
<div
  style="width:98%; max-width:1300px; margin-bottom:30px; left:50%; transform:translate(-50%, 0); padding:10px; border-radius:8px; color:white; background-color:rgb(203, 60, 60); box-shadow: 0px 0px 10px rgba(240, 80, 80, 0.1); text-align:center; position:relative;">
  <i class="fa fa-triangle-exclamation"></i> Heads up! This content is a port of
  the RiiConnect24 site
</div>
<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center">
      <i class="fas fa-download" aria-hidden="true"></i> Wallpaper Downloads
    </h1>
    <div class="row center">
      <h5 class="header center col s12">
        Here's our collection of wallpapers you can download.
      </h5>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h3 class="">RiiConnect24 Wallpapers</h3>
    <p class="">Made by Larsenv</p>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/riiconnect24_background_1_1920x1080.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper 1</span>
          </div>
          <div class="card-action">
            <a href="riiconnect24_background_1_1920x1080.png">1920x1080</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="riiconnect24_background_2_1920x1080.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper 2</span>
          </div>
          <div class="card-action">
            <a href="riiconnect24_background_2_1920x1080.png">1920x1080</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="riiconnect24_kouichi_1_1920x1080.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper Quote 1</span>
          </div>
          <div class="card-action">
            <a href="riiconnect24_kouichi_1_1920x1080.png">1920x1080</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="riiconnect24_kouichi_2_1920x1080.png" />
            </div>
            <div class="card-content">
              <span class="card-title">Wallpaper Quote 2</span>
            </div>
            <div class="card-action">
              <a href="riiconnect24_kouichi_2_1920x1080.png">1920x1080</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="riiconnect24_kuniharu_1_1920x1080.png" />
            </div>
            <div class="card-content">
              <span class="card-title">Wallpaper Quote 3</span>
            </div>
            <div class="card-action">
              <a href="riiconnect24_kuniharu_1_1920x1080.png">1920x1080</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="riiconnect24_kuniharu_2_1920x1080.png" />
            </div>
            <div class="card-content">
              <span class="card-title">Wallpaper Quote 4</span>
            </div>
            <div class="card-action">
              <a href="riiconnect24_kuniharu_2_1920x1080.png">1920x1080</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h3 class="">Wii Front Wallpapers</h3>
    <p class="">
      Made by <a href="https://youtube.com/c/466gaming">466</a>
    </p>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="riiconnect24_black_wii_1920x1080.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Black Wallpaper</span>
          </div>
          <div class="card-action">
            <a href="riiconnect24_black_wii_1920x1080.png">1920x1080</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="riiconnect24_white_wii_1920x1080.png" />
          </div>
          <div class="card-content">
            <span class="card-title">White Wallpaper</span>
          </div>
          <div class="card-action">
            <a href="riiconnect24_white_wii_1920x1080.png">1920x1080</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h3 class="">Wii Wallpapers</h3>
    <p class="">Made by KcrPL</p>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="WiiDiscSlotLight.jpg" />
          </div>
          <div class="card-content">
            <span class="card-title">Wii Disc Slot Light Wallpaper</span>
          </div>
          <div class="card-action">
            <a href="WiiDiscSlotLight.jpg">1920x1080</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h3 class="">Check Mii Out Channel Wallpapers</h3>
    <p class="">Made by Super from NotDiscord™</p>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="CMO_Channel_BG_1600x900.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper 1</span>
          </div>
          <div class="card-action">
            <a href="CMO_Channel_BG_1600x900.png">1600x900</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="CMO_Channel_BG_blue_1600x900.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper 2</span>
          </div>
          <div class="card-action">
            <a href="CMO_Channel_BG_blue_1600x900.png">1600x900</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="CMO_Channel_BG_orange_1600x900.png" />
          </div>
          <div class="card-content">
            <span class="card-title">Wallpaper 3</span>
          </div>
          <div class="card-action">
            <a href="CMO_Channel_BG_orange_1600x900.png">1600x900</a>
          </div>
        </div>
      </div>
      <br />
      <h3 class="">Everybody Votes Channel Wallpaper</h3>
      <p class="">Made by Larsenv</p>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="EVC_1920x1080.png" />
            </div>
            <div class="card-content">
              <span class="card-title">Wallpaper 1</span>
            </div>
            <div class="card-action">
              <a href="EVC_1920x1080.png">1920x1080</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <h3 class="center">Other Wallpapers</h3>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="SystemFilesCorrupted_3840x2160.png" />
            </div>
            <div class="card-content">
              <span class="card-title">The system files are corrupted</span>
            </div>
            <div class="card-action">
              <a href="SystemFilesCorrupted_3840x2160.png">3840x2160</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="riiconnect24_invite_background_1920x1080.png" />
            </div>
            <div class="card-content">
              <span class="card-title"
                >RiiConnect24 Discord Invite Wallpaper</span
              >
            </div>
            <div class="card-action">
              <a href="riiconnect24_invite_background_1920x1080.png"
                >1920x1080</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />

  <style>
    .card {
      border-radius: 8px;
      margin: 10px;
      border: 2px solid #ffffff20;
      box-shadow: 0px 0px 28px #6c6c6c20;
      overflow: hidden;
    }

    .card-image {
      padding: 20px;
    }
  </style>
</div>
